/*
Theme Name: documentation
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: documentation
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

document is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*,::after,::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}::after,::before{content:''}body{font-size:100%;font-family:"Open Sans",sans-serif;color:#4e5359;background-color:#f3f3f5}body::after{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(78,83,89,0.8);visibility:hidden;opacity:0;-webkit-transition:opacity .3s 0s,visibility 0 .3s;-moz-transition:opacity .3s 0s,visibility 0 .3s;transition:opacity .3s 0s,visibility 0 .3s}body.cd-overlay::after{visibility:visible;opacity:1;-webkit-transition:opacity .3s 0s,visibility 0 0;-moz-transition:opacity .3s 0s,visibility 0 0;transition:opacity .3s 0s,visibility 0 0}@media only screen and (min-width: 768px){body::after{display:none}}a{color:#ffb606;text-decoration:none}header{position:relative;text-align:center;background-color:#ffb606;padding:100px 0}header h1{color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:20px;font-size:1.25rem;line-height:2em}header .buttons{color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}@media only screen and (min-width: 1024px){header h1{font-size:36px;font-size:2.25rem;font-weight:300}}.cd-faq{width:90%;margin:2em auto;box-shadow:0 1px 5px rgba(0,0,0,0.1)}.cd-faq:after{content:"";display:table;clear:both}@media only screen and (min-width: 768px){.cd-faq{position:relative;margin:4em auto;box-shadow:none}}.cd-faq-categories a{position:relative;display:block;overflow:hidden;height:50px;line-height:50px;padding:0 28px 0 16px;background-color:#4e5359;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#fff;white-space:nowrap;border-bottom:1px solid #555b61;text-overflow:ellipsis}.cd-faq-categories a::before,.cd-faq-categories a::after{position:absolute;top:50%;right:16px;display:inline-block;height:1px;width:10px;background-color:#7f868e}.cd-faq-categories a::after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.cd-faq-categories li:last-child a{border-bottom:none}@media only screen and (min-width: 768px){.cd-faq-categories{width:20%;float:left;box-shadow:0 1px 2px rgba(0,0,0,0.08)}.cd-faq-categories a{font-size:13px;font-size:.8125rem;font-weight:600;padding:0 24px;-webkit-transition:background 0.2s,padding .2s;-moz-transition:background 0.2s,padding .2s;transition:background 0.2s,padding .2s}.cd-faq-categories a::before,.cd-faq-categories a::after{display:none}.no-touch .cd-faq-categories a:hover{background:#555b61}.no-js .cd-faq-categories{width:100%;margin-bottom:2em}}@media only screen and (min-width: 1024px){.cd-faq-categories{position:absolute;top:0;left:0;width:200px;z-index:2}.cd-faq-categories a::before{display:block;top:0;right:auto;left:0;height:100%;width:3px;background-color:#ffb606;opacity:0;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s}.cd-faq-categories .selected{background:#42464b!important}.cd-faq-categories .selected::before{opacity:1}.cd-faq-categories.is-fixed{position:fixed}.no-js .cd-faq-categories{position:relative}}.cd-faq-items{position:fixed;height:100%;width:90%;top:0;right:0;background:#fff;padding:0 5% 1em;overflow:auto;-webkit-overflow-scrolling:touch;z-index:1;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0) translateX(100%);-moz-transform:translateZ(0) translateX(100%);-ms-transform:translateZ(0) translateX(100%);-o-transform:translateZ(0) translateX(100%);transform:translateZ(0) translateX(100%);-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;transition:transform .3s}.cd-faq-items.slide-in{-webkit-transform:translateZ(0) translateX(0%);-moz-transform:translateZ(0) translateX(0%);-ms-transform:translateZ(0) translateX(0%);-o-transform:translateZ(0) translateX(0%);transform:translateZ(0) translateX(0%)}.no-js .cd-faq-items{position:static;height:auto;width:100%;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}@media only screen and (min-width: 768px){.cd-faq-items{position:static;height:auto;width:78%;float:right;overflow:visible;-webkit-transform:translateZ(0) translateX(0);-moz-transform:translateZ(0) translateX(0);-ms-transform:translateZ(0) translateX(0);-o-transform:translateZ(0) translateX(0);transform:translateZ(0) translateX(0);padding:0;background:transparent}}@media only screen and (min-width: 1024px){.cd-faq-items{float:none;width:100%;padding-left:220px}.no-js .cd-faq-items{padding-left:0}}.cd-close-panel{position:fixed;top:5px;right:-100%;display:block;height:40px;width:40px;overflow:hidden;text-indent:100%;white-space:nowrap;z-index:2;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:right .4s;-moz-transition:right .4s;transition:right .4s}.cd-close-panel::before,.cd-close-panel::after{position:absolute;top:16px;left:12px;display:inline-block;height:3px;width:18px;background:#6c7d8e}.cd-close-panel::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.cd-close-panel::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.cd-close-panel.move-left{right:2%}@media only screen and (min-width: 768px){.cd-close-panel{display:none}}.cd-faq-group{display:none}.cd-faq-group.selected{display:block}.cd-faq-group .cd-faq-title{background:transparent;box-shadow:none;margin:1em 0}.no-touch .cd-faq-group .cd-faq-title:hover{box-shadow:none}.cd-faq-group .cd-faq-title h2{text-transform:uppercase;font-size:12px;font-size:.75rem;font-weight:700;color:#bbbbc7}.cd-faq-group h3{font-size:1.4rem;margin-bottom:20px;line-height:1.4}.cd-faq-group h4{font-size:1.2rem;margin-bottom:20px;line-height:1.4}.no-js .cd-faq-group{display:block}@media only screen and (min-width: 768px){.cd-faq-group{display:block}.cd-faq-group > li{background:#fff;margin-bottom:6px;box-shadow:0 1px 2px rgba(0,0,0,0.08);-webkit-transition:box-shadow .2s;-moz-transition:box-shadow .2s;transition:box-shadow .2s}.no-touch .cd-faq-group > li:hover{box-shadow:0 1px 10px rgba(108,125,142,0.3)}.cd-faq-group .cd-faq-title{margin:2em 0 1em}.cd-faq-group:first-child .cd-faq-title{margin-top:0}}.cd-faq-trigger{position:relative;display:block;margin:1.6em 0 .4em;line-height:1.2}@media only screen and (min-width: 768px){.cd-faq-trigger{font-size:24px;font-size:1.5rem;font-weight:300;margin:0;padding:24px 72px 24px 24px}.cd-faq-trigger::before,.cd-faq-trigger::after{position:absolute;right:24px;top:50%;height:2px;width:13px;background:#cfdca0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s}.cd-faq-trigger::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);right:32px}.cd-faq-trigger::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.content-visible .cd-faq-trigger::before{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.content-visible .cd-faq-trigger::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}}.cd-faq-content p{font-size:14px;font-size:.875rem;line-height:1.4;color:#6c7d8e;margin-bottom:1rem}.cd-faq-content img{max-width:100%;padding:6px;box-shadow:0 0 7px rgba(108,125,142,0.2);border:1px solid #e0e0e0;margin-bottom:20px}@media only screen and (min-width: 768px){.cd-faq-content{display:none;padding:0 24px 30px}.cd-faq-content p{line-height:1.6}.no-js .cd-faq-content{display:block}}.buttons{display:inline-block}.button{float:left;min-width:150px;max-width:250px;display:block;margin:1em;padding:1em 2em;border:none;background:none;color:inherit;vertical-align:middle;position:relative;z-index:1;-webkit-backface-visibility:hidden;-moz-osx-font-smoothing:grayscale}.button:focus{outline:none}.button > span{vertical-align:middle}.buttons .button{color:#42464b;border-color:#fff}.button--size-s{font-size:14px}.button--text-thick{font-weight:600}.button--text-upper{letter-spacing:2px;text-transform:uppercase}.button--rayen{overflow:hidden;padding:0;width:230px}.button--rayen.button--inverted{color:#fff}.button--rayen::before{content:attr(data-text);position:absolute;top:0;left:0;width:100%;height:100%;background:#42464b;color:#FFF;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.button--rayen.button--inverted::before{background:#fff;color:#37474f}.button--rayen > span{display:block}.button--rayen::before,.button--rayen > span{padding:1em 2em;-webkit-transition:-webkit-transform .3s;transition:transform .3s;-webkit-transition-timing-function:cubic-bezier(0.75,0,0.125,1);transition-timing-function:cubic-bezier(0.75,0,0.125,1)}.button--rayen:hover::before{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.button--rayen:hover > span{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}.button--border-thin{border:1px solid}