.thim-widget-courses {
	position: relative;
	.view-all-courses {
		border: 1px solid #fff;
		display: inline-block;
		margin: auto;
		line-height: 38px;
		height: 40px;
		padding: 0 25px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 700;
		border-radius: 30px; 
		color: #fff;
		&:hover{
			background: #fff;
		}
	}
	.view-all{
		text-align: center;
		margin-top: 50px;
		display: block;
	}
	.thim-course-grid { 
		margin: 0 -15px;
	}
}

div.thim-course-carousel {
	margin: 0 -15px;
	width: auto;
	>.course-item{
		max-width: 270px;
		overflow: hidden;
		float: left;
		margin: 0 15px;
	}
	.owl-item {
		padding: 0 15px;
	}
	.owl-controls {
		position: absolute;
		right: 15px;
		top: -90px;
		.owl-nav{
			.owl-prev,
			.owl-next {
				display: inline-block;
				margin-left: 10px;
				cursor: pointer;
				border: 1px solid #fff;
				width: 30px;
				text-align: center;
				line-height: 28px;
				border-radius: 50%;
				.fa {
					text-align: center;
					vertical-align: middle;
					line-height: 28px;
					color: #fff;
					font-size: 20px;
					display: block;
				}
			}
		}
		
	}
}

.thim-course-grid {
	.site-main & {
		overflow: hidden;
		clear: both;
		margin: 0 -15px;
	}
	.profile-tabs & {
		&.thim-carousel-wrapper {
			overflow: visible;
			margin-bottom: 40px;
			padding-top: 30px;
			.owl-controls {
				top: -60px;
			}
		}
	}
	&:not(.thim-course-carousel) {
		.thim-widget-courses & {
			overflow: hidden;
			clear: both;
			margin: 0 -15px;
		}
	}
	.course-grid-2 {
		width: 50%;
		&:nth-child(2n+1) {
			clear: both;
		}
	}
	.course-grid-3 {
		width: 33.33%;
		&:nth-child(3n+1) {
			clear: both;
		}
	}
	.course-grid-4 {
		width: 25%;
		&:nth-child(4n+1) {
			clear: both;
		}
	}
	.course-grid-5 {
		width: 20%;
		&:nth-child(5n+1) {
			clear: both;
		}
	}
	.lpr_course[class*='course-grid-'] {
		padding: 0 15px;
		float: left;
		margin-bottom: 40px;
		padding-top: 0 !important;
		.thim-ralated-course & {
			margin-bottom: 0;
		}
	}
}

.thim-course-grid {
	.course-item {
		box-shadow: none;
		background-color: #fff;
		.course-thumbnail {
			margin: 0;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				.transition(all 0.5s ease-in-out);
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				background: rgba(0, 0, 0, 0.6);
				.transition(all 0.3s);
				.opacity(0);
			}
			> a {
				width: 100%;
				display: inline-block;
				position: relative;
				&.course-readmore {
					position: absolute;
					top: 50%;
					background: transparent;
					border: 1px solid #fff;
					border-radius: 30px;
					color: #fff;
					line-height: 30px;
					padding: 5px 25px;
					z-index: 90;
					left: 50%;
					right: auto;
					margin: auto;
					width: auto;
					font-size: 13px;
					font-weight: 700;
					text-transform: uppercase;
					.opacity(0);
					.transition(all 0.3s ease-in-out);
					.transform(translate(-50%, -50%) scale(1.2, 1.2));
				}
			}
			&:hover {
				img {
					.transform(scale(1.05, 1.05));
				}
				&:before {
					.opacity(1);
				}
				> a.course-readmore {
					.transform(translate(-50%, -50%) scale(1, 1));
					.opacity(1);
				}
			}
		}
		.thim-course-content {
			line-height: 25px;
			border: 1px solid #e5e5e5;
			border-top: 0;
			padding: 0 20px;
			.middle {
				.course-author {
					width: 70%;
					float: left;
					margin-top: 0;
					margin-bottom: 20px;
					position: relative;
					line-height: 30px;
					img {
						float: left;
						margin-right: 10px;
						border-radius: 50%;
						position: relative;
						z-index: 3;
						width: 30px;
						height: 30px;
					}

					label {
						display: none;
					}

					.value {
						font-size: 12px;
						font-weight: 700;
						text-transform: capitalize; 
						margin-top: 0;

						a {
							color: #666;
						}
					}
				}

				.course-students {
					width: 30%;
					float: left;
					line-height: 30px;
					padding-top: 0;
					.fa{
						font-size: 14px;
						margin-right: 3px;
					}
					.value{
						font-weight: 700;
						font-size: 12px; 
						color: #666;
					}
					label {
						display: none;
					}
				}

				.clearfix();
			}

			.course-title {
				font-size: 15px;
				font-weight: 700;
				line-height: 25px;
				padding-top: 12px;
				margin: 0 0 12px;
				height: 62px;
				display: block;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				text-transform: none;
				a {
					display: block;
				}
			}
			>.course-author,
			> .course-description,
			> .course-readmore,
			> .course-price {
				display: none;
			}
			.course-meta {
				overflow: hidden;
				position: relative;
				padding: 14px 0 15px;
				display: block;
				margin: 0;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 1px;
					height: 1px;
					width: 100%;
					background: #e5e5e5;
				}
				.course-author,
				.course-review.course-review-list,
				label {
					display: none;
				}
				.value {
					font-size: 14px;
					color: #ccc;
					line-height: 30px;
					font-weight: 400;
					text-transform: none;
				}
				> div {
					display: inline-block;
					float: left;
					line-height: 30px;
					margin-right: 15px;
					color: #ccc;
					padding: 0;
					border: 0;
					&.course-students{
						display: none;
					}
					a {
						color: #ccc;
					}
					i {
						display: inline-block;
						margin-right: 4px;
						line-height: 30px;
						font-size: 13px;
						vertical-align: top;
						&.fa-comment {
							margin-top: -1px;
						}
					}
					&.course-price {
						float: right;
						margin-right: 0;
						.value {
							font-size: 14px;
							font-weight: 700;
							color: #2e8ece;
							line-height: 14px;
							&.free-course {
								color: #26a65b;
							}
						}
					}
				}
			}
		}
	}
}

.thim-course-list {
	.lpr_course {
		clear: both;
		border-bottom: 1px solid #e5e5e5;
		padding: 40px 0;
		padding-top: 40px !important;
		overflow: hidden;
		&:first-child {
			padding-top: 0px !important;
		}
		&:last-child{
			margin-bottom: 40px;
		}
	}
	.course-item {
		overflow: hidden;
		.course-thumbnail {
			float: left;
			height: auto;
			overflow: hidden;
			max-width: 22%;
			max-width: calc(~"270px");
			max-width: -webkit-calc(~"270px");
			max-width: -moz-calc(~"270px");
			margin-right: 3%;
			margin-right: calc(~"30px");
			margin-right: -webkit-calc(~"30px");
			margin-right: -moz-calc(~"30px");
			img {
				width: 100%;
				.transition(all 0.5s ease-in-out);
			}
			> a {
				display: inline-block;
				position: relative;
				width: 100%;
			}
			&:hover {
				img {
					.transform(scale(1.05, 1.05));
				}
			}
			.course-readmore {
				display: none;
			}
		}
		.thim-course-content {
			width: 75%;
			width: calc(~"100% - 300px");
			width: -webkit-calc(~"100% - 300px");
			width: -moz-calc(~"100% - 300px");
			float: right;
			.middle,
			.course-meta .course-review.course-review-grid,
			> .course-author {
				display: none;
			}
			.course-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 30px;
				margin: 3px 0 2px;
				text-transform: none;
				a {
					display: block;
				}
			}
			.course-meta {
				overflow: hidden;
				position: relative;
				padding: 0;
				label {
					font-size: 12px;
					font-weight: 700;
					color: #ccc;
					margin-bottom: 0;
				}
				.value {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 700;
					color: #7a7a7a;
				}
				> div {
					margin-top: 15px;
					display: inline-block;
					line-height: 20px;
					margin-right: 20px;
					padding-right: 20px;
					color: #ccc;
					border-right: 1px solid #eee;
					float: left;
					.value {
						line-height: 16px;
					}
					i {
						display: none;
					}
					&.course-author {
						img {
							border-radius: 50%;
							width: 30px;
							height: auto;
							float: left;
							margin-right: 10px;
							margin-top: 5px;
						}
						.author-contain {
							display: inline-block;
						}
						.value {
							a {
								color: #666;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					&.course-comments-count,
					&.course-price {
						display: none;
					}
					&.course-students {
						padding-right: 0;
						margin-right: 0;
						border-right: 0;
						.fa{
							font-size: 14px;
							margin-right: 3px;
						}
						.value{
							font-weight: 700;
							font-size: 12px;
							color: #666;
						}
					}
				}
			}
			.course-description {
				margin: 30px 0 30px;
				height: 75px;
				line-height: 25px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
			.course-price {
				float: left;
				font-weight: 700;
				font-size: 18px;
				line-height: 25px;
				label,
				.value {
					display: inline-block;
				}
				label {
					color: #999;
					margin-bottom: 0;
				}
				.value {
					color: #2e8ece;
					&.free-course {
						color: #54b551;
					}
				}
			}
			.course-readmore {
				float: right;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 13px;
				margin-top: -6px;
				a {
					line-height: 30px;
					height: 40px;
					padding: 5px 25px;
					display: inline-block;
					border-radius: 30px;
					color: #fff;
				}
			}
		}
	}
}

.add-review .review-stars-rated,
.rating-box .review-stars-rated,
.course-review .review-stars-rated {
	height: 16px;
	line-height: 16px;
	width: 85px;
	float: left;
	overflow: hidden;
	.review-stars {
		margin: 0;
		display: inline-block;
		list-style: none;
		line-height: 16px;
		height: 16px;
		> li {
			width: 17px;
			height: 16px;
			display: inline-block;
			float: left;
			span {
				font-size: 13px;
				width: auto;
				height: auto;
				border-bottom: none;
				text-decoration: none;
				color: #f1c40f;
				&:before {
					width: auto;
					height: auto;
				}
			}
		}
		&.filled {
			height: 16px;
			> li {
				position: static;
			}
		}
	}
}

/** Search course **/
.thim-course-top {
	background: #f5f5f5;
	padding: 10px 10px 10px 20px;
	margin-bottom: 60px;
	min-height: 54px;
	.thim-course-switch-layout {
		float: left;
		a {
			font-size: 18px;
			display: inline-block;
			line-height: 34px;
			margin-right: 5px;
			color: #ccc;
		}
	}
	.course-index {
		display: inline-block;
		line-height: 34px;
		font-size: 13px;
		color: #999;
		margin-left: 15px;
	}
	.courses-searching {
		float: right;
		position: relative;
		ul {
			margin: 0;
			left: 0px;
			right: 0px;
			z-index: 99;
			overflow: hidden;
			line-height: 30px;
			background: #f6f6f6;
			border: none;
			margin-top: 2px;
			min-width: 270px;
			position: absolute;
			box-shadow: inset 0px 0px 1px 1px #eee;
			li {
				list-style: none;
				line-height: 30px;
				padding: 0px 20px;
				height: 30px;
				display: block;
				a {
					display: inline-block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					max-width: 100%;
					color: #666;
					font-size: 13px;
					&:hover {
						text-decoration: underline;
					}
				}
				&.ob-selected {
					a {
						text-decoration: underline;
					}
				}
				&:first-child {
					margin-top: 10px;
				}
				&:last-child {
					margin-bottom: 10px;
				}
			}
		}
		form {
			border: 0;
			background: #fff;
			width: 270px;
			position: relative;
			line-height: 34px;
			input[type='text'] {
				font-size: 13px;
				color: #999;
				line-height: 20px;
				padding: 6px 0 6px 10px;
				border-radius: 0;
				width: 100%;
				height: 34px;
				border: 1px solid #e5e5e5;
				.transition(all 0.3s ease-in-out);
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
			button[type='submit'] {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				text-align: center;
				z-index: 10;
				background: transparent;
				box-shadow: none;
				border: none;
				outline: none;
				width: 30px;
				padding: 0;
				line-height: 34px;
				i {
					font-size: 14px;
					color: #ccc;
					line-height: 34px;
				}
			}
		}
	}
}

/** Addon wishlist **/
.course-item {
	.course-thumbnail {
		position: relative;
		.course-wishlist-box {
			position: absolute;
			left: 15px;
			top: 15px;
			z-index: 88;
			.fa {
				cursor: pointer;
				width: 20px;
				height: 20px;
				display: block;
				text-align: center;
				line-height: 20px;
				font-size: 18px;
				&:before {
					line-height: 20px;
					display: inline-block;
				}
			}
			.course-wishlist {
				-webkit-text-stroke: 1px #fff;
				text-stroke: 1px #fff;
				color: #333;
				.transition(all 0.3s);
				&:hover {
					color: #f62459;
				}
			}
			.course-wishlisted {
				color: #F24C0A;
				-webkit-text-stroke: 1px #fff;
				text-stroke: 1px #fff;
			}
			.text {
				display: none !important;
			}
		}
	}
}

.thim-course-megamenu {
	.course-item {
		text-align: center;
	}
	.course-thumbnail {
		img {
			width: 100%;
			margin: 0;
		}
	}
	.course-title {
		font-size: 14px;
		font-weight: 700;
		text-transform: none;
		line-height: 25px;
		margin: 0;
		a {
			padding: 0 !important;
			margin-top: 3px;
		}
	}
	.course-price {
		.value {
			font-size: 13px;
			font-weight: 700;
			color: #f24c0a;
			margin-bottom: 7px;
			margin-top: 5px;
			&.free-course {
				color: #54b551;
			}
		}
	}
	.course-readmore {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
		padding: 5px 22px !important;
		display: inline-block !important;
		line-height: 30px;
	}
}

body .course-meta>* {
	display: inline-block;
	font-style: normal;
	font-size: inherit;
}
body .course-meta > *:after{
	display: none;
}

#learn-press-popup-certificate{
	background: #54B551;
	color: #fff;
	&:hover{
		background: #51a74e;
	}
}

// Slider v2
.slider-v2 {
  .thim-course-content {
	  .course-title {
		  a {
				color: #666666;
		  }
	  }
	  .course-meta {
		  label {
			  display: block !important;
		  }
		  .course-students {
			  display: block !important;
			  .value {
					color: #666666;
			  }
		  }
		  .course-price {
			  .value {
				  color: #26a65b !important;
			  }
		  }
		  .value {
			  line-height: 15px !important;
			  font-weight: 700 !important;
			  .fa {
				  display: none;
			  }
		  }
	  }
  }
}
.thim-widget-courses {
	.view-all-courses-health {
	  border: 1px solid #2acd35;
	  display: inline-block;
	  margin: auto;
	  line-height: 38px;
	  height: 40px;
	  padding: 0 25px;
	  text-transform: uppercase;
	  font-size: 13px;
	  font-weight: 700;
	  border-radius: 30px;
	  color: #2acd35;
	}
}