.clear_fix::after, .clear_fix::before {
	clear: both;
	content: '';
	display: table;
}

.tp-preview-images {
	position: fixed;
	right: 300px;
	display: none;
	z-index: 9999999;
}

.tp-preview-images img {
	max-height: 300px;
	width: auto;
}

.tp-title {
	text-align: center;
	font-weight: 600;
}

.tp-description {
	text-align: center;
	font-size: 0.8em;
	padding: 10px 10px 20px;
	margin-bottom: 0;
}
.tp-chameleon-demos-wrapper{
	padding-bottom: 20px;
}
.tp_style_selector_container{
	padding-top: 25px;
}
.tp-buy-theme {
	text-align: center;
	margin-top: 0;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0;
	overflow: hidden;
	a{
		max-width: 230px;
		margin: auto;
	}
	.tp-description{
		margin-top: 5px;
		.old-price{
			text-decoration: line-through;
			font-size: 16px;
			color: #f36329;
			font-weight: 700;
		}
		.current-price{
			font-size: 20px;
			color: #82b440;
			font-weight: 700;
		}
	}
}

.tp-chameleon-btn-buy {
	display: none;
	position: fixed;
	bottom: -100px;
	right: 50px;
	z-index: 99;
}

.tp-chameleon-btn-buy:hover .number {
	background-color: #729c29;
}

@media all and (min-width: 768px) {
	.tp-chameleon-btn-buy {
		display: block;
	}
}

.tp-chameleon-btn-buy .logo-envato {
	height: 40px;
	width: 40px;
	position: relative;
	top: 20px;
	left: 40px;
	z-index: 99;
	background-color: #82b440;
}

.tp-chameleon-btn-buy .logo-envato svg {
	height: 40px;
	width: 40px;
	padding: 12px;
}

.tp-chameleon-btn-buy .number {
	color: #fff;
	line-height: 70px;
	min-width: 70px;
	min-height: 70px;
	text-align: center;
	font-size: 30px;
	display: block;
	position: relative;
	background-color: #82b440;
	transition: all 200ms ease-out;
}

.tp-chameleon-btn-buy .number span {
	position: relative;
	display: block;
	left: 2px;
}

.tp-chameleon-btn-buy .number:before {
	content: attr(data-currency);
	font-size: 12px;
	top: -10px;
	left: 14px;
	position: absolute;
}

.tp-chameleon-btn-buy > * {
	box-shadow: -1px 1px 5px 1px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}

.tp-buy-theme a.link-buy {
	text-decoration: none !important;
	color: #fff !important;
	background-color: #82b440;
	padding: 10px;
	min-width: 200px;
	display: block;
}
.tp-buy-theme .link-end{
	text-decoration: underline;
	color: #333;
}

.admin-bar #tp_style_selector {
	top: 32px;
}

#tp_style_selector {
	background: #fff;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: -300px;
	z-index: 100;
	font-family: Arial, Helvetica, sans-serif !important;
	color: #333;
	-webkit-transition: height 1s; /* Safari */
	transition: height 1s;

	-webkit-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
	box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
	border: 1px solid rgba(23, 24, 26, 0.15);
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;

}

.tp_style_selector_container {
	height: 100%;
	overflow-y: auto;
	position: relative;
	z-index: 1;
	width: 100%;
	body.mac-os &{
		width: 100%;
	}
}

#tp_style_selector{
	//overflow: hidden;
}
.box-title {
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.input-box {
	text-align: center;
	padding-bottom: 20px;
	margin-top: 20px;
}

.input-box .input select {
	padding: 5px 10px;
	max-width: 200px;
}

.input-box .tp-btn {
	text-decoration: none;
	color: #333;
	font-size: 15px;
	border: 1px solid #eee;
	padding: 7px 32px;
	display: inline-block;
	min-width: 100px;
	outline: none;
	text-transform: none;
}

.input-box .tp-btn.layout-wide {
	margin-right: 10px;
}

.input-box .tp-btn:hover {
	text-decoration: none;
}

.input-box .tp-change-layout.active {
	background-color: #eee;
}

#tp_style_selector .style-toggle {
	width: 50px;
	height: 54px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px 0 0 5px;
	left: -44px;
	position: absolute;
	top: 150px;
	text-shadow: 0 0 0;
	font-weight: normal;
	opacity: 1;
	z-index: 0;
	color: #333;
	box-shadow: -3px 0 5px -2px rgba(0, 0, 0, 0.14);
}

#tp_style_selector .style-toggle:before {
	color: #333;
	content: "\f013";
	font-family: FontAwesome;
	line-height: 54px;
	font-size: 21px;
	text-align: center;
	display: block;
}

#tp_style_selector .style-toggle.open:before {
	-webkit-animation-name: spin__;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin__;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin__;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin__;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-ms-keyframes spin__ {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-moz-keyframes spin__ {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin__ {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin__ {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html[dir="rtl"] #tp_style_selector .style-toggle:before {
	left: -20px;
	position: relative;
}

#tp_style_selector .images {
	padding: 0 25px 15px 25px;
	margin-top: 6px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	position: relative;
	z-index: 1000000;
}

#tp_style_selector .images img {
	width: 25px;
	height: 24px;
	margin-right: 7px;
	margin-bottom: 7px;
	z-index: 1000;
}

#tp_style_selector .images img.active {
	border: 0 solid #ccc;
	opacity: 0.5;
}

#tp_style_selector .images a {
	background: url("../images/style-selector.png") no-repeat top left;
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 7px;
	width: 25px;
	height: 24px;
}

#tp_style_selector .images .bgfix1 {
	background-position: -501px -10px;
}

#tp_style_selector .images .bgfix2 {
	background-position: -580px -10px;
}

#tp_style_selector .images .bgfix3 {
	background-position: -644px -10px;
}

#tp_style_selector .images .bgfix4 {
	background-position: -710px -10px;
}

#tp_style_selector .images .bgfix5 {
	background-position: -777px -10px;
}

#tp_style_selector .images .pattern1 {
	background-position: -10px -10px;
}

#tp_style_selector .images .pattern2 {
	background-position: -50px -10px
}

#tp_style_selector .images .pattern3 {
	background-position: -95px -10px
}

#tp_style_selector .images .pattern4 {
	background-position: -153px -10px;
}

#tp_style_selector .images .pattern5 {
	background-position: -200px -10px;
}

#tp_style_selector .images .pattern6 {
	background-position: -245px -10px;
}

#tp_style_selector .images .pattern7 {
	background-position: -300px -10px;
}

#tp_style_selector .images .pattern8 {
	background-position: -350px -10px;
}

#tp_style_selector .images .pattern9 {
	background-position: -405px -10px;
}

#tp_style_selector .images .pattern10 {
	background-position: -460px -10px;
}

.primary_color a {
	width: 25px;
	height: 24px;
	display: inline-block;
	margin-bottom: 7px;
	margin-right: 7px;
}

.primary_color {
	padding: 0 0 15px;
	border-bottom: 1px solid #eee;
	text-align: center;
}

#tp_style_selector .pickcolor {
	padding: 10px 0;
	overflow: hidden;
	height: auto;
	line-height: 26px
}

#tp_style_selector .pickcolor span {
	float: left;
	margin-left: 25px;
}

.clear_style_selector {
	color: #bababa;
	padding-bottom: 5px;
	display: inline-block;
}

.style-toggle.close {
	display: none;
}

.boxed-mode {
	display: none;
}

.tp_background_pattern {
	background: repeat fixed;
}

.tp_background_image {
	background: no-repeat fixed;
	background-size: cover;
}

.tp_pattern.active, .tp_image.active, .primary_color .active {
	border: 2px solid #333;
}

.images.patterns {
	text-align: center;
}

.tp_chameleon_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999999999;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.tp_chameleon_progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 100px;
	text-align: center;
}

.tp_chameleon_heading {
	color: #fff;
	font-size: 40px;
}

.tp_chameleon_demos {
	margin-left: 5px;
	margin-right: 5px;
}

.tp_demo {
	position: relative;
	padding-bottom: 6px;
	overflow: hidden;
	width: 50%;
	float: left;
}

.tp_demo:nth-child(even) {
	padding-right: 3px;

}

.tp_demo:nth-child(odd) {
	padding-left: 3px;
}

.tp_demo:first-child {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.tp_demo a {
	display: block;
	background: no-repeat;
	width: 100%;
	height: 110px;
}

.tp_demo:first-child a {
	width: 100%;
	height: 150px;
}

.tp_demo img {
	max-width: 100%;
	height: auto;
	border: 1px solid #eee;
}

.tp_demo:hover, .tp_demo.active {
	border-color: #82b440;
}

/* Tipso Bubble Styles */
.tipso_bubble, .tipso_bubble > .tipso_arrow {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tipso_bubble {
	position: absolute;
	text-align: center;
	border-radius: 6px;
	z-index: 9999;
}

.tipso_title {
	border-radius: 6px 6px 0 0;
	padding: 10px;
	font-size: 1.2em;
}

.tipso_content {
	word-wrap: break-word;
}

.tipso_content img {
	width: 100%;
	height: auto;
}

/* Tipso Bubble Div */
.tipso_bubble > .tipso_arrow {
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid;
	pointer-events: none;
}

.tipso_bubble.top > .tipso_arrow {
	border-top-color: #000;
	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
	top: 100%;
	left: 50%;
	margin-left: -8px;
}

.tipso_bubble.bottom > .tipso_arrow {
	border-bottom-color: #000;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
}

.tipso_bubble.left > .tipso_arrow {
	border-left-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
	top: 50%;
	left: 100%;
	margin-top: -8px;
}

.tipso_bubble.right > .tipso_arrow {
	border-right-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 50%;
	right: 100%;
	margin-top: -8px;
}

.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
	border-bottom-left-radius: 0;
}

.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner {
	border-top-left-radius: 0;
}

.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
	border-bottom-right-radius: 0;
}

.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner {
	border-top-right-radius: 0;
}

//view-more-slider
.tp-buy-theme{
  .link-buy{
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #82b440;
	font-size: 13px;
	padding: 10px 20px;
	line-height: 1.5;
	box-shadow: 0 2px 0 #6f9a37;
	width: 100%;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	max-width: 240px;
	&:hover{
	  color: #fff;
	  background-color: #7aa93c;
	}
	i{
	  margin-right: 8px;
	}
  }
  .view-more-slider{
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #e6e6e6;
	font-size: 13px;
	padding: 0;
	color: #666666;
	line-height: 1.5;
	box-shadow: 0 2px 0 #a8a8a8;
	width: 100%;
	border: none;
	border-radius: 4px;
	margin-top: 12px;
	margin-bottom: 7px;
	max-width: 240px;
	&:hover{
	  background-color: #e0e0e0;
	}
	a{
	  padding: 10px;
	  font-size: 13px;
	  line-height: 1.5;
	  display: block;
	  color: #666666;
	  &:hover{
		color: #666666;
		text-decoration: none;
	  }
	  i{
		font-style: normal;
		text-decoration: line-through;
	  }
	}
  }
}
