/** Login Page **/
.thim-login {
    width: 100%;
    clear: both;
    float: none;
    .title {
        font-size: 24px;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin: -12px 0 23px;
        padding: 0;
        text-transform: none;
        line-height: 40px;
    }
    .register-area {
        h2 {
            margin-top: 50px;
        }
    }
    form#registerform,
    form#loginform,
    form#resetpassform {
        border: 0;
        padding: 0;
        max-width: 420px;
        margin: auto;
        clear: both;
        .form-row {
            margin: 0;
            padding: 0;
        }
        > a.lost-pass-link {
            width: 50%;
            float: right;
            display: block;
            font-weight: 400;
            margin-top: 7px;
            margin-bottom: 14px;
            line-height: 25px;
            text-align: right;
            &:hover {
                text-decoration: underline;
            }
        }
        p {
            margin: 0;
            &.login-username,
            &.login-password {
                label {
                    display: none;
                }
            }
            &.login-remember {
                width: 50%;
                float: left;
                font-weight: 400;
                margin-top: 7px;
                margin-bottom: 14px;
                line-height: 25px;
                text-align: left;
                input[type="checkbox"] {
                    border: 1px solid #000;
                }
                label {
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
        label[for='become_teacher'] {
            font-weight: 400;
            line-height: 25px;
            margin: 7px 0 14px;
            input {
                border: 1px solid #111;
            }
        }
        input[type="email"],
        input[type="password"],
        input[type="text"] {
            width: 100%;
            line-height: 30px;
            padding: 4px 20px;
            border: 1px solid #e5e5e5;
            color: #999;
            margin-bottom: 20px;
            clear: both;
            display: block;
            min-height: 40px;
            border-radius: 0;
            .transition(all 0.3s ease-in-out);
            &::-webkit-input-placeholder {
                line-height: 30px;
                .transition(none);
            }

            &:-moz-placeholder { /* Firefox 18- */
                line-height: 30px;
                .transition(none);
            }

            &::-moz-placeholder { /* Firefox 19+ */
                line-height: 30px;
                .transition(none);
            }

            &:-ms-input-placeholder {
                line-height: 30px;
                .transition(none);
            }
        }
        input[type="submit"] {
            border: 0;
            line-height: 30px;
            padding: 5px 25px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 15px;
            border-radius: 30px;
            color: #fff;
        }
        .submit,
        .login-submit{
            display: block;
            text-align: center;
        }

        .gglcptch.gglcptch_v2 {
            margin-bottom: 18px;
        }
    }

    .link-bottom {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        text-transform: none;
        margin: 0;
        margin-top: 10px;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.thim-login #resetpassform {
    .message {
        margin-top: 30px;
    }
}

form#lostpasswordform {
    text-align: center;
    margin-bottom: 70px;
    .description {
        margin: auto;
        max-width: 450px;
        margin-bottom: 50px;
    }
    p {
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            .transition(all 0.3s ease-in-out);
            width: 100%;
            display: inline-block;
            max-width: 350px;
            line-height: 30px;
            padding: 4px 20px;
            border: 1px solid #e5e5e5;
            border-radius: 0;
            &::-webkit-input-placeholder {
                line-height: 30px;
            }

            &:-moz-placeholder {
                line-height: 30px;
            }

            &::-moz-placeholder {
                line-height: 30px;
            }

            &:-ms-input-placeholder {
                line-height: 30px;
            }
        }
        input[type="submit"] {
            padding: 5px 25px;
            border: 0;
            display: inline-block;
            line-height: 30px;
            height: 40px;
            margin-left: 5px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 700;
            border-radius: 30px;
            color: #fff;
        }
    }
}


.thim-widget-login-form .message {
    max-width: 600px;
    margin: 0 auto 30px;
}

.thim-login-captcha {
    text-align: center;
    > span {
        display: inline-block;
    }
}

#learn-press-form-login {
    border: 0;
    padding: 0;
    clear: both;
    margin-bottom: 30px;
    max-width: 350px;
    .form-row {
        margin: 0;
        padding: 0;
    }
    a.lost-pass-link {
        width: 50%;
        float: right;
        display: block;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 14px;
        line-height: 25px;
        text-align: right;
        &:hover {
            text-decoration: underline;
        }
    }
    p {
        margin: 0;
        &.login-remember {
            font-weight: 400;
            margin-top: 7px;
            margin-bottom: 14px;
            line-height: 25px;
            input[type="checkbox"] {
                border: 1px solid #000;
            }
            label {
                font-weight: 400;
                margin: 0;
            }
        }
    }
    label[for='become_teacher'] {
        font-weight: 400;
        line-height: 25px;
        margin: 7px 0 14px;
        input {
            border: 1px solid #111;
        }
    }
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
        max-width: 350px;
        line-height: 30px;
        padding: 4px 20px;
        border: 1px solid #e5e5e5;
        color: #999;
        margin-bottom: 20px;
        clear: both;
        display: block;
        min-height: 40px;
        border-radius: 0;
        .transition(all 0.3s ease-in-out);
        &::-webkit-input-placeholder {
            line-height: 30px;
            .transition(none);
        }

        &:-moz-placeholder { /* Firefox 18- */
            line-height: 30px;
            .transition(none);
        }

        &::-moz-placeholder { /* Firefox 19+ */
            line-height: 30px;
            .transition(none);
        }

        &:-ms-input-placeholder {
            line-height: 30px;
            .transition(none);
        }
    }
    input[type="submit"] {
        max-width: 350px;
        border: 0;
        width: 100%;
        line-height: 30px;
        padding: 5px 25px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        border-radius: 0;
    }

    .gglcptch.gglcptch_v2 {
        margin-bottom: 18px;
    }
}

#thim-popup-login {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999999;
    .opacity(0);
    visibility: hidden;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    width: 100%;
    height: 100vh;
    .scale(0.2, 0.2);
    .transition(all .3s cubic-bezier(0.4, 0, 1, 1));
    &.active{
        .scale(1, 1);
        .opacity(1);
        visibility: visible;
    }
    .thim-login-container {
        background: #fff;
        position: relative;
        padding: 50px 50px 80px;
        overflow: hidden;
        max-width: 900px;
        margin: auto;
        top: 0;
        cursor: default;
        p,a{
            font-size: 15px;
            font-weight: 400;
        }
        .close-popup{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            display: none;
        }
    }
    .message {
        display: block;
        position: absolute;
        left: 30px;
        right: 30px;
        text-align: left;
        font-size: 13px !important;
    }
    .thim-login-container > br {
        display: none;
    }

    &.has-shortcode { 
        .thim-login {
            width: 55%;
            padding: 0 30px;

            position: relative;
            float: left;
            clear: none;
            border-left: 1px solid #eee;
            .title {
                font-size: 24px;
                font-weight: 700;
                position: relative;
                text-align: center;
                margin: 0 0 23px;
                padding: 0;
                text-transform: none;
                line-height: 30px;
            }
        }
    }

    .thim-loading-container {
        .opacity(0.6);
    }
}

.mo-openid-app-icons {
    width: 45%;
    float: left;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    > p {
        font-size: 24px !important;
        font-weight: 700 !important;
        position: relative;
        text-align: center;
        margin: 0 0 23px;
        padding: 0;
        text-transform: none;
        line-height: 30px;
        margin-bottom: 20px !important;
    }
    a {
        padding-left: 38px!important;
        margin: 0 5px!important;
        cursor: pointer;
    }
    .btn-block {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
        padding-top: 11px;
        padding-bottom: 11px;
        &:hover{
            text-decoration: none;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
    }
    .btn-social {
        position: relative;
        display: inline-block;
        padding-left: 44px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none!important;
        line-height: 22px;
        text-align: center;
        margin-top: 20px!important;
        &:nth-child(2) {
            margin-top: 0!important;
        }
        i {
            position: absolute;
            line-height: 21px;
            text-align: center;
            left: 0;
            top: 0;
            line-height: 41px;

        }
        &.btn-facebook {
            color: #fff;
            background-color: #3b5998;
            border-color: rgba(0,0,0,0.2);
            &:hover {
                background-color:#2d4373;
                border-color:rgba(0,0,0,0.2);
            }
        }
        &.btn-google {
            color: #fff!important;
            background-color: #dd4b39;
            border-color: rgba(0,0,0,0.2);
            &:hover, &:focus, &:active {
                background-color:#c23321;
                border-color:rgba(0,0,0,0.2);
            }
        }
        &.btn-twitter {
            color: #fff!important;
            background-color: #55acee;
            border-color: rgba(0,0,0,0.2);
            &:hover, &:focus, &:active {
                background-color:#2795e9;
                border-color:rgba(0,0,0,0.2);
            }
        }
        &.btn-instagram {
            color: #fff!important;
            background-color: #3f729b;
            border-color: rgba(0,0,0,0.2);
            &:hover, &:focus, &:active {
                background-color:#305777;
                border-color:rgba(0,0,0,0.2);
            }
        }
    }
}
.thim-search-active{
    #tp_style_selector{
        visibility: hidden;
    }
}
body.thim-popup-active{
    #tp_style_selector{
        visibility: hidden;
    }
    #thim-popup-login{
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==),progress;
    }
}
