#toolbar .widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a {
    color: #333333;
}
.widget_shopping_cart {
    position: relative;
    .minicart_hover {
        margin-top: 0;
        margin-bottom: 0;
        .cart-items-number {
            display: block;
            position: relative;
            text-align: left;
            cursor: pointer;
            font-size: 16px;
            padding-right: 15px;
            span.wrapper-items-number {
                background-color: #fff;
                border-radius: 50%;
                bottom: 15px;
                display: block;
                font-size: 12px;
                font-weight: 600;
                height: 18px;
                left: 17px;
                line-height: 18px;
                width: 18px;
                padding: 0 2px;
                position: absolute;
                text-align: center;
                .items-number {
                    font-size: 11px;
                    font-weight: 700;
                }
            }
        }
    }

    .widget_shopping_cart_content {
        display: none;
        background: #fff;
        left: auto;
        position: absolute;
        right: 0;
        top: 30px;
        min-width: 350px;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
        -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
        z-index: 9999;
        padding-top: 10px;
        padding-bottom: 25px;
        .cart_list.product_list_widget {
            max-height: 315px;
            overflow: auto;
            padding: 0 20px;
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 6px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 6px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }
            li {
                padding: 10px 0;
                border-top: 1px solid #eee;
                width: 100%;
                margin-left: 0 !important;
                a {
                    text-align: left;
                    max-width: 95%;
                    img {
                        margin-right: 15px;
                        width: 65px !important;
                        float: left;
                        margin-bottom: 0;
                    }
                }
                dl {
                    border-left: 0 none !important;
                    float: left;
                    padding-left: 0 !important;
                    min-width: 60%;
                    dd {
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }

                .quantity {
                    float: left;
                    padding: 0;
                    text-align: left;
                    min-width: 60%;
                }
                .remove {
                    font-size: 20px !important;
                    left: auto!important;
                    right: 10px;
                    top: 10px!important;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    &:before {
                        font-size: 15px;
                    }
                }
            }
            li:first-child {
                border-top: none;
            }
            .empty {
                padding-top: 18px;
                padding-bottom: 0;
                text-align: center;
            }
        }
        .total {
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            padding: 15px 20px;
            text-align: center;
            .amount {
                font-weight: 700;
                margin-left: 10px;

            }
        }
        .buttons {
            text-align: center;
            a {
                border-radius: 30px;
                margin: 0 10px;
                font-size: 13px;
                height: 40px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 5px 25px;
            }
            .checkout {
                color: #fff;
                position: relative;
            }
        }
        a {
            &:hover {
                text-decoration: none!important;
            }
        }
    }
}

body:not(.woocommerce):not(.woocommerce-page) .widget_shopping_cart{
    display: none !important;
}
