/**** ALL PAGE CSS HERE - ANH MINH ****/
/** Page FAQs **/
.thim-contact-faqs {
    max-width: 585px;
    margin: 72px auto 100px;
    h4 {
        font-weight: 700;
        font-size: 30px;
        margin: 0;
        line-height: 30px;
        margin-bottom: 34px;
    }
}

/** Page 404 **/
.page-404-content {
    text-align: center;
    padding: 80px 90px;
    h2 {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 60px;
        font-weight: 700;
        margin-top: 40px;
        position: relative;
        .line-title {
            width: 30px;
            height: 3px;
            background: #2e8ece;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .messages-404 {
        margin-top: 35px;
        color: #8f8f8f;
        .thim-color {
            font-weight: 700;
            color: #2e8ece;
        }
    }
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

/*** Become a teacher ***/
.thim-apply-as-intructor {
    max-width: 770px;
    clear: both;
    margin: auto;
    text-align: center;
}

.become-teacher-form {
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid #eee;
    .teacher-title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #eee;
        line-height: 40px;
        padding: 16px 0;
        margin: 0;
    }
    .message.message-info {
        margin-bottom: 0;
    }
    ul {
        margin: 0;
        li {
            list-style: none;
            input {
                width: 330px;
                max-width: 100%;
                margin: auto;
                box-shadow: none;
                border: 1px solid #eee;
                line-height: 30px;
                height: 40px;
                padding: 5px 10px;
                margin-bottom: 10px;
                text-align: center;
                color: #999;
            }
        }
    }
    button[type="submit"] {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        border: 0;
        line-height: 30px;
        height: 40px;
        padding: 5px 25px;
        box-shadow: none;
    }
    form {
        padding: 60px 20px 80px;
    }
    &:not(.allow){
        form{
            padding: 45px 20px 56px;
        }
        button[type=submit],
        button[type=submit]:hover{
            .opacity(0.7);
            background: #ccc !important;
            color: #666 !important;
        }
        [disabled='disabled'] {
            cursor: not-allowed;
        }
    }
}

.thim-about-us-quote {
    text-align: center;
    max-width: 715px;
    margin: auto;
    margin-top: 102px;
    p {
        color: #999;
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
    }
    .agency {
        line-height: 25px;
    }
    hr {
        width: 110px;
        margin: 52px auto 38px;
        height: 1px;
    }
}

.rev_slider_wrapper {
    .tp-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid #82888d;
        &.selected {
            border-color: #ffb606;
            background: #ffb606;
        }
    }
}

.non-display {
    display: none;
}
