/**
 *
 * @author kien16
 */

/**
 *
 * @author kien16
 */

.mfp-wrap, .mfp-bg {
    z-index: 999999;
}

/* Related Portfolio. This is the same effect with gallery,effects_classic*/
.related-portfolio {
    clear: both;
    margin-top: 40px;
    padding: 0;
    .module_title {
        margin-bottom: 40px;
    }

    li {
        list-style: none;
    }
    .portfolio-image {
        position: relative;
        img {
            width: 100%;
        }
    }
    .portfolio_hover {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        color: #fff;
        .opacity(0);
        &:hover {
            .opacity(1);
        }
        &:hover .p_line {
            width: 50%;
        }
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .thumb-bg {
            display: inline-block;
            vertical-align: middle;
            height: auto;
            width: 70%;
        }
        .mask-content {
            h3 a {
                color: #fff;
            }
        }
    }

    .p_line {

        height: 1px;
        background: #fff;
        width: 20%;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        display: inline-block;
        margin: 5px 0;
    }
    .cat_portfolio a {
        color: #fff;
    }
}

/* effect hover */
.wapper_portfolio.standard.effects_zoom_01 {

    .link_hover {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
        -o-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        display: block;
        overflow: hidden;
    }

    .portfolio_hover {
        display: none;
    }
    .portfolio-image img, .portfolio-image .thumb-img {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
        -o-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        -o-transition: all 0.2s ease-in-out 0s;
        -ms-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    .portfolio-image:hover img, .portfolio-image:hover .thumb-img {
        .scale(1.2);
    }
}

.wapper_portfolio.gallery.effects_zoom_01 {
    .thumb-bg {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        width: 70%;
    }

    .portfolio_hover:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .portfolio-image {
        position: relative;
        overflow: hidden;
    }
    .portfolio_hover {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        padding: 20px;

    }
    .portfolio_hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
        top: 0
    }

    .portfolio-image:hover .portfolio_hover .read_more {
        opacity: 1;
    }
    .mask-content {
        h3 > a, .cat_portfolio {
            color: #fff;
        }
    }
    .portfolio-image > img, .portfolio-image .thumb-img {
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        -ms-border-radius: 2px 2px 0 0;
        -o-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        .transition(all 0.2s ease-in-out);
    }
    .portfolio-image:hover > img, .portfolio-image:hover .thumb-img {
        .scale(1.2);
    }
}

.wapper_portfolio.standard.effects_zoom_02 {
    .mask-content {
        display: table-cell;
        vertical-align: middle;
    }

    .portfolio-image:hover .mask-content .btn_zoom {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        visibility: visible !important;
    }

    .portfolio-image:hover .mask-content .btn_zoom {
        -webkit-animation-name: fadeInDown;
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .portfolio-image {
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            bottom: 8px;
            right: 8px;
            border: 2px solid;
            border-color: #fff;
            opacity: .3;
        }
        position: relative;
        overflow: hidden;
    }
    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
    }
    .portfolio_hover {
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            bottom: 8px;
            right: 8px;
            border: 2px solid;
            border-color: #fff;
            opacity: .3;
        }
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: opacity 300ms ease-in-out;
        -moz-transition: opacity 300ms ease-in-out;
        -ms-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        padding: 20px;
    }
    .portfolio_hover .thumb-bg {
        background-color: fade(blue, 40%);
        height: 100%;
        width: 100%;
        display: table;
    }
    .portfolio-image img, .portfolio-image .thumb-img {
        .transition(all 0.8s ease);
    }
    .portfolio-image:hover img, .portfolio-image:hover .thumb-img {
        .scale(1.2);
    }
}

.wapper_portfolio.gallery.effects_zoom_02 {
    .mask-content {
        display: table-cell;
        vertical-align: middle;
    }
    .portfolio-image .mask-content h3,
    .portfolio-image:hover .mask-content .cat_portfolio,
    .portfolio-image:hover .mask-content .btn_zoom {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
        visibility: visible !important;
    }

    .portfolio-image:hover .mask-content h3 {
        -webkit-animation-name: fadeInLeft;
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }
    .portfolio-image:hover .mask-content .cat_portfolio {
        -webkit-animation-name: fadeInRight;
        -moz-animation-name: fadeInRight;
        -o-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
    .portfolio-image:hover .mask-content .btn_zoom {
        -webkit-animation-name: fadeInDown;
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .portfolio-image {
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            bottom: 8px;
            right: 8px;
            border: 2px solid;
            border-color: #fff;
            opacity: .3;
        }
    }
    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
    }
    .portfolio_hover {
        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            bottom: 8px;
            right: 8px;
            border: 2px solid;
            border-color: #fff;
            opacity: .3;
        }
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: opacity 300ms ease-in-out;
        -moz-transition: opacity 300ms ease-in-out;
        -ms-transition: opacity 300ms ease-in-out;
        -o-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        padding: 20px;
    }
    .portfolio_hover .thumb-bg {
        background-color: fade(blue, 40%);
        height: 100%;
        width: 100%;
        display: table;
    }
    .portfolio-image > img, .portfolio-image .thumb-img {
        .transition(all 0.8s ease);
    }
    .portfolio-image:hover > img, .portfolio-image:hover .thumb-img {
        .scale(1.2);
    }
}

.wapper_portfolio.standard.effect-layla {

    .item_large .portfolio_hover h3 {
        font-size: 28px
    }
    .portfolio_hover a.link_hover {
        z-index: 999;
    }

    .portfolio_hover {
        h3 a, .cat_portfolio {
            position: relative;
            z-index: 9;
            text-align: left;
        }
        .read_more {
            z-index: 9;
        }
    }

    .portfolio_hover h3 {
        text-transform: none !important;
        text-align: left;
    }

    .portfolio_hover h3 a, .portfolio_hover {
        color: #fff
    }

    .portfolio_hover h3 a:hover {
        opacity: 0.8;
    }

    .portfolio_hover .cat_portfolio {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600
    }
    .portfolio_hover h3 a:hover {
        opacity: 0.8;
    }

    .portfolio_hover .cat_portfolio {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600
    }

    .portfolio_hover {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        padding: 20px;

    }

    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
        top: 0
    }

    .portfolio-image:hover .portfolio_hover .read_more {
        opacity: 1;
    }

    .portfolio_hover {
        background: rgba(0, 0, 0, 0.3);
    }

    .portfolio-image {
        position: relative;
        overflow: hidden;
        > a > img {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        h3 {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
        }
        .cat_portfolio {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0, 35px, 0);
            transform: translate3d(0, 35px, 0);
        }
        .read_more {
            right: 50%;
            margin-right: -26px;
            bottom: -50px;
        }

        &:hover {
            .portfolio_hover {
                &:before, &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            > a > img {
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            h3, .cat_portfolio {
                -webkit-transform: translate3d(0, 0px, 0);
                transform: translate3d(0, 0px, 0);
            }
            .read_more {
                bottom: 51px;
            }
        }

        .portfolio_hover {
            padding: 55px 65px 0 65px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:before, &:after {
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
            &:before, &:after {
                position: absolute;
                content: '';
                opacity: 0;
            }
            &:after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                .scale(1, 0);
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
            }
            &:before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                .scale(0, 1);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }

        }
    }
}

.wapper_portfolio.gallery.effect-layla {
    .btn_zoom {
        position: absolute;
        right: 50px;
        bottom: 50px;
        z-index: 1;
    }

    .item_large .portfolio_hover h3 {
        font-size: 28px
    }
    .portfolio_hover a.link_hover {
        z-index: 999;
    }

    .portfolio_hover {
        h3 a, .cat_portfolio {
            position: relative;
            z-index: 9;
            text-align: left;
        }
        .read_more {
            z-index: 9;
        }
    }

    .portfolio_hover h3 {
        text-transform: none !important;
        text-align: left;
    }

    .portfolio_hover h3 a, .portfolio_hover {
        color: #fff
    }

    .portfolio_hover h3 a:hover {
        opacity: 0.8;
    }

    .portfolio_hover .cat_portfolio {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600
    }
    .portfolio_hover h3 a:hover {
        opacity: 0.8;
    }

    .portfolio_hover .cat_portfolio {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600
    }

    .portfolio_hover {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        padding: 20px;

    }

    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
        top: 0
    }

    .portfolio-image:hover .portfolio_hover .read_more {
        opacity: 1;
    }

    .portfolio_hover {
        background: rgba(0, 0, 0, 0.3);
    }

    .portfolio-image {
        position: relative;
        > a > img {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        h3 {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
        }
        .cat_portfolio {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0, 35px, 0);
            transform: translate3d(0, 35px, 0);
        }
        .read_more {
            right: 50%;
            margin-right: -26px;
            bottom: -50px;
        }

        &:hover {
            .portfolio_hover {
                &:before, &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            > a > img {
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            h3, .cat_portfolio {
                -webkit-transform: translate3d(0, 0px, 0);
                transform: translate3d(0, 0px, 0);
            }
            .read_more {
                bottom: 51px;
            }
        }

        .portfolio_hover {
            padding: 55px 65px 0 65px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:before, &:after {
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
            &:before, &:after {
                position: absolute;
                content: '';
                opacity: 0;
            }
            &:after {
                top: 30px;
                right: 50px;
                bottom: 30px;
                left: 50px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                -webkit-transform: scale(1, 0);
                transform: scale(1, 0);
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
            }
            &:before {
                top: 50px;
                right: 30px;
                bottom: 50px;
                left: 30px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }

        }
    }
}

.wapper_portfolio.gallery.effect-bubba {
    .portfolio_hover {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        padding: 20px;

    }

    .portfolio-image:hover .portfolio_hover {
        opacity: 1;
        top: 0
    }

    .portfolio-image:hover .portfolio_hover .read_more {
        opacity: 1;
    }

    .portfolio_hover {
        background: rgba(0, 0, 0, 0.3);
    }
    .portfolio-image {
        position: relative;
        > a img {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        &:hover {
            > a img {
                opacity: 0.8;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
            }
            .portfolio_hover {
                background: rgba(0, 0, 0, 0.4);
                &:before, &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
                h3 {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
                .cat_portfolio {
                    opacity: 1;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            }

        }

        .portfolio_hover {
            top: 0;
            opacity: 1;
            padding: 2em;
            color: #fff;
            background: rgba(48, 133, 163, 0.2);
            &:before, &:after {
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                content: '';
                opacity: 0;
                -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
                transition: opacity 0.45s, transform 0.45s;
            }
            &:before, &:after {
                position: absolute;
                content: '';
                opacity: 0;
            }
            &:after {
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                -webkit-transform: scale(1, 0);
                transform: scale(1, 0);
            }
            &:before {
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
            }
            h3 {
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(0, -20px, 0);
                transform: translate3d(0, -20px, 0);
                text-align: center;
                padding-top: 40px;
            }
            .cat_portfolio {
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(0, 20px, 0);
                transform: translate3d(0, 20px, 0);
                text-align: center;
            }
        }
    }

    .btn_zoom {
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    .portfolio-image:hover .portfolio_hover .btn_zoom {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.effect-romeo {
    .portfolio-image {
        position: relative;
        > a img {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0, 0, 300px);
            transform: translate3d(0, 0, 300px);
            opacity: 0.8;
        }
        &:hover {
            > a img {
                opacity: 0.6;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            .portfolio_hover {
                background: rgba(0, 0, 0, 0.4);
                &:before {
                    opacity: 0.5;
                    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                }
                &:after {
                    opacity: 0.5;
                    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
                    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
                }
                h3 {
                    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
                    transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
                }
                .cat_portfolio {
                    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
                    transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
                }
            }

        }

        .portfolio_hover {
            top: 0;
            opacity: 1;
            padding: 2em;
            color: #fff;
            background: rgba(0, 0, 0, 0.2);
            &:before, &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                height: 1px;
                background: #fff;
                content: '';
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
            }
            &:before, &:after {
                position: absolute;
                content: '';
            }

            h3 {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
                transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
                text-align: center;
                margin: 0px;
                text-transform: uppercase !important;
            }
            .cat_portfolio {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                padding: 0.25em 0em;
                -webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
                transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
                text-align: center;
            }
        }
    }
}

.effect-oscar {
    .portfolio-image {
        position: relative;
        > a img {
            opacity: 1;

        }
        &:hover {
            > a img {
                opacity: 0.6;
            }
            .portfolio_hover {
                background: rgba(0, 0, 0, 0.4);
                &:before, .cat_portfolio, h3 {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

        }

        .portfolio_hover {
            top: 0;
            opacity: 1;
            padding: 2em;
            color: #fff;
            background: rgba(0, 0, 0, 0.2);
            &:before {
                position: absolute;
                top: 30px;
                right: 30px;
                bottom: 30px;
                left: 30px;
                border: 1px solid #fff;
                content: '';
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                -webkit-transform: scale(0);
                transform: scale(0);
            }

            h3 {
                margin: 50px 0 10px 0;
            }
            .cat_portfolio, h3 {
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
                .scale(0);
                text-align: center;
            }
        }
    }
}

.effects_over {

    .portfolio-image {
        position: relative;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        &:hover {
            .portfolio_hover {
                top: 0;
            }
        }
        .portfolio_hover {
            top: 100%;
            background: rgba(255, 228, 0, 0.8);
            color: #111111;
            &:before {
                position: absolute;
                content: '\f08e';
                font-family: FontAwesome;
                top: 30%;
                font-size: 25px;
                left: 0;
                width: 100%;
            }
            &:after {
                position: absolute;
                content: '\f178';
                font-family: FontAwesome;
                top: 65%;
                font-size: 25px;
                left: 0;
                width: 100%;
            }
            h3 {
                position: absolute;
                top: 45%;
                left: 0;
                width: 100%;
                text-align: center;
                margin: 0px;
                text-transform: uppercase !important;
                a {
                    color: #111111;
                }
            }
            .cat_portfolio {
                position: absolute;
                top: 52%;
                left: 0;
                width: 100%;
                padding: 0.25em 0em;
                text-align: center;
            }
        }
    }
}

.wapper_portfolio.gallery.effects_classic {
    .portfolio-image {
        position: relative;
    }
    .portfolio_hover {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        /*left: 10px;
        right: 10px;*/
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        text-align: center;
        color: #fff;
        .transition(all 0.4s ease-in-out);
        .opacity(0);
        &:hover {
            .opacity(1);
        }
        &:hover .p_line {
            width: 50%;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .thumb-bg {
            display: inline-block;
            vertical-align: middle;
            height: auto;
            width: 70%;
        }
        .mask-content {
            h3 a {
                color: #fff;
            }
        }
    }

    .p_line {

        height: 1px;
        background: #fff;
        width: 20%;
        .transition(all 0.4s ease-in-out);
        display: inline-block;
        margin: 5px 0;
    }
}

.wapper_portfolio.standard.effects_classic {

    .portfolio-image {
        position: relative;
    }
    .portfolio-image:hover .portfolio_hover {
        .opacity(1);
    }
    .portfolio_hover {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        text-align: center;
        color: #fff;
        .transition(all 0.4s ease-in-out);
        .opacity(0);
        &:hover {
            .opacity(1);
        }
        &:hover .p_line {
            width: 50%;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .thumb-bg {
            display: inline-block;
            vertical-align: middle;
            height: auto;
            width: 70%;
        }
        .mask-content {
            display: inline-block;
            vertical-align: middle;
            height: auto;
            width: 70%;
            h3 a {
                color: #fff;
            }
        }
    }
}

.btn_zoom {
    color: #fff;
    background: blue;
    padding: 0 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    .transition(all 0.2s ease-in-out);
    display: inline-block;
    margin: 5px;
    &:hover {
        background: #000;
        color: #fff;
    }
}

.wapper_portfolio.gallery {
    .mask-content h3 a,
    .cat_portfolio a {
        color: #fff;
    }
}

.wapper_portfolio .content_portfolio:after {
    content: "";
    display: block;
    clear: both;
}

.wapper_portfolio.standard {
    .portfolio_standard {
        background: #fff;
        border-radius: 0 0 2px 2px;
        padding: 20px;
        h3 {
            margin: 0;
            margin-bottom: 10px;
            a {
                color: #333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                width: 100%;
            }
        }
    }
    .portfolio-image {
        border-radius: 2px 2px 0 0;
        display: block;
        overflow: hidden;
    }
    .portfolio-content-inner {
        background: #fff;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
    }

}

.wapper_portfolio.gutter .item_portfolio {
    margin-bottom: 20px;
}

.wapper_portfolio .item_portfolio .portfolio-image img,
.wapper_portfolio.gutter .item_portfolio .portfolio-image img {
    height: auto;
    width: 100%;
}

/* gutter fix */
.portfolio-image {
    overflow: hidden;
}

.wapper_portfolio {
    overflow: hidden;
}

.wapper_portfolio .content_portfolio li {
    list-style: none outside none;

}

.wapper_portfolio .content_portfolio {
    overflow: hidden;
    width: 100%;
}

#infscr-loading {
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -45px;
    text-align: center;
}

/*:nth-child(3n+1)*/
.two-col.item_portfolio {
    width: 50%;
}

.three-col.item_portfolio {
    width: 33.33%;
}

.three-col.item_portfolio.item_large {
    width: 66.66%;
}

.four-col.item_portfolio {
    width: 25%;
}

.four-col.item_portfolio.item_large {
    width: 50%;
}

.five-col.item_portfolio {
    width: 20%;
}

.five-col.item_portfolio.item_large {
    width: 40%;
}

.content_portfolio {
    .element-item {
        float: left;
    }
}

/******* filters *********/
.portfolio-tabs {
    margin-left: 0;
}

.portfolio-tabs-wapper.filters.style-01 {
    margin-bottom: 25px;
    display: block;
    li {
        display: inline-block;
    }
    li a {
        padding: 7px 20px;
        background: #cccccc;
        color: #fff;
        font-weight: bold;
        display: block;
        text-align: center;
        min-width: 80px;
        border-radius: 2px;
    }
    li a:hover {
        background: #000;
        color: #fff;
        text-decoration: none;
    }
    li a.active {
        background: blue;
        position: relative;
    }
    li a.active:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid blue;
        bottom: -5px;
        content: "";
        display: inline-block;
        height: 0;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 0;
    }
}

.portfolio-tabs-wapper.filters.style-02 {
    text-align: center;
    padding: 0 0 15px 0;
    margin-bottom: 40px;
    display: block;
    li {
        display: inline-block;
    }
    li a {
        color: #b3b3b3;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        text-align: center;
        min-width: 80px;
        padding: 0 20px;
    }
    li a:hover {
        color: #000;
        text-decoration: none;
    }
    li a.active {
        color: #000;
        position: relative;
    }
    li a.active:before {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        bottom: -21px;
        content: "";
        display: inline-block;
        height: 0;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 0;
    }
    li a.active:after {
        background: #000;
        content: "";
        display: inline-block;
        height: 1px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -16px;
    }
}

.portfolio-tabs-wapper.filters.style-03 {
    width: 100%;
    text-align: center;
    //	border-top:    1px solid #EEE;
    padding-top: 40px;
    margin-bottom: 0px;
    border-radius: 0;
    .page-numbers {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0px;
        > li {
            display: inline; // Remove list-style and block-level defaults
            > a,
            > span {
                position: relative;
                float: left; // Collapse white-space
                /*padding:          6px 12px;*/
                padding: 8px 20px;
                text-decoration: none;
                color: #fff;
                //				border:          1px solid #ddd;
                background-color: #DDDDDD;
                margin-left: 2px;
            }
        }
        > li > a.active, > li.active > a, > li > a:hover {
            background: #A2A2A2;
            color: #fff;
        }

        > li > a {
            &:hover {
                background: #A2A2A2;
                color: #fff;
            }
            &.next, &.prev {
                color: #fff;
            }
        }

    }
}

.select-toggle_scroll_more {
    .loop-pagination {
        display: none;
    }
    .content_portfolio {
        margin-bottom: 55px;
        overflow: initial;
    }
    #infscr-loading {
        bottom: -55px;
    }
}

/* end paging */
/* popup image */
.mfp-close {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

/* popup slider */
.overflow-hidden {
    overflow: hidden !important;
}

.add-fix {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 999999;
}

.close-slider {
    right: 50px;
    position: absolute;
    top: 50px;
}

.close-slider span {
    font-size: 30px;
    color: #fff;
}

.gallery-slider-content > i {
    position: relative;
    top: 45%;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    width: 40px;
}

.gallery_content_area_wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    .portfolio-description {
        margin-bottom: 16px;
        margin-top: 16px;
        h3 {
            margin-bottom: 6px;
        }
    }
    .tags {
        margin-bottom: 16px;
    }
    .share {
        h3 {
            margin: 0 0 15px 0;
        }
    }
    .link-project {
        a {
            margin: 15px 0 0 0;
        }
    }
}

.gallery_content {
    position: absolute;
    top: 0px;
    width: 340px;
    background: #fff;
    word-break: break-word;
    z-index: 3;
    height: 100%;
    left: -340px;
    .transition(left 0.3s ease);
}

.gallery_content.show {
    left: 0px;
}

.single_portfolio_info_close i {
    display: inline-block;
    text-align: center;
    color: #fff;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    font-size: 14px;
    -webkit-user-select: none;
}

.single_portfolio_info_close i {
    border-radius: 0px;
    border: 0px;
    font-size: 16px;
    background: #000;
    padding: 1px 2px 0px 0px;
}

.single_portfolio_info_close i {
    border-radius: 0px;
    border: 0px;
    font-size: 16px;
    background: #000;
    padding: 1px 2px 0px 0px;
}

.single_portfolio_info_close {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 10;
    margin-top: -20px;
}

.single_portfolio_info_close {
    right: -40px;
    top: 40px;
}

.gallery-title {
    border-bottom: 1px #ccc solid;
    padding-bottom: 16px;
    text-transform: uppercase;
}

/* view all project */
.view_all {
    text-align: center;
    .sc-btn {
        margin: 10px 0 0 0;
    }

}

/* single portfolio */
/* Portfolio Format */
.portfolio-format-vertical-stacked {
    .be-animate {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.portfolio-format-gallery {
    .portfolio-gallery {
        margin: auto -15px;
    }
}

.portfolio-format-left-sidebar {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    .entry-content-portfolio {
        padding-left: 0;
    }
    .post-formats-wrapper {
        padding-right: 0;
    }
}

.portfolio-format-right-sidebar {
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    .entry-content-portfolio {
        padding-right: 0;
    }
    .post-formats-wrapper {
        padding-left: 0;
    }
}

.portfolio-format-page-builder {

}

.portfolio-format-sidebar-slider {
    .entry-content-portfolio {
        padding-right: 0;
    }
    .post-formats-wrapper {
        iframe {
            width: 100%;
            border: none;
        }
        padding-left: 0;
    }

}

/*single popup type */
.bd-content-portfolio {
    padding: 15px;
}

.mfp-arrow {
    width: 30px;
    height: 100px;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    margin-left: 3px;
    margin-top: 30px;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    margin-left: 7px;
    margin-top: 30px;
}

.entry-content-portfolio {
    .sc-btn {
        margin: 0;
    }
    .portfolio-description {
        h3 {
            text-transform: uppercase;
            margin: 0 0 15px 0;
        }
    }
    .portfolio-description, .share, .tags {
        margin-bottom: 30px;
    }

    .share {
        h3 {
            margin: 0 0 15px 0;
        }
    }
    .single-img {
        margin-bottom: 30px;
    }
}

section.tags {
    i {
        font-size: 20px;
        color: #000;
        vertical-align: middle;
        display: inline;
    }
    ul {
        display: inline;
        margin: 0;
        vertical-align: middle;
        margin-left: 8px;
    }
    ul li {
        display: inline-block;
        margin-left: -4px;
    }
    ul li:after {
        content: ".";
        padding: 0 6px;
        color: #cccccc;
    }
    ul li:last-child:after {
        content: "";
        padding: 0;
    }
}

/* gallery type */
.portfolio-gallery .columns {
    margin-bottom: 30px;
    a {
        display: block;
        overflow: hidden;
        text-align: center;
    }
    img {
        .transition(all 0.2s ease-in-out);
    }
    img:hover {
        .scale(1.2);
    }
}

/* animation type */
.be-animate {
    visibility: hidden;
    margin-bottom: 20px;
}

.be-section {
    overflow: hidden;
}

/* end single portfolio */

.standard.gutter.multigrid .portfolio-image > a {
    height: inherit;
}

/* portfolio reponsive */
@media only screen and (max-width: 990px) {
    .post-formats-wrapper, .related-portfolio {
        padding: 0;
    }

    .related-portfolio ul li {
        padding-bottom: 10px;
    }
}

@media (max-width: 940px) {
    .three-col.item_portfolio,
    .four-col.item_portfolio,
    .five-col.item_portfolio {
        width: 33.34%;
    }

    .three-col.item_portfolio.item_large,
    .four-col.item_portfolio.item_large,
    .five-col.item_portfolio.item_large {
        width: 66.66%;
    }
}

@media (max-width: 768px) {
    .two-col.item_portfolio,
    .three-col.item_portfolio,
    .three-col.item_portfolio.item_large,
    .four-col.item_portfolio,
    .four-col.item_portfolio.item_large,
    .five-col.item_portfolio,
    .five-col.item_portfolio.item_large {
        width: 50%;
    }
}

@media only screen and (max-width: 568px) {
    .portfolio-tabs-wapper.filters.style-01 {
        li {
            display: block;
            margin-bottom: 10px;
        }

    }

    .portfolio-tabs-wapper.filters.style-02 {
        li {
            display: inline-block;
            margin-bottom: 5px;
            padding: 10px;
            border: 1px solid #eee;
            width: 45%;
            a {
                &:before, &:after {
                    display: none !important;
                }
            }
        }

    }

}

@media (max-width: 480px) {
    .two-col.item_portfolio,
    .three-col.item_portfolio,
    .three-col.item_portfolio.item_large,
    .four-col.item_portfolio,
    .four-col.item_portfolio.item_large,
    .five-col.item_portfolio,
    .five-col.item_portfolio.item_large {
        width: 100%;
    }
}

.btn_zoom {
    display: none !important;
}

.read-more {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 75px;
}

.thim-widget-portfolio,
.portfolio_container {
    .wapper_portfolio {
        overflow: visible;
        .filters {
            text-align: center;
            margin-bottom: 60px;
            margin-top: -10px;
            .portfolio-tabs {
                margin: 0 auto;
                display: inline-block;
                border-bottom: 1px solid #eee;
                padding: 0 10px;
                li {
                    list-style: none;
                    display: inline-block;
                    a.filter {
                        display: inline-block;
                        border-bottom: 2px solid transparent;
                        margin: 0 8px -2px 8px;
                        padding: 5px 8px;
                        text-transform: uppercase;
                        cursor: pointer;
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
            }
        }
        .portfolio_column {
            .portfolio-hover {
                .mask-content {
                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                        margin-bottom: 0px;
                        margin-top: 0px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    .cat_portfolio {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 25px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
            .style01 {
                .item_portfolio {
                    background-color: #eee;
                    .portfolio-image {
                        position: relative;
                        overflow: hidden;
                        img {
                            -webkit-transform: translateY(0%);
                            transform: translateY(0%);
                            -webkit-transition: all 0.55s;
                            transition: all 0.55s;
                        }
                        .portfolio-hover {
                            visibility: hidden;
                            text-align: left;
                            padding: 15px 35px 20px;
                            display: block;
                            position: absolute;
                            width: 100%;
                            top: 0;
                            -webkit-transform: translateY(-100%);
                            transform: translateY(-100%);
                            -webkit-transition: all 0.6s;
                            transition: all 0.6s;
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                -webkit-transform: translateY(90px);
                                transform: translateY(90px);
                                opacity: 0.4;
                            }
                            .portfolio-hover {
                                -webkit-transform: translateY(0);
                                transform: translateY(0);
                                top: 0;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            .style02 {
                overflow: visible;
                li {
                    overflow: visible;
                    .portfolio-image {
                        overflow: visible;
                        .portfolio-hover {
                            position: absolute;
                            z-index: 99;
                            top: 0;
                            left: 0;
                            padding: 20px;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            text-align: center;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                            backface-visibility: hidden;
                            -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                            -moz-transition: -moz-transform 0.5s, opacity 0.5s;
                            transition: transform 0.5s, opacity 0.5s;
                            .mask-content {
                                padding-top: 35%;
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            .portfolio-hover {
                                opacity: 1;
                                .translate(15px, 15px);
                            }
                        }
                    }
                }
            }
            .style03 {
                overflow: visible;
                li {
                    overflow: visible;
                    .portfolio-image {
                        overflow: visible;
                        img {
                            overflow: visible;
                            position: relative;
                            z-index: 10;
                            -webkit-transition: -webkit-transform 0.4s;
                            -moz-transition: -moz-transform 0.4s;
                            transition: transform 0.4s;
                        }
                        .portfolio-hover {
                            position: absolute;
                            width: 100%;
                            top: auto;
                            bottom: 0;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                            backface-visibility: hidden;
                            z-index: 0;
                            .mask-content {
                                margin-bottom: 19px;
                                text-align: center;
                                h3 {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                .translate(0, -90px);
                            }
                        }
                    }
                }
            }
            .style04 {
                li {
                    overflow: hidden;
                    .portfolio-image {
                        img {
                            -webkit-transition: -webkit-transform 0.4s;
                            -moz-transition: -moz-transform 0.4s;
                            transition: transform 0.4s;
                            max-width: 100%;
                            display: block;
                            position: relative;
                        }
                        .portfolio-hover {
                            position: absolute;
                            height: 100px;
                            width: 100%;
                            top: auto;
                            bottom: 0;
                            .opacity(0);
                            .translate(0, 100%);
                            visibility: hidden;
                            -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
                            -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
                            transition: transform 0.4s, opacity 0.1s 0.3s;
                            .mask-content {
                                margin-top: 19px;
                                text-align: center;
                                h3 {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                .translate(0, -50px);
                            }
                            .portfolio-hover {
                                .opacity(1);
                                .translate(0, 0);
                                -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
                                -moz-transition: -moz-transform 0.4s, opacity 0.1s;
                                transition: transform 0.4s, opacity 0.1s;
                            }
                        }
                    }
                }
            }
            .style05 {
                overflow: visible;
                li {
                    overflow: visible;
                    -webkit-perspective: 1700px;
                    -moz-perspective: 1700px;
                    perspective: 1700px;
                    -webkit-perspective-origin: 0 50%;
                    -moz-perspective-origin: 0 50%;
                    perspective-origin: 0 50%;
                    .portfolio-image {
                        overflow: visible;
                        -webkit-transform-style: preserve-3d;
                        -moz-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        .img-portfolio {
                            overflow: hidden;
                            img {
                                position: relative;
                                z-index: 10;
                                -webkit-transition: -webkit-transform 0.4s;
                                -moz-transition: -moz-transform 0.4s;
                                transition: transform 0.4s;
                            }
                        }
                        .portfolio-hover {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 99;
                            height: 100%;
                            width: 50%;
                            opacity: 0;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                            backface-visibility: hidden;
                            -webkit-transform-origin: 0 0;
                            -moz-transform-origin: 0 0;
                            transform-origin: 0 0;
                            .rotateY(-90deg);
                            -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
                            -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
                            transition: transform 0.4s, opacity 0.1s 0.3s;
                            .mask-content {
                                margin-bottom: 19px;
                                text-align: center;
                                h3 {
                                    margin-top: 0;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                .translate(25%, 0);
                            }
                            .portfolio-hover {
                                .opacity(1);
                                .rotateY(0deg);
                                -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
                                -moz-transition: -moz-transform 0.4s, opacity 0.1s;
                                transition: transform 0.4s, opacity 0.1s;
                            }
                        }
                    }
                }
                .mask-content {
                    h3 {
                        margin-top: 15px !important;
                        margin-bottom: 15px !important;
                    }
                }
            }
            .style06 {
                li {
                    background: transparent !important;
                    .portfolio-image {
                        img {
                            -webkit-transition: -webkit-transform 0.4s;
                            -moz-transition: -moz-transform 0.4s;
                            transition: transform 0.4s;
                            max-width: 100%;
                            display: block;
                            position: relative;
                            z-index: 10;
                        }
                        .portfolio-hover {
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            .opacity(0);
                            .scale(0.7);
                            visibility: hidden;
                            -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
                            -moz-transition: -moz-transform 0.4s, opacity 0.4s;
                            transition: transform 0.4s, opacity 0.4s;
                            .mask-content {
                                text-align: center;
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                .scale(0.4);
                            }
                            .portfolio-hover {
                                .scale(1);
                                .opacity(1);
                            }
                        }
                    }
                }
            }
            .style07 {
                li {
                    .portfolio-image {
                        img {
                            -webkit-transition: -webkit-transform 0.4s;
                            -moz-transition: -moz-transform 0.4s;
                            transition: transform 0.4s;
                            max-width: 100%;
                            display: block;
                            position: relative;
                            z-index: 10;
                        }
                        .portfolio-hover {
                            position: absolute;
                            bottom: 30px;
                            width: 100%;
                            -webkit-backface-visibility: hidden;
                            -moz-backface-visibility: hidden;
                            backface-visibility: hidden;
                            .mask-content {
                                text-align: center;
                            }
                        }
                    }
                    &:hover {
                        .portfolio-image {
                            img {
                                -webkit-transform: translateY(-50px) scale(0.5);
                                -moz-transform: translateY(-50px) scale(0.5);
                                -ms-transform: translateY(-50px) scale(0.5);
                                transform: translateY(-50px) scale(0.5);
                            }
                        }
                    }
                }
            }
            .style08 {
                overflow: visible;
                li {
                    overflow: visible;
                    .portfolio-image {
                        img {
                            max-width: 100%;
                            display: block;
                            position: relative;
                            z-index: 10;
                        }
                        .portfolio-hover {
                            position: absolute;
                            bottom: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            pointer-events: none;
                            visibility: hidden;
                            -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
                            -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
                            transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
                            .mask-content {
                                text-align: center;
                            }
                        }
                    }
                    &:hover {
                        z-index: 999;
                        .portfolio-image {
                            .portfolio-hover {
                                pointer-events: auto;
                                opacity: 1;
                                height: 130%;
                                .mask-content {
                                    position: absolute;
                                    bottom: 30px;
                                    text-align: center;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//====== Single Portfolio
.portfolio-content {
    .entry-content-portfolio {
        .single-img {
            text-align: center;
            img {
                width: 100%;
            }
        }
    }
    .portfolio-gallery {
        .columns {
            a {
                img {
                    width: 100%;
                }
            }
        }
    }
    .post-formats-wrapper {
        p {
            img {
                width: 100%;
            }
        }
    }
    .tags {
        ul {
            li {
                a {
                    &:hover {
                        color: #666;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    p {
        iframe {
            width: 100%;
        }
    }
    .flex-direction-nav {
        li {
            a {
                color: #fff !important;
                i {
                    display: none;
                }
                &:before {
                    color: #fff !important;
                }
                &:hover {
                    background: #fff !important;
                }
            }
            .flex-prev {
                &:before {
                    margin-right: 5px;
                }
            }
            .flex-next {
                &:before {
                    margin-left: 5px;
                }
            }
        }
    }
}

//====== Related-portfolio
.related-portfolio {
    .widget-title {
        font-weight: 700;
        padding: 15px 0;
        text-transform: uppercase;
        margin: 0 0 60px 0;
        font-size: 18px;
        position: relative;
        line-height: 30px;
        padding-bottom: 22px;
        &:before {
            content: '';
            width: 35px;
            height: 1px;
            background: #000;
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
    ul {
        li {
            .portfolio-image {
                position: relative;
                overflow: hidden;
                img {
                    .translate(0, 0);
                    -webkit-transition: all 0.55s;
                    transition: all 0.55s;
                }
                .portfolio_hover {
                    visibility: hidden;
                    text-align: left;
                    padding: 15px 35px 20px;
                    display: block;
                    position: absolute;
                    width: 100% !important;
                    top: 0 !important;
                    .translate(0, -100%);
                    -webkit-transition: all 0.6s;
                    transition: all 0.6s;
                    background: none;
                    .thumb-bg {
                        width: 100% !important;
                    }
                    h3 {
                        margin: 0 !important;
                        font-size: 18px;
                        line-height: 30px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                    .p_line {
                        display: none;
                    }
                    .cat_portfolio {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 25px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                &:hover {
                    img {
                        .translate(0, 90px);
                        opacity: 0.4;
                    }
                    .portfolio_hover {
                        .translate(0, 0);
                        top: 0;
                        visibility: visible;
                        opacity: 1 !important;
                        background: none;
                    }
                }
            }
        }
    }
}

.page-title-portfolio {
    .entry-title-portfolio {
        margin-top: 0;
        margin-bottom: 60px;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }
}

.content_portfolio {
    margin: 0;
}

#infscr-loading {
    bottom: -65px;
}

.infinite_scroll {
    .loop-pagination {
        display: none;
    }
}