// fix css site-origin
@media (min-width: 1200px) {
    //Layout Boxed
    .health_coaching_2 {
        .thim-widget-testimonials {
            .thim-testimonial-carousel {
                .owl-controls {
                    right: 120px;
                }
            }
        }
    }
    .content-pusher{
        &.boxed-area{
            max-width: 1200px;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 0 32px rgba(0, 0, 0, 0.23);
            .container{
                padding-left: 55px;
                padding-right: 55px;
                &.home-page,
                &.site-content{
                    background: #fff;
                }
            }
            .thim-top-rev-slider{
                position: relative;
                .tp-rightarrow{
                    right: 0;
                    left: auto !important;
                }
                .tp-rightarrow{

                }
            }

            .site-header{
                max-width: 1200px;
                &.sticky-header{
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }


    .container {
        width: 1200px;
    }

    .siteorigin-panels-stretch {
        margin-left:   -385px;
        margin-right:  -385px;
        padding-left:  385px;
        padding-right: 385px;
        &.thim-fix-stretched {
            padding-left:  0;
            padding-right: 0;
            &.thim-bg-image-cover{
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
        }
    }
    .thim-course-top .courses-searching ul{
        max-width: none;
        right: auto;
        left: 0;
    }

    .slider_health_coaching {
        .fullwidthbanner-container {
            .fullwidthabanner {
                .tp-thumbs {
                    top: inherit!important;
                    bottom: -30px!important;
                    transform: translateX(-50%)!important;
                }
            }
        }
    }
}
@media (min-width: 1025px) {
    .header_v3 {
        &.site-header {
            &:before {
                position: absolute;
                width: 50%;
                left: 0;
                height: 100%;
                top: 0;
                content: "";
                z-index: -1;
            }
            > .container {
                background-color: #ffffff;

            }
        }
    }
}
@media(max-width: 1200px){
    .thim-list-event{
        .item-event{
            .time-from{
                margin-right: 15px; 
            }
            .top-heading{
                padding-left: 15px;
            }
            .event-wrapper{
                padding: 30px 30px 20px;
                .description{
                    max-height: 50px;
                    overflow: hidden;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
            &.feature-item{
                .view-detail{
                    margin-bottom: 0;
                }
            }
        }
        .image{
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            width: 80px;
                            height: 80px;
                            .countdown-amount {
                                font-size: 28px;
                            }
                            .countdown-period {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }

    }
    .widget-area aside .product-grid .product__title .price{
        float: none;
        margin: 8px 0 0 0;
    }
    .widget-area aside .product-grid .product__title .star-rating{
        margin-top: 3px;
    }
    .woocommerce table.shop_table td {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .rev_slider {
        .tp-thumbs {
            &.erinyen {
                .tp-thumb {
                    .tp-thumb-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .erinyen {
        &.tp-thumbs {
            .tp-thumbs-inner-wrapper {

                left: 0!important;
            }
            .tp-thumb {
                position: inherit;
                width: 253px!important;
                left: inherit!important;
                float: left;

            }
        }
    }
}
@media (min-width: 1025px) {
    .row_count_3:before, .form_get_video .head_form:after {
        background-size: 100% auto;
    }
}
@media (min-width: 1024px) {

    .custom-readmore {
        padding-top: 45px;
        background-repeat: no-repeat !important;
        background-position: bottom right;
        padding-bottom: 34px;
        .content-inner {
            position: relative;
            padding-right: 160px;
            .smicon-read {
                position: absolute;
                top: 50%;
                margin-top: -30px;
                right: 0;
                border-radius: 5px;
                font-size: 115%;
                i {
                    display: none;
                }
                &:hover {
                    opacity: 0.7
                }
            }
            .icon-box-title, .desc-icon-box p {
                font-style: italic;
            }
        }
        .boxes-icon {
            height: auto !important;
            .inner-icon {
                height: auto
            }
        }
    }

    .images-student {
        margin-top: -100px;
        position: relative;
    }
}

@media (max-width: 1400px) {
    .thim-progress-step-carousel .owl-nav{
        display: none;

    }
}

@media (max-width: 1200px) {
    body.course-landing-active #back-to-top{
        bottom: 75px;
    }
}

@media (max-width: 1024px) and (min-width: 991px) {
    .form_get_video {
        .head_form {
            &:after {
                background-size: initial;
                background-position: top center;
            }
        }
    }
    .product-grid {
        .product__title {
            .price {
                float: none;
                clear: both;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header_v3 {
        &.site-header {
            #toolbar {
                &:after {
                    display: none;
                }
            }
            &:after {
                z-index: 0;
            }
        }
    }
    //Override width of container
    .container {
        width: 1024px;
        max-width: 100%;
    }

    .color-white {
        .counter-group {
            .counter-block {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .entry-tag-share {
        .social-share {
            margin-top: -10px;
            li {
                margin-top: 10px;
                margin-right: 15px;
            }
        }
    }

    .widget-area {
        .thim-course-list-sidebar {
            .course-thumbnail {
                width: 85px;
                height: auto;
            }
            .thim-course-content{
                width: calc(~"100% - 105px");
                width: -webkit-calc(~"100% - 105px");
                width: -moz-calc(~"100% - 105px");
            }
        }
    }


    .widget-area {
        aside {
            padding-right: 0;
        }
    }
    .learn-press{
        .course-review{
            .value{
                >span{
                    display: none;
                }
            }
        }
    }
    .thim-course-list{
        .course-review{
            .value{
                >span{
                    display: none;
                }
            }
        }
    }

    .mfp-content{
        .popup-title{
            left: 0 !important;
            top: 0 !important;
            right: 0 !important;
            position: absolute;
        }
    }

    .thim-click-to-bottom{
        margin-top: 10px;
    }

    .thim-footer-info{
        >div{
            margin-right: 40px;
            &.info-social{
                .fa{
                    margin-right: 20px;
                }
            }
        }
    }

    .thim-list-posts.health_homepage{
        margin: 0 -15px;
        article{
            padding: 0 15px;
        } 
    }
}
@media (min-width: 991px) and (max-width: 1024px) {
    .navigation {
        .navbar-nav {
            > li {
                > a {
                    padding-right: 15px!important;
                    padding-left: 15px!important;
                }
            }
        }
    }
}
@media (max-width: 990px){
    .thim-widget-testimonials{
        .thim-testimonial-carousel{
            .owl-stage-outer{
                .owl-stage{
                    .owl-item{
                        .testimonial-item{
                            .testimonial-content{
                                .title:before{
                                    left: 165px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 992px) {
    //Override width of container
    .container {
        width: 960px;
        max-width: 100%;
    }

    .color-white {
        .counter-group {
            .counter-block {
                margin-right: 10px;
            }
        }
    }

    .thim-course-list {
        .course-item {
            .thim-course-content {
                .course-meta {
                    > div {
                        margin-right: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }

    .single-lpr_course .mfp-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .learn-press{
        .course-meta{
            .course-author{
                display: none;
            }
        }
    }
    .profile-container{
        .profile-tabs{
            .nav-tabs{
                li{
                    width: 33.3333%;
                }
            }
        }
    }
    .widget-area {
        .thim-course-list-sidebar {
            .course-thumbnail {
                width: 65px;
                height: auto;
                margin-right: 10px;
            }
            .thim-course-content{
                width: calc(~"100% - 75px");
                width: -webkit-calc(~"100% - 75px");
                width: -moz-calc(~"100% - 75px");
            }
        }
    }

    .thim-click-to-bottom{
        margin-top: 0;
    }
    .thim-widget-icon-box{
        .wrapper-box-icon.circle{
            .iconbox-left .content-inner{
                padding-right: 0;
            }
        }
    }
    .thim-widget-testimonials .thim-testimonial-before-after{
        .twentytwenty-wrapper.twentytwenty-horizontal{
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 20px;
        }
    } 
}

@media (min-width: 768px) and (max-width: 959px) {
    //Override width of container
    .container {
        width: 900px;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    #main{
        width: 70%;
        &.full-width{
            width: 100%;
        }
    }
    #sidebar {
        width: 30%;
    }
    .entry-tag-share {
        .col-sm-6{
            width: 100%;
        }
        .thim-social-share {
            float: none;
            margin-top: 15px;
        }
    }
    #tab-course-description {
        .thim-course-content {
            width: 100%;
            float: none;
            clear: both;
            border-right: 0;
        }
        .thim-course-info {
            float: none;
            clear: both;
            padding-left: 0;
            margin-top: 30px;
        }
    }
    #tab-course-review{
        .course-rating{
            .detailed-rating{
                margin-top: 20px;
            }
        }
    }
    .profile-container {
        .profile-tabs .thim-course-carousel .owl-item{
            max-width: 273px;
            max-width: calc(~"259px");
            max-width: -webkit-calc(~"259px");
            max-width: -moz-calc(~"259px");
        }
        .quiz-results .result-field{
            margin-right: 15px;
        }
        .user-tab{
            width: 25%;
            width: calc(~"250px");
            width: -webkit-calc(~"250px");
            width: -moz-calc(~"250px");
        }
        .profile-tabs{
            width: 75%;
            width: calc(~"100% - 250px");
            width: -webkit-calc(~"100% - 250px");
            width: -moz-calc(~"100% - 250px");
        }
    }

    .wrapper-box-icon.overlay{
        .boxes-icon{
            max-width: 100px;
        }
        .content-inner{
            width: calc(~"100% - 115px") !important;
            width: -webkit-calc(~"100% - 115px") !important;
            width: -moz-calc(~"100% - 115px") !important;
        }
        .heading__primary{
            font-size: 20px;
        }
    }

    article .entry-header .entry-meta li{
        margin-right: 20px;
        padding-right: 25px;
        &.author{
            display: none;
        }
    }
    #thim-course-archive.thim-course-list{
        .course-item{
            .course-thumbnail{
                width: calc(~"200px");
                width: -webkit-calc(~"200px");
                width: -moz-calc(~"200px");
            }
            .thim-course-content{
                width: calc(~"100% - 230px");
                width: -webkit-calc(~"100% - 230px");
                width: -moz-calc(~"100% - 230px");
            }
            .course-review{
                display: none;
            }
            .course-price{
                margin-top: 7px;
            }
            .course-readmore{
                margin-top: 0;
            }
        }
    }

    .thim-course-top .courses-searching form{
        width: 230px;
    }

    .learn-press .course-tabs .nav-tabs li a{
        padding: 10px;
    }

    .color-white{
        .counter-group{
            .counter-block{
                width: 80px;
                height: 80px;
                margin-right: 5px;
                .counter{
                    height: 36px;
                    line-height: 36px;
                    font-size: 34px;
                    margin: 10px 18px 0;
                }
                .counter-caption{
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
    .thim-widget-tab .nav-tabs li a span{
        display: none;
    }

    .wpcf7-form{
        .contact-left{
            width: 100%;
            padding-right: 0;
            float: none;
        }
        .contact-right{
            float: none;
            clear: both;
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-controls {
                right: 0;
            }
        }
    }
    .thim-list-posts {
        &.health_sticky {
            .sticky-post {
                .article-image {
                    height: inherit;
                    background-color: transparent;
                    img {
                        position: inherit;
                        left: inherit;
                        width: 100%;
                        transform: translate(0,0);
                        -webkit-transform: translate(0,0);
                        -moz-transform: translate(0,0);
                        -ms-transform: translate(0,0);
                        -o-transform: translate(0,0);
                    }
                }
            }
        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            &.layout-1 {
                .owl-stage-outer {
                    .owl-item {
                        padding-left: 0;
                        padding-right: 0;
                        .testimonial-item {
                            display: table;
                            margin-right: 15px;
                            .testimonial-thumbnail {

                            }
                            .testimonial-content {
                                display: table-cell;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }
    .textwidget {
        #shaon-pricing-table-plus {
            .minimal {
                .highlight {
                    .price {
                        h4 {
                            width: 110px;
                            >span {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-scroll-v4, .menu-scroll-v2{
        body.admin-bar &.site-header.sticky-header{
            top: 0;
        }
    }
    #masthead.header_v4.affix,#masthead.header_v4.affix-top{
        body.admin-bar .site-header.sticky-header {
            top: 46px;
        }
        .width-logo{
            border-bottom: none;
            overflow: hidden;
            padding-left: 0; 
            .top-left{
                display: none;
            }
            .top-right{
                margin-top: 0;
                padding-right: 62px;
                position: absolute !important;
                right: 0;
                top: 25px;
            }
            a{
                float: left;
                img{
                    position: relative;
                    top: 12px;
                }
            }
        }
        .menu-mobile-effect.navbar-toggle{
            top: -35px;
        }
    }
    .mobile-logo-custom.site-header {
        .sticky-logo, .no-sticky-logo {
            display: none;
        }
        &.affix-top {
            .sticky-logo-mobile {
                display: none;
            }
        }

        &.affix {
            .no-sticky-logo-mobile {
                display: none;
            }
        }
    }

    .thim-course-grid {
        .course-grid-4,
        .course-grid-3 {

        }
        .lpr_course[class*=course-grid-] {
            width: 50%;
            clear: initial;
            &:nth-child(2n+1) {
                clear: both;
            }
        }
    }

    .related-archive {
        ul.archived-posts {
            overflow: hidden;
            white-space: nowrap;
            > li {
                width: 50%;
                &:nth-child(5n+0),
                &:nth-child(5n+3),
                &:nth-child(5n+4),
                &:nth-child(5n+5) {
                    display: none;
                }
            }
        }
    }

    .thim-ralated-course {
        .thim-course-grid {
            .lpr_course[class*=course-grid-] {
                &:nth-child(5n+0),
                &:nth-child(5n+3),
                &:nth-child(5n+4),
                &:nth-child(5n+5) {
                    display: none;
                }
            }
        }
    }

    .list-tab-event {
        .nav-tabs {
            li {
                min-width: auto;
                width: 33.333%;
            }
        }
    }

    body.single-lpr_course.admin-bar{
        .mfp-inline-holder{
            padding-top: 46px;
        }
    }

    .mfp-content{
        .popup-title{
            font-size: 16px;
            line-height: 70px;
            padding-left: 20px;
            padding-right: 80px;
            >button{
                line-height: 70px;
                width: 70px;
                height: 70px;
            }
        }
        .course-content.popup-content,
        .thim-iframe-quiz iframe{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .siteorigin-panels-stretch.panel-row-style{
        background-position: top left !important;
    }
    .thim-footer-one-course .panel-grid-cell{
        width: 100% !important;
        float: none;
    }
    footer#colophon .footer .thim-footer-one-course ul.menu{
        text-align: left;
    }
    .thim-video-box .video-container{
        background-size: contain;
        .video{
            height: 354px;
        }
    }

    article.our_team{
        .image{
            width: 100%;
            float: none;
            margin-bottom: 30px;
            img{
                max-width: 200px;
            }
        }
        .content{
            width: 100%;
            float: none;
            clear: both;
            padding-left: 0;
        }
        .extra-info{
            width: 100%;
            float: none;
            clear: both;
            padding-left: 0;
            border: 0;
        }
    }

    .thim-widget-progress-step{
        .thim-progress-step-carousel-container,
        .thim-progress-step .progress-step-title{
            float: left;
            width: 50%;
        }
        .thim-progress-step .active-item:not(.last-active-item) .progress-step{
            border-color: transparent;
        }
    }

    .woocommerce-page .product .meta-sharing .thim-social-share{
        float: none;
        clear: both;
        position: relative;
        top: 15px;
    }

    .thim-list-event{
        .item-event{
            .event-wrapper{
                .description{
                    display: block;
                }
            }
            &.feature-item .event-wrapper{
                width: 100%;
            }
            .image{
                width: 100%;
                float: left;
            }
        }
    }
    .thim-list-event .item-event:not(.feature-item) .view-detail {
        float: left;
        margin-top: 15px;
    }

    .product-grid li.col-md-4:nth-child(2n+1){
        clear: both;
    }
    .product-grid li.col-md-4:nth-child(3n+1) {
        clear: none;
    }

    .woocommerce .woocommerce-tabs #reviews #review_form_wrapper .comment-form{
        .comment-form-comment{
            width: 100%;
            float: none;
            margin-bottom: 15px;

        }
        .comment-form-rating,
        .comment-form-author,
        .comment-form-email{
            float: none;
            width: 100%;
        }
    }

    .woocommerce #content div.product div.summary, .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
        width: auto;
        float: none;
        clear: both;
    }
    .woocommerce-page .product .meta-sharing .product_meta{
        height: auto;
        float: none;
        margin-top: 40px;
    }
    .woocommerce-page .product .meta-sharing .thim-social-share{
        float: none;
    }
    .woocommerce table.cart.shop_table th.product-thumbnail,
    .woocommerce table.cart tr td.product-thumbnail{
        display: none;
    }
    .woocommerce table.cart .cart_item .product-quantity .thim-quantity .quantity input,
    .woocommerce table.cart .cart_item .product-quantity .thim-quantity .quantity{
        width: 50px;
        min-width: 50px;
    }
}

@media (max-width: 767px) {
    .woocommerce-account {
        .woocommerce-MyAccount-navigation {
            width: 100%;
            ul {
                margin-left: 0;
                li {
                    display: block;
                }
            }
        }
        .woocommerce-MyAccount-content {
            width: 100%;
        }
    }
    .thim-widget-single-images {
        .single-image {
            &.text-right {
                text-align: left;
            }
        }
    }
    .single-post {
        .page-content {
            article {
                .post-formats-wrapper {
                    text-align: left;
                }
            }
        }
    }
    .mfp-wrap {
        .mfp-content {
            .round-slider-content {
                iframe {
                    width: 100%;
                }
            }
        }
    }
    #main,
    #sidebar {
        width: 100%;
        float: left;
        clear: both;
    }

    .site-main {
        &.alignleft {
            padding-right: 15px;
            padding-bottom: 60px;
        }
        &.alignright {
            padding-left: 15px;
            padding-bottom: 60px;
        }
    }
    .thim-list-posts.health_homepage article{
        width: 100%;
        margin-bottom: 30px;
    }

    .thim-best-industry {
        margin: 0;
        .wrapper-box-icon.overlay {
            background: #000;
        }
    }

    .thim-get-100s {
        text-align: center;
    }

    .thim-register-now-form {
        float: none;
        margin: 60px auto;
    }

    .color-white .counter-group {
        text-align: center;
    }

    .counter-box {
        border-right: 0;
    }

    .search-course-list-info {
        li {
            margin: 0 15px;
        }
    }

    .widget-area {
        .thim-course-list-sidebar {
            .course-thumbnail {
                width: 100px;
                height: auto;
                margin-right: 20px;
            }
            .thim-course-content {
                width: calc(~"100% - 120px");
                width: -webkit-calc(~"100% - 120px");
                width: -moz-calc(~"100% - 120px");
            }
        }
    }

    .alignright, .alignleft {
        float: none;
    }

    .contact-page .row .wpcf7-form-control-wrap {
        width: 100%;
        &.your-name, &.your-email {
            margin-bottom: 10px;
        }
    }

    #profile-tabs, .user-info {
        width: 100%;
        padding: 0;
    }

    .megacol {
        background-image: none !important;
    }

    .user-courses-content .own-courses .own-courses-wrapper .inner-own-course {
        width: 100%;
    }

    footer#colophon{
        .copyright-area {
            padding: 0;
            .text-right {
                text-align: left;
                margin-top: 5px;
                li {
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
            .copyright-content{
                padding-top: 25px;
                padding-bottom: 25px;
            }

        }
        .footer .menu{
            columns: 1;
        }
    }

    .widget-box-title .browse-all-courses {
        position: static;
    }

    .widget-box-title {
        padding-right: 0;
        p {
            margin-bottom: 0;
        }
    }

    .custom-images {
        margin-top: 25px;
        margin-bottom: 25px;;
    }

    .top_site_main .page-title-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .site-content {
        padding: 35px 15px;
    }

    .woocommerce.single-product {
        .col-sm-12 div.product, .col-sm-9 div.product {
            div.images, div.summary {
                width: 100% !important;
            }

        }
    }

    .woocommerce.single-product div.product .related.products .blog-grid li.product {
        width: 50% !important;
        &:nth-child(2n+1) {
            clear: both;
        }
    }

    .site-header {
        padding: 15px 0;
        &.sticky-header.affix {
            padding-top: 7px;
            padding-bottom: 7px;
            .navbar-nav {
                > li {
                    > a, > span.disable_link {
                        padding: 0;
                    }
                }
            }
        }
    }

    .thim-gallery-images-default {
        .item {
            float: left;
            width: 50% !important;
        }
    }

    .overlay-black {
        padding-bottom: 30px !important;
        padding-top: 50px !important;
    }

    .fix-responsive {
        margin-left: 0 !important;
    }

    .single .learn-press {
        header {
            overflow: hidden;
            .author {
                float: left
            }
        }
        #course-landing .course-students > span:after {
            display: none;
        }
    }

    #masthead.affix-top {
        margin-top: 0;
    }

    .navigation .width-logo img {
        margin: 0;
        margin-bottom: 10px;
    }

    #masthead .navigation{
        padding-top: 10px;
        padding-bottom: 0;
    }

    .learn-press h1.entry-title, .menu-scoll-landing .col-md-6 {
        width: 100%;
    }

    .menu-scoll-landing .col-md-6 {
        margin-bottom: 15px !important;
        text-align: left;
    }

    .menu-scoll-landing .course-wishlist, .menu-scoll-landing .course-wishlisted {
        display: inline-block;
        font-size: 0;
        padding: 13px;
        margin-left: 0;
        &:after {
            content: "\f08a";
            font: normal normal normal 14px/1 FontAwesome;
        }
    }

    .menu-scoll-landing .course-wishlisted {
        &:after {
            content: "\f004";
        }
    }

    .wrapper-author {
        margin-bottom: 25px;
    }

    .learn-press{
        .course-meta{
            .course-author{
                display: none;
            }
        }
    }

    .profile-container {
        .user-tab {
            width: 100%;
            float: none;
            text-align: center;
            margin-bottom: 40px;
        }
        .profile-tabs {
            width: 100%;
            float: none;
            clear: both;
        }
    }

    .wrapper-box-icon {
        &.overlay {
            .heading__primary {
                margin-top: 35px;
            }
        }
    }

    .thim-register-form-top {
        margin-top: 0;
        .thim-register-now-form {
            margin: auto;
            box-shadow: 1px 0px 5px 0px #ccc;
        }
    }
    .wrapper-lists-our-team .our-team-item{
        width: 50%;
        float: left;
    }
    .thim-other-member.wrapper-lists-our-team .our-team-item{
        margin-bottom: 55px;
    }
    .thim-demo-accounts{
        clear: both;
        margin-left: -15px !important;
        margin-right: -15px !important;
        >.panel-grid-cell{
            width: 50% !important;
            float: left !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    .thim-video-box .video-container {
        max-height: 415px;
        .video{
            max-height: 340px;
            height: 340px;
        }
    }
    .thim-welcome-university{
        >.panel-grid-cell{
            width: 100% !important;
            &:first-child{
                padding-right: 0 !important;
                &:before{
                    display: none;
                }
            }
            &:nth-child(2){
                padding-left: 0 !important;
            }
        }
        .thim-register-now-form{

        }
    }

    article.testimonials{
        .image{
            width: 100%;
            float: none;
            clear: both;
            margin: 0;
            margin-bottom: 30px;
            img{
                max-width: 200px;
            }
        }
        .content{
            float: none;
            width: 100%;
            clear: both;
        }
    }

    .wrapper-gallery-filter{
        >.thim-col-5,
        >[class*=col-sm-]{
            width: 50%;
            float: left;
        }
    }

    .thim-list-posts.homepage{
        .item-post{
            .article-image{
                position: initial;
                margin-right: 0px;
                width: 33%;
                height: auto;
                img{
                    position: initial;
                    height: auto;
                    width: 100%;
                    left: 0;
                    top: 0;
                    transform: translateY(0)
                }
            }
            article{
                width: 67%;
            }
        }
    }

    .panel-grid-cell{
        &:first-child{
            .push-box{
                margin: 0;
                margin-top: 130px;
            }
        }
        .push-box{
            margin: 0;
            border-bottom: none;
            .thim-widget-icon-box{
                overflow: visible;
                .iconbox-push{
                    overflow: visible !important;
                }
            }
        }
        &:last-child{
            .push-box{
                margin: 0;
            }
        }
    }

    .thim-gallery-video {
        .video-item {
            .video-thumbnail{
                height: auto;
                img{
                    position: initial;
                    top:0;
                    left: 0;
                    .translate(0,0);
                }
            }
            &.feature-item {
                .video-thumbnail {
                    height: auto;
                }
            }
        }
    }

    .thim-widget-accordion {
        .widget-title {
            text-align: center;
        }
    }

    .page-content{
        article.post{
            padding-right: 0;
        }
    }
    article.post{
        padding-right: 15px;
    }
    .widget-area aside{
        .article-image img {
            max-width: 75px;
        }
        .item-post {
            width: 100%;
        }
    }
    article .related-archive{
        .thim-excerpt{
            margin-bottom: 30px;
        }
        .post-formats-wrapper{
            img,iframe{
                left: 0;
                transform: translateX(0px);
                border: none;
            }
        }
    }

    .thim-widget-testimonials{
        .thim-testimonial-carousel{
            .owl-stage-outer{
                .owl-stage{
                    .owl-item{
                        .testimonial-item{
                            .testimonial-content{
                                .title{
                                    padding-right: 25px;
                                    padding-left: 40px;
                                    &:before{
                                        left: 5px;
                                    }
                                }
                            }
                            .testimonial-thumbnail{
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    article .thim_sharepost{
        display: block;
        float: none;
        .thim-social-share{
            float: none;
        }
    }

    .thim-widget-testimonials .thim-testimonial-carousel .owl-stage-outer .owl-stage .owl-item .testimonial-item .testimonial-content .description{
        padding-right: 30px;
        padding-left: 30px;  
    }
    #health-icon-box {
        .first-icon-element {
            margin-top: 0;
            margin-bottom: 0;
        }
        .thim-widget-icon-box {
            .wrapper-box-icon {
                &.circle {
                    .heading__primary {
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-before-after {
            .testimonial-content {
                padding-right: 0;
                .description {

                }
            }
            .owl-controls {
                bottom: -90px;
                top: auto;
                width: 100%;
                .owl-dots {
                    .owl-dot {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .health-v3 {
        .thim-round-slider {
            .scrollable {
                height: inherit!important;
                li {
                    position: inherit;
                    &:first-child {
                        .slide-content {
                            .image {
                                height: inherit;
                                img {
                                    position: relative;
                                    top: inherit;
                                    transform: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//For Apple Iphone 6
@media screen and (max-width: 667px) {
    .thim-course-list {
        .course-item {
            .course-thumbnail {
                width: 220px;
                height: auto;
            }
            .thim-course-content {
                width: calc(~"100% - 250px");
                width: -webkit-calc(~"100% - 250px");
                width: -moz-calc(~"100% - 250px");
            }
        }
    }

    #tab-course-description {
        .thim-course-content {
            width: 100%;
            float: none;
            clear: both;
            border-right: 0;
        }
        .thim-course-info {
            float: none;
            clear: both;
            padding-left: 0;
            margin-top: 30px;
        }
    }

    #tab-course-review {
        .course-rating {
            .detailed-rating {
                margin-top: 30px;
            }
        }
    }


    #back-to-top{
        display: none;
    }
    .entry-tag-share .thim-social-share{
        float: none;
        margin-top: 15px;
    }
}

@media screen and (max-width: 600px) {
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            &.layout-1 {
                .owl-stage-outer {
                    .owl-item {
                        .testimonial-item {
                            display: block;
                            .testimonial-thumbnail, .testimonial-content {
                                display: block;
                            }
                            .testimonial-content {
                                margin-top: 20px;
                                .wrap-box {
                                    padding: 15px;
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .thim-list-posts {
        &.health_2 {
            .item-post {
                .entry-content {
                    clear: both;
                    float: none;
                    width: 100%;
                    .entry-header {
                        margin-bottom: 5px;
                    }
                }
                .article-image {
                    max-width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }
    body.admin-bar {
        .site-header.affix {
            top: 0;
        }
        .menu-scoll-landing {
            top: 0;
        }
    }

    .mc4wp-form {
        .mc4wp-form-fields {
            input[type='text'],
            input[type='email'] {
                max-width: 325px;
                margin-left: 0;
            }
        }
    }

    .woocommerce #content .comments-area,
    .woocommerce .comments-area {
        .comment-list {
            .comment-list-inner {
                .children {
                    margin-left: 50px;
                }
            }
        }
    }

    .comments-area {
        .comment-list {
            .comment-list-inner {
                .children {
                    margin-left: 0;
                    padding-left: 10px;
                }
            }
        }
    }

    .thim-testimonial-slider {
        padding: 0 30px;
        .control-nav {
            top: 56px !important;
        }
        .slides-content{
            .content{
                margin-left: -30px;
                margin-right: -30px;
            }
        }
    }

    .thim-course-list {
        .course-item {
            .thim-course-content {
                .course-readmore {
                    margin-top: -8px;
                }
            }
            .course-meta{
                .course-review{
                    display: none !important;
                }
            }
        }
    }

    .learn-press{
        .course-meta{
            .course-review{
                display: none;
            }
            >div{
                border-right: 0;
            }
        }
    }
    .thim-course-menu-landing{
        .thim-course-landing-tab{
            display: none;
        }
    }
    .thim-course-top{
        .course-index{
            display: none;
        }
    }
    .page-404-content{
        padding-left: 0;
        padding-right: 0;
    }

    .thim-demo-accounts{
        clear: both;
        margin-left: 0 !important;
        margin-right: 0 !important;
        >.panel-grid-cell{
            width: 100% !important;
            float:  none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            .thim-widget-single-images{
                display: none;
            }
        }
    }
    .thim-footer-info>div{
        display: block;
        margin-right: 0;
    }

    footer#colophon .footer .mc4wp-form .mc4wp-form-fields #optin{
        max-width: 325px;
    }
    .woocommerce table.cart .cart_item .product-quantity .thim-quantity .action.minus,
    .woocommerce table.cart .cart_item .product-quantity .thim-quantity .action.plus{
        display: none;
    }
    .woocommerce table.cart .cart_item .product-quantity .thim-quantity .quantity input{
        border: 1px solid #eee;
    }
}

@media (max-width: 480px) {
    .form_get_video {
        .head_form {
            &:after {
                background-size: auto;
                margin-top: -1px;
            }
        }
    }
    .header_v3 {
        &.site-header {
            #toolbar {
                .widget_login-popup {
                    a {
                        margin-left: 0;
                        padding-left: 0;
                        border-left: none;
                    }
                }
                .menu_right_position {
                    .thim-widget-social {
                        display: none;
                    }
                }
            }
            .column_logo {
                width: 180px!important;
            }
            .column_right {
                width: calc(~"100% - 180px")!important;
            }
        }
    }
    .thim-round-testimonial {
        padding-bottom: 320px;
        .slides-wrapper {
            width: 100%;
            margin-bottom: 25px;
        }
        .slides-content {
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
            .slide-content {
                .title {
                    display: inline-block;
                }
            }
        }
    }
    .thim-list-posts-slider {
        .thim-list-slide-posts-carousel-container {
            .owl-controls {
                top: -46px;
            }
        }
    }
    .form_get_video {
        .head_form {
            padding-right: 10px;
            padding-left: 10px;
            h3 {
                font-size: 18px;
            }
        }
        .content_form {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    .thim-course-top{
        .courses-searching{
            form{
                width: 215px;
            }
        }
    }
    body {
        #course-curriculum-popup {
            #popup-main {
                #popup-header {
                    display: table;
                    width: 100%;
                    overflow: inherit;
                    .popup-title {
                        height: inherit;
                        white-space: inherit;
                        max-width: 100%;
                        line-height: 30px;
                        vertical-align: middle;
                        display: table-cell;
                        overflow: inherit;
                    }
                    .popup-close {
                        height: 89px;
                    }
                }
            }
        }
    }
    .thim-widget-testimonials .thim-testimonial-before-after .twentytwenty-container{
        width: 300px !important;
    }
    #masthead.site-header.header_v4{
        .width-logo{
            padding-top: 20px;
            .top-right{
                margin-top: 0;
                padding: 0 15px;
                text-align: right;
                top: -10px;
                width: 100%;
                left: 0;
                background: #000;
                .thim-widget-login-popup{
                    a{
                        color: #fff !important;
                    }
                }
                .widget_shopping_cart{
                    h4{
                        color: #fff ;
                    }
                }
                .widget_search:before{
                    color: #fff;
                }
            }
            a{
                float: none;
                display: block;
                img{
                    position: relative;
                    top: 17px;
                }
            }
            a.sticky-logo{
                display: none;
            }
        }
        .menu-mobile-effect.navbar-toggle{
            top: -25px !important;
        }
        

    }
    #user_quizzes {
        .quiz-result {
            .quiz-title a {
            }
            .quiz-result-mark, .quiz-result-summary {
            }
        }
    }

    .course-grid, .archive_switch {
        .col-sm-6 {
            width: 100%;
        }
    }

    .one-courses-page-content {
        .col-sm-4, .col-sm-8 {
            display: block;
        }
    }

    // widget post display
    .posts-display {
        .col-sm-6 {
            width: 100%;
        }
    }

    .breadcrumbs-wrapper.button-list-gird {
        .woocommerce-breadcrumb, .display, .thim-breadcrumbs, #breadcrumbs {
            width: 100%;
        }
        .display {
            padding-top: 20px;
            text-align: left;
            a {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }

    .woocommerce.single-product div.product .related.products .blog-grid li.product {
        width: 100% !important;
        &:nth-child(2n+1) {
            clear: both;
        }
    }

    .thim-gallery-images-default {
        .item {
            float: left;
            width: 100% !important;
        }
    }

    .overlay-black {
        .icon-box-title {
            font-size: 24px !important;
            line-height: 32px !important;
            span {
                display: block;
            }
        }
    }

    .thim-widget-courses-searching .courses-searching {
        input {
            height: 40px !important;
            line-height: 40px !important;
            font-size: 13px;
            padding-left: 10px;
            width: calc(~"100% - 40px") !important;
            width: -webkit-calc(~"100% - 40px") !important;
            width: -moz-calc(~"100% - 40px") !important;
        }
        button {
            width: 40px;
            line-height: 40px;
        }
    }

    .custom-readmore {
        .icon-left .content-inner {
            width: 100% !important;
            text-align: center;
            padding: 15px 0;
            .icon-box-title {
                font-size: 26px !important;
            }
        }
        .icon-left .boxes-icon {
            margin: 0 auto;
            float: none;
        }
    }

    .wrapper-author {
        .avatar-instructors, .author-right {
            width: 100%;
            display: inline-block;
        }
    }

    article {
        .entry-header {
            .date-meta {
                border-right: 0;
                margin-bottom: 15px;
            }
            .entry-contain {
                float: none;
                width: 100%;
                clear: both;
            }
            .entry-title {
                a {
                    white-space: normal;
                }
            }
        }
    }

    .wrapper-box-icon.overlay {
        .heading__primary {
            margin-top: 20px;
        }
    }

    .thim-testimonial-slider {
        .control-nav {
            top: 69px !important;
        }
    }

    .learn-press {
        .course-tabs {
            .nav-tabs {
                li {
                    a {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    #tab-course-description {
        .thim-course-content {
            padding-right: 20px;
        }
    }
    .thim-ralated-course .thim-course-grid{
        .lpr_course[class*=course-grid-]{
            width: 100%;
            display: none;
            &:first-child{
                display: inherit;
            }
        }
    }
    .thim-course-grid{
        .lpr_course[class*=course-grid-]{
            width: 100%;
            float: none;
        }
    }
    .thim-course-carousel,
    .thim-owl-carousel-post{
        padding-top: 10px;
        .owl-controls{
            top: -40px;
            left: 5px;
            right: auto;
        }
    }
    .profile-tabs{
        .thim-course-grid.thim-carousel-wrapper{
            padding-top: 40px;
            .owl-controls{
                top: -10px;
            }
        }
    }
    .thim-widget-courses{
        .view-all-courses{
            top: -37px;
            left: 0;
            right: auto;
        }
        .thim-course-grid:not(.thim-carousel-wrapper){
            padding-top: 20px;
        }
    }

    .counter-group{
        .counter-block{
            width: 85px;
            height: 85px;
            margin-right: 10px;
            .counter{
                height: 40px;
                line-height: 40px;
                font-size: 40px;
                margin: 10px 18px 0;
            }
            .counter-caption{
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .tp-event-top{
        .entry-countdown{
            .tp_event_counter{
                .countdown-row{
                    .countdown-section{
                        margin: 0 10px;
                        width: 85px;
                        height: 85px;
                        .countdown-amount{
                            font-size: 40px;
                            line-height: 40px;
                            height: 40px;
                            margin-top: 10px;
                        }
                        .countdown-period{
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    .comments-area{
        .comment-respond-area{
            #respond.comment-respond{
                .comment-form{
                    .comment-form-author,
                    .comment-form-email,
                    .comment-form-url{
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .thim-course-list {
        .course-item {
            .course-thumbnail {
                margin-right: 0;
                margin-bottom: 15px;
                width: 270px;
            }
            .thim-course-content {
                width: 100%;
                clear: both;
                float: none;
            }
        }
    }
    #toolbar{
        .thim-have-any-question{
            display: none;
        }
    }
    .thim-mobile-login{
        display: block;
    }

    .profile-container{
        .profile-tabs{
            .nav-tabs{
                li{
                    .text{
                        display: none;
                    }
                }
            }
        }
    }

    .learn-press .curriculum-sections .section-content{
        .course-lesson,
        .course-quiz{
            .quiz-title,
            .lesson-title{
                display: block;
                margin: 0;
            }
        }
    }
    .quiz-results .result-field{
        margin-right: 15px;
    }
    form#lostpasswordform{
        p{
            input[type="text"],
            input[type="email"],
            input[type="password"]{
                max-width: 260px;
            }
        }
    }

    .top_site_main .page-title-wrapper h1, .top_site_main .page-title-wrapper h2{
        font-size: 40px;
    }
    .entry-navigation-post {
        .prev-post,
        .next-post {
            padding: 10px 20px 25px;
        }
    }
    .product-cat li a{
        margin-left: 3px;
        margin-right: 3px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
    .product-grid .product.col-xs-6{
        width: 100%;
        clear: both;
    }
    .related-products{
        .product{
            display: none;
            &:first-child{
                display: block;
            }
        }
    }
    .woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li,
    .woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li{
        width: 50%;
    }
    .wrapper-lists-our-team .our-team-item{
        width: 100%;
    }
    .thim-widget-tab .nav-tabs li a span{
        display: none;
    }
    .related-archive ul.archived-posts>li{
        width: 100%;
        display: none;
        &:first-child{
            display: inherit;
        }
    }
    .mo-openid-app-icons{
        .btn-block{
            margin-left: 0;
            margin-right: 0;
            &:last-child{
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .wrapper-gallery-filter{
        >.thim-col-5,
        >[class*=col-sm-]{
            width: 100%;
            float: none;
        }
    }

    #tab-course-review .add-review form input[type=text]{
        width: 100%;
    }

    .thim-list-posts.homepage{
        .item-post{
            article{
                .thim-excerpt{
                    display: none;
                }
            }
        }
    }
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering{
        float: none;

    }
    .woocommerce .woocommerce-ordering{
        margin-top: 10px;
    }

    #sidebar .shop-image .thim-widget-single-images img{
        width: 270px;
    }

    .wpcf7-form {
        .contact-left {
            width: 100%;
            float: none;
        }
        .contact-right {
            width: 100%;
            float: none;
            padding-left: 0;
            padding-top: 20px;
        }
        .contact-left{
            padding-right: 0;
        }
    }

    .maintenance-wrap {
        .thim-widget-countdown-box {
            .counter-block {
                .counter {

                }
                .counter-caption {
                    top: 0;
                }
            }
        }
    }

    .thim-gallery-video {
        .video-item {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100%;
            .play-button {
                .fa{
                    font-size: 24px;
                }
            }
            .video-content {
                .video-title {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    a {
                        color: #fff;
                        &:hover {
                            color: #1e73be;
                        }
                    }
                }

                .video-date {
                    display: none;
                }
                .comment {
                    display: none;
                }
            }
            &.feature-item {
                .play-button {
                    width: 32px;
                    height: 32px;
                    .fa {
                        font-size: 24px;
                        border: 2px solid #fff;
                        line-height: 28px;
                        width: 32px;
                        height: 32px;
                        &:before{
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }

    .thim-list-event{
        .image{
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            width: 70px;
                            height: 70px;
                            .countdown-amount {
                                font-size: 25px;
                                margin-top: 10px;
                            }
                            .countdown-period {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .comments-area .comment-respond-area #respond.comment-respond .comment-form .comment-form-comment {
        width: 100%;
    }

    .woocommerce .woocommerce-tabs #reviews #comments .commentlist li .comment-text .meta .date{
        float: none;
    }
    .woocommerce .woocommerce-tabs #reviews #comments .commentlist .star-rating{
        float: none;
    }
    .woocommerce div.product form.cart .button{
        margin-top: 30px;
    }
    .woocommerce.woocommerce-cart table.cart td.actions .coupon,
    .woocommerce-page.woocommerce-cart table.cart td.actions .coupon{
        margin-bottom: 15px;

    }
    .woocommerce .cart-collaterals .cart_totals,
    .woocommerce-page .cart-collaterals .cart_totals {
        width: 100%;
        float: none;
    }

    .thim-about-author{
        .author-bio{
            width: 100%;
            clear: both;
            float: none;
        }
        .author-avatar{
            float: none;
            display: inline-block;
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}

@media( max-width: 420px ) {
    .woocommerce table.cart.shop_table th.product-price,
    .woocommerce table.cart .cart_item td.product-price{
        display: none;
    }
}

@media (max-width: 360px){

    .thim-testimonial-slider{
        .control-nav{
            top: 50px !important;
        }
    }
    .thim-social-share{
        li{
            margin-bottom: 10px;
        }
    }

    #tab-course-review{
        .course-rating{
            .detailed-rating{
                .stars{
                    padding: 0 15px;
                    div.bar{
                        width: 135px;
                    }
                }
            }
        }
    }
    form{
        &#lostpasswordform{
            p{
                input[type=text],
                input[type=email],
                input[type=password]{
                    margin-bottom: 15px;
                    max-width: 100%;
                }
                input[type=submit]{
                    width: 100%;
                    max-width: 100%;
                    margin: 0;
                }
            }
        }
    }

    .mc4wp-form {
        .mc4wp-form-fields {
            input[type=text],
            input[type=email] {
                width: 100%;
                margin-bottom: 15px;
                max-width: 100%;
            }
            input[type="submit"]{
                height: 40px;
                padding: 5px 25px;
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .wpcf7-form{
        .your-name,
        .your-email{
            margin-left: 0;
            width: 100%;
        }
    }

    .top_site_main{
        .page-title-wrapper{
            h1,h2{
                font-size: 35px;
            }
        }
    }
    .counter-group{
        .counter-block{
            width: 65px;
            height: 65px;
            margin-right: 5px;
            .color-white &{
                margin-right: 5px;
            }
            .counter{
                height: 30px;
                line-height: 30px;
                font-size: 30px;
                margin: 8px 12px 0;
            }
            .counter-caption{
                font-size: 11px;
                line-height: 18px;
            }
        }
    }
    .tp-event-top{
        .entry-countdown{
            .tp_event_counter{
                .countdown-row{
                    .countdown-section{
                        margin: 0 5px;
                        width: 65px;
                        height: 65px;
                        .countdown-amount{
                            font-size: 30px;
                            line-height: 30px;
                            height: 30px;
                            margin-top: 8px;
                        }
                        .countdown-period{
                            font-size: 11px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    }
    .thim-course-list {
        .course-item {
            .course-thumbnail {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .learn-press{
        .course-meta{
            .course-categories{
                display: none;
            }
        }
    }

    .page-404-content{
        .col-xs-6{
            width: 100%;
            float: none;
        }
    }

    .wrapper-box-icon.overlay{
        .icon-images{
            display: table-cell;
            img{
                margin-top: 0;
            }
        }
    }

    #tab-course-review{
        .course-review{
            .content-review{
                > ul{
                    .review-text{
                        width: 100%;
                        clear: both;
                        padding-top: 15px;
                        float: none;
                    }
                }
            }
        }
    }

    .quiz-results{
        .result-summary{
            text-align: center;
            .result-field{
                margin: 7px 10px !important;
            }
        }
    }
    article .entry-header .entry-meta li{
        &.author{
            display: none;
        }
    }
    .thim-login .link-bottom a{
        display: block;
    }
    .comments-area .comment-list .comment-list-inner li .comment-right{
        float: none;
        clear: both;
        padding-top: 15px;
        width: 100%;
    }
    .comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link{
        margin-left: 0;
        margin-right: 15px;
        float: left;
    }
    .comments-area .comment-list .comment-list-inner li .content-comment{
        clear: both;
    }
    .comments-area .comment-list .comment-list-inner li .comment-extra-info .date{
        float: left;
        margin-right: 0;
    }
    .comments-area .comment-list .comment-list-inner .children{
        margin-left: 0;
    }
    .comments-area .comment-list .comment-list-inner li .comment-extra-info .author{
        display: block;
        margin-right: 0;
    }
    .thim-video-box .video-container{
        padding: 0;
        max-height: 200px;
        .video{
            max-height: 200px;
        }
    }

    .wrapper-box-icon.overlay .heading__primary{
        padding-right: 0;
        word-wrap: break-word;
    }

    .maintenance-wrap {
        .thim-widget-countdown-box {
            .counter-block {
                .counter {
                    margin-top: 12px;
                }
                .with-hundreds {
                    margin: 19px 20px 0;
                }
                .counter-caption {
                    top: 4px;
                }
            }
        }
    }

    .thim-gallery-video {
        .video-item {
            .video-content {
                bottom: 0;
                .video-title{
                    line-height: 25px;
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .thim-list-event{
        .image{
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            width: 55px;
                            height: 55px;
                            .countdown-amount {
                                font-size: 20px;
                                margin: 5px 0 0 0;
                            }
                            .countdown-period {
                                font-size: 8px;
                                line-height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .woocommerce table.shop_table th{
        padding-left: 10px;
        padding-right: 10px;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text{
        float: none;
        margin-bottom: 15px;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .thim-widget-testimonials .thim-testimonial-before-after .twentytwenty-container{
        width: 250px !important;
    }
    #tab-course-review{
        .course-rating{
            .detailed-rating{
                .stars{
                    div.bar{
                        width: 105px;
                    }
                }
            }
        }
    }
    .thim-course-top{
        .courses-searching{
            form{
                width: 200px;
            }
        }
    }
    .thim-testimonial-slider .control-nav{
        top: 65px!important;
    }
    .mobile-menu-container{
        width: 250px;
    }
    .wrapper-container.mobile-menu-open{
        .content-pusher{
            .translate(-250px, 0) !important;
        }
        .mobile-effect.mobile-menu-container{
            width: 250px;
        }
    }
    .top_site_main .page-title-wrapper h1,
    .top_site_main .page-title-wrapper h2{
        font-size: 25px;
        line-height: 40px;
    }
    .thim-list-posts.homepage{
        .item-post{
            article{
                .entry-header{
                    .entry-meta{
                        display: none;
                    }
                    .entry-title{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media( max-width: 300px ) {
    .mobile-menu-container{
        width: 220px;
    }
    .wrapper-container.mobile-menu-open{
        .content-pusher{
            .translate(-220px, 0) !important;
        }
        .mobile-effect.mobile-menu-container{
            width: 220px;
        }
    }
}

// Thim testimonial

@media (max-width: 991px) {

    .thim-widget-testimonials {
        .thim-testimonial-before-after {
            .testimonial-content {
                padding-right: 0;
            }
            .owl-controls {
                //position: inherit;
                //margin-top: 30px;
                //text-align: center;
                //top: 0;
                .owl-dots {
                    .owl-dot {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .siteorigin-panels-stretch {
        &.panel-row-style {
            background-size: cover!important;

        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-before-after {
            .testimonial-content {
                text-align: center;
                .description {
                    margin-top: 10px;
                }
                .title {
                    display: inline-block;
                }
            }
        }
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .single-post {
        .page-content {
            article {
                .related-archive {
                    .post-formats-wrapper {
                        text-align: left;
                        height: auto;
                    }
                    > .row {
                        > div {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    .widget-area {
        &.sidebar-events {
            .event_register_area {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}
@media (min-width: 992px) {
    .thim-widget-testimonials {
        .owl-item {
            .testimonial-item {
                display: table;
                .testimonial-thumbnail {
                    display: table-cell;
                    vertical-align: top;
                    img {
                        max-width: none;
                    }
                }
                .testimonial-content {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }
    }
    
}

@media (max-width: 768px) and (min-width: 768px) {
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-stage-outer {
                .owl-item {
                    .testimonial-item {
                        .testimonial-thumbnail {
                            padding-bottom: 70px;
                            img {
                                width: 100px;
                            }
                        }
                        .testimonial-content {
                            padding-right: 22px;
                            .title {
                                &:before {
                                    left: 100px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .panel-grid-cell {
        .push-box {
            border-bottom: none;
        }
    }
    .grid_push_box {
        margin-top: 0!important;
        &.panel-grid-cell {
            .push-box {
                border-bottom: none;
            }
        }
        .iconbox-push{
            max-width: 400px;
            margin: auto;
            position: relative;
            box-shadow:0 3px 10px 2px rgba(0,0,0,0.2);
            &:hover{
                box-shadow:0 3px 10px 2px rgba(0,0,0,0.2);
                .push_image{
                    transform: translateY(0);
                    opacity: 1;
                }
                .wrap_icon{
                    transform: translateY(0);
                    z-index: 99;
                }
                .content-inner{
                    .desc-icon-box{
                        top: 0;
                        opacity: 1;
                        padding: 0;
                    }
                }
            }
            .push_image{
                position: relative;
                opacity: 1;
                width: 100%;
                height: auto;
                overflow: hidden;
                img{
                    position: relative;
                    left: 0;
                    top: 0;
                    transform: translate(0,0);
                    width: 100%;
                    height: auto;
                    max-width: initial;
                }
            }
            .wrap_icon{
                transform: translateY(0);
                position: relative;
                top: -50px;
                margin-bottom: 0;
            }
            .content-inner{
                position: relative;
                top: -50px;
                padding-bottom: 99px;
                padding-left: 15px;
                padding-right: 15px;
                .sc-heading{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0px;

                }
                .desc-icon-box{
                    position: relative;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    padding: 0;
                    background-color: #fff;
                    p{
                        height: auto;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .learn-press {
        .curriculum-sections {
            .section-content {
                .course-lesson, .course-quiz {
                    .lesson-preview {
                        //display: none;
                    }
                }
            }
        }
    }
    .woocommerce-page {
        .product {
            .meta-sharing {
                &:after {
                    clear: both;
                    content: "";
                    display: table;
                }
            }
        }
    }
    .tp_single_event {
        .tp-event-content {
            .tp-event-info {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .thim-list-event {
        .item-event {
            &.feature-item {
                .event-wrapper {
                    margin-bottom: 25px;
                }
            }
        }
    }
    .contact-lifecoaching {
        .panel-grid-cell {
            .widget_text {
                .textwidget {
                    text-align: center!important;
                    margin: 0!important;
                }
            }
        }
    }
    .thim-widget-progress-step {
        .thim-progress-step {
            .progress-step-title {
                width: 33%;
            }
            .thim-progress-step-carousel-container {
                width: 66%;
            }
        }
    }
    .thim-list-posts {
        &.life_homepage {
            .item-post {
                .article-image {
                    img {
                        position: inherit;
                        left: inherit;
                        top: inherit;
                        transform: inherit;
                    }
                }
            }
        }
    }
    .thim-widget-list-event {
        .thim-list-event {
            .item-event {
                &.feature-item {
                    .event-wrapper {
                        padding-right: 25px;
                    }
                }
            }
        }
    }
    .panel-grid {
        .panel-grid-cell {
            .push-box {
                margin: 0;
                .iconbox-push {
                    .push_image {
                        background-color: #ffffff;
                    }
                }
            }
            &:first-child {
                .push-box {
                    margin-left: 0;
                }
            }
        }
    }
}
@media (max-width: 767px) {

    #tab-course-review {
        .course-rating {
            .detailed-rating {
                .stars {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        }
    }
    .site-content {
        .site-main {
            &.alignleft {
                padding-left: 15px;
            }
        }
    }
    .giving-issues {
        .thim-carousel-wrapper {
            &.gallery-img {
                .owl-item {
                    height: inherit;
                }
            }
        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .testimonial-item {
                            .testimonial-content {
                                .title {
                                    position: relative;
                                    &:before {
                                        width: 40px;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .thim-list-event {
        .item-event {
            .event-wrapper {
                padding-right: 25px!important;
                padding-left: 25px!important;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 767px) and (min-width: 497px) {
    .thim-widget-progress-step {
        .thim-progress-step {
            .progress-step-title, .thim-progress-step-carousel-container {
                width: 50%;
            }
        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .testimonial-item {
                            .testimonial-thumbnail {
                                float: none;
                                text-align: center;
                            }
                            .testimonial-content {
                                text-align: center;
                                .title {
                                }
                                .description {
                                    blockquote {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .owl-controls {
                top: inherit;
                margin-top: -50px;
                position: relative;
                text-align: center;
                margin-bottom: 30px;
                .owl-dots {
                    .owl-dot {
                        display: inline-block;
                        margin: 0 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) and (min-width: 601px) {
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .testimonial-item {
                            .testimonial-thumbnail {
                                width: 130px;
                                margin: 0 auto;
                                padding-bottom: 20px;
                            }
                            .testimonial-content {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 497px) {
    .thim-widget-progress-step {
        .thim-progress-step {
            .progress-step-title {
                width: 50%;
            }
            .thim-progress-step-carousel-container {
                width: 50%;
            }
        }
    }
    .thim-list-posts {
        &.life_homepage {
            .item-post {
                .article-image {
                    width: 100%;
                    height: inherit;
                }
                article {
                    margin-bottom: 25px;
                    width: 100%;
                    .entry-header {
                        .entry-meta {
                            li {
                                padding-left: 10px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .thim-widget-courses {
        div.thim-course-carousel {
            .owl-controls {
                top: -36px;
                left: auto;
                right: 15px;
            }
        }
    }
    .thim-widget-testimonials {
        .thim-testimonial-carousel {
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .testimonial-item {
                            .testimonial-thumbnail {
                                float: none;
                                text-align: center;
                            }
                            .testimonial-content {
                                text-align: center;
                                .title {
                                }
                                .description {
                                    blockquote {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .owl-controls {
                right: -65px;
                top: 58%;
            }
        }
    }
}


// Responsive portfolio page
@media (max-width: 439px) {
    .thim-widget-progress-step {
        .thim-progress-step {
            .progress-step-title {
                padding-bottom: 25px;
                width: 100%;
                min-height: inherit!important;
                border: none;
                border-bottom: 1px solid #ffffff;
                border-radius: 0;
            }
            .thim-progress-step-carousel-container {
                width: 100%;
            }
        }
    }
    .thim-widget-portfolio {
        .wapper_portfolio {
            .filters {
                .portfolio-tabs {
                    display: block;
                    li {
                        display: block;
                    }
                }
            }
        }
    }
}

// Responsive gallery video
@media(max-width: 1200px)and (min-width:768px){
    .thim-gallery-video {
        .video-item {
            .video-thumbnail {
                img{
                    height: 100%;
                    width: auto;
                    max-width: initial;
                }
            }
        }
    }
}


@media (max-width: 780px){
    #about-circle-box{
        .panel-grid-cell{
            margin-bottom: 0;
        }
    }
    .contact-lifecoaching{
        .panel-grid-cell{
            .widget_text .textwidget{
                text-align: center;
                margin: 0;
            }
        }
    }
}

@media (max-width: 800px){
    .textwidget #shaon-pricing-table-plus .minimal .highlight .content-highlight{
        margin-bottom: 30px;
    }
}



@media(max-width: 959px){
    .thim-list-event{
        .item-event{
            .event-wrapper{
                .description{
                   display: none;
                }
            }
            &.feature-item{
                .view-detail{
                   margin-top: 30px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {

}

@media (max-width: 1000px) and (min-width:768px){
    .thim-list-posts.homepage{
        .item-post{
            article{
                .thim-excerpt{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .slider_health_coaching {
        margin-bottom: 290px;
        .tp-simpleresponsive {
            > ul {
                position: inherit;
                > li {
                }
            }
            .tp-thumbs {
                &.erinyen {
                    top: inherit !important;
                    position: inherit!important;
                    transform: inherit!important;
                }
            }
        }
    }
    .header_v3 {
        .navbar-toggle {
            display: block;
            margin: 0;
            position: relative;
            right: 0;
            top: 27px;
        }
        .width-navigation {
            display: none;
        }
        &.site-header {
            .column_logo {
                width: 200px;
                float: left;
            }
            .column_right {
                width: calc(~"100% - 230px");
                width: -webkit-calc(~"100% - 230px");
                width: -moz-calc(~"100% - 230px");
                float: right;
            }
        }
        &#masthead {
            .navigation {
                padding-top: 0;
            }
        }
    }
    #wrapper-container.mobile-menu-open{
        .site-header.sticky-header{
            top: 0;
            -webkit-transition-property: none;
            -moz-transition-property: none;
            -o-transition-property: none;
            transition-property: none;
        }
    }
}

/*
@media (max-width: 1024px) and (min-width: 1024px){
    .tp-parallax-wrap{
        .tp-loop-wrap{
            .tp-mask-wrap{
                overflow: visible !important;
                h3.thim-slider-heading{
                    font-size: 40px !important;
                    top: 45px !important;
                }
                .thim-slider-sub-heading{
                    font-size: 15px !important;
                    line-height: 25px !important;
                }
                .thim-slider-button{
                    font-size: 10px !important;
                    top: -40px !important;
                }
            }
        }
    }
}
*/

@media (max-width: 449px) {
    .tp_single_event {
        .tp-event-top {
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            margin: 0 10px;
                            width: 70px;
                            height: 70px;
                            .countdown-amount{
                                font-size: 30px;
                                line-height: 30px;
                                height: 30px;
                                margin-top: 10px;
                            }
                            .countdown-period{
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 389px) {
    .maintenance-wrap {
        .thim-widget-countdown-box {
            .counter-block {
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 30px;
                float: none !important;
            }
        }
    }
    .tp_single_event {
        .tp-event-top {
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            margin: 0 10px;
                            width: 55px;
                            height: 55px;
                            .countdown-amount{
                                font-size: 20px;
                                line-height: 20px;
                                height: 20px;
                                margin-top: 10px;
                            }
                            .countdown-period{
                                font-size: 10px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .tp_single_event {
        .tp-event-top {
            .entry-countdown {
                .tp_event_counter {
                    .countdown-row {
                        .countdown-section {
                            margin: 0 5px;
                            width: 45px;
                            height: 45px;
                            .countdown-amount{
                                font-size: 16px;
                                line-height: 16px;
                                height: 16px;
                                margin-top: 5px;
                            }
                            .countdown-period{
                                font-size: 10px;
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) and (min-width: 480px) {
    .minimal .plan {
        width: 50% !important;
        float: left!important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .thim-widget-single-images {
        .text-left {
            //padding-top: 50px;
        }
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .thim-course-grid {
        .course-item {
            .course-thumbnail {
                min-height: inherit!important;
            }
        }
    }
    .col2_tablet.image_left {
        .wpcf7-form {
            max-width: 370px;
        }
    }
    .image_left {
        position: relative;
        padding-bottom: 50px!important;
        padding-top: 30px!important;
        > .panel-grid-cell:first-child {
            position: absolute;
            bottom: 0;
            margin-bottom: 0!important;
        }
        > .panel-grid-cell:last-child {
            float: right!important;
        }
    }
    .form_img {
        position: relative;
        .widget_single-images {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 33%;
        }
    }
    .thim-widget-single-images {
        .text-left {
            //padding-top: 90px;
        }
    }
    #health-icon-box {
        .first-icon-element {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .wrapper-box-icon {
            &.circle {
                .content-inner {
                    width: 100%!important;
                    clear: both;
                    margin-top: 20px;
                    .heading__primary {
                        margin-bottom: 0!important;
                    }
                }
                .boxes-icon {
                    &.circle {
                        width: 80px!important;
                        height: 80px!important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 768px){
    .vertical-center{

    }
}

@media (min-width:768px){
    .vertical-center .health-v3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:1025px){
    .header_v3#masthead {
        .width-navigation {
            display: block;
        }
    }
}
