/**
 * Single
 * -----------------------------------------------------------------------------
 */

.about-author {
    overflow: hidden;
    .tm-title {
        text-transform: uppercase;
        margin: 0 0 15px 0;
        a {
            color: @thim_body_primary_color;
        }
    }
    .avatar {
        width: 90px;
        margin-right: 20px;
        float: left;
        height: 90px;
        .rounded(90px);
        overflow: hidden;
    }
    .description {
        float: left;
        width: calc(~"100% - 110px");
    }
}

.related-archive {
    .post-formats-wrapper{
        margin-top: 0 !important;
    }
    .title{
        a{
            display: block;
        }
    }
    h3{
        font-size: 20px;
        margin-top: -8px;
        margin-bottom: 5px;
        line-height: 30px;
    }
    .item{
        position: relative;
        top: 0px;
    }
    .post-item{
        display: block;
        overflow: hidden;
        clear: both;
        .article-title-wrapper{
            margin-left: 60px;
            h5{
                font-size: 12px;
                font-weight: 700;
                position: relative;
                line-height: 20px;
                margin-top: -5px;
                margin-bottom: 2px;
            }
            .article-date{
                font-size: 12px;
                font-style: italic;
                line-height: 20px;
            }
        }
    }
    .article-image{
        float: left;
        margin-bottom: 30px;
        margin-right: 20px;
        img{
            max-width: 50px;
        }
    }
    .meta{
        margin-left: 0;
        margin-bottom: 16px;
        overflow: hidden;
        li{
            padding-right: 4px;
            list-style: none;
            display: inline-block;
            line-height: 18px;
            margin-top: 7px;
            float: left;
            &:after{
                content: '/';
                display: inline-block;
            }
            &:last-child{
                &:after{
                    display: none;
                }
                padding-right: 0;
            }
            &.date{
                span{
                    font-weight: 700;
                    font-size: 12px;
                    color: #666;
                }
            }
            span{
                font-size: 12px;
                display: inline-block;;
                line-height: 18px;
            }
            .date{
                font-weight: 700;
            }
            a{
                text-transform: capitalize;
                font-weight: 700;
                font-size: 12px;
                display: inline-block;
                color: #666;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }

    .des-related{
        clear: both;
    }

}

.share-post, .related-archive {
    .single-title {
        font-weight: 700;
        padding: 75px 0 22px 0;
        text-transform: uppercase;
        margin: 0 0 60px 0;
        font-size: 22px;
        position: relative;
        line-height: 30px;
        &:before {
            content: '';
            width: 32px;
            height: 2px;
            background: #2e8ece;
            bottom: 0;
            position: absolute;
            left: 0;
        }
    }
}

.tm-single-nav {
    position: fixed;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    background: rgba(0, 0, 0, .2);
    padding: 20px 15px;
    z-index: 9;
    .transition;
    &:hover {
        background: rgba(0, 0, 0, .9);
        .post-entry {
            width: auto;
        }
    }
    i {
        font-size: 28px;
        color: @white;
        position: absolute;
        height: 28px;
        line-height: 28px;
        top: 50%;
        margin-top: -14px;
    }
    .post-entry {
        display: block;
        overflow: hidden;
        width: 0;
        height: 100%;
        .post-entry-inner {
            display: table;
            width: 200px;
            height: 100%;
            .post-entry-content {
                display: table-cell;
                vertical-align: middle;
            }
            h3 {
                color: @white;
                display: table-cell;
                vertical-align: middle;
            }
            .img {
                display: table-cell;
                vertical-align: middle;
                width: 60px;
                height: 60px;
                img {
                    display: block;
                }
            }
        }
    }
    &.post-next {
        right: 0;
        text-align: right;
        .rounded(2px 0 0 2px);
        i {
            right: 10px;
        }
        .post-entry {
            .post-entry-inner {
                margin: 0 20px 0 0;
                h3 {
                    padding-left: 10px;
                    text-align: left;
                }
            }
        }
    }
    &.post-prev {
        left: 0;
        .rounded(0 2px 2px 0);
        i {
            left: 10px;
        }
        .post-entry {
            .post-entry-inner {
                margin: 0 0 0 20px;
                h3 {
                    padding-right: 10px;
                    text-align: left;
                }
            }
        }
    }
}

.social-networks {
    margin: 0;
    display: inline-block;
    li {
        display: inline-block;
        margin: 0;
        &:last-child {
            a {
                margin-right: 0;
            }
        }
        a {
            text-align: center;
            display: inline-block;
            margin-right: 30px;
            position: relative;
            color: @title-color;
            &:hover {
                color: @thim_body_primary_color !important;
            }

        }
    }
}

.single-post, .page {
    .page-content {
        article {
            .entry-content{
                ol{
                    margin-left: 18px; 
                }
                input[type=submit]{
                    line-height: 30px;
                    color: #fff;
                    border-radius: 30px;
                    padding: 5px 25px;
                    font-weight: 700;
                    font-size: 15px;
                    border: none;
                }
                input[type=password]{ 
                    height: 40px;
                    margin-right: 25px;
                }
            } 
            .post-formats-wrapper {
                margin-top: 57px;
                margin-bottom: 25px;
                text-align: center;
                iframe {
                    width: 100%;
                    border: none;
                }
            }
            .page-content-inner {
                .entry-header {
                    margin-bottom: 25px;
            
                }
                .entry-content {

                }
            }
            &.format-quote {
                blockquote {
                    font-style: italic;
                    font-weight: 300;
                    padding-left: 50px;
                    position: relative;
                    border-left: none;
                    &:before {
                        content: '\201C';
                        font-size: 100px;
                        font-weight: 400;
                        line-height: .8;
                        padding-right: 25px;
                        position: absolute;
                        left: -15px;
                        top: -3px;
                    }
                    cite {
                        display: block;
                        font-size: 16px;
                    }
                }
            }
        }

    }
}
.single{
    article{
        .entry-header{
            .entry-title{
                margin-bottom: 0;
            }
        }
    }
}
.flexslider {
    ul {
        margin: 0;
    }
}


.entry-tag-share {
    margin: 60px 0 60px;
    .post-tag {
        line-height: 25px;
        display: inline-block;

        span {
            margin-right: 30px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
        }

        a{
            font-size: 12px;
            padding: 0px 8px;
            border: 1px solid #999;
            margin-right: 10px;
            white-space: nowrap;
            display: inline-block;
            line-height: 23px;
            margin-top: 5px;
            margin-bottom: 5px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .thim-social-share {
        float: right;
    }
    &:after {
        clear: both;
        display: table;
        content: "";
    }
}

.thim-social-share {
    margin: 0;
    float: right;
    overflow: hidden;
    li {
        display: inline-block;
        list-style: none;
        line-height: 30px;
        margin-right: 25px;
        max-width: 95px;
        &.google-plus,
        &:last-child {
            margin-right: 0;
        }
    }
    .woocommerce & {
        float: none;
        margin-top: 10px;
    }
    .single-tp_event & {
        float: none;
        text-align: center;
        margin-top: 40px;
        display: inline-block;
    }
}

#tab-course-instructor .thim-about-author {
    padding-bottom: 30px!important;
}
.thim-about-author {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 77px;
    #tab-course-instructor & {
        padding: 0;
        border: 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
    .author-avatar {
        float: left;
        overflow: hidden;
        margin-right: 30px;
        max-width: 100%;
        img{
            border-radius: 50%;
        }
    }
    .author-bio {
        float: right;
        width: calc(~"100% - 140px");
        width: -webkit-calc(~"100% - 140px");

        width: -moz-calc(~"100% - 140px");
        .name {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            display: block;
            margin: 0;
            text-transform: uppercase;
        }
    }
    .author-description {
        font-size: 15px;
        margin: 15px 0 0;
        clear: both;
        line-height: 24px;
    }
}

.thim-author-social {
    li {
        display: inline-block;
        list-style: none;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
        a {
            width: 32px;
            height: 32px;
            border: 1px solid #305891;
            border-radius: 50%;
            line-height: 30px;
            display: inline-block;
            color: #305891;
            font-size: 16px;
            text-align: center;
            &.facebook {
                color: #3b5998;
                border-color: #3b5998;
                &:hover {
                    background: #3b5998;
                    color: #fff;
                }
            }
            &.twitter {
                color: #00aced;
                border-color: #00aced;
                &:hover {
                    background: #00aced;
                    color: #fff;
                }
            }
            &.google-plus {
                color: #dd4b39;
                border-color: #dd4b39;
                &:hover {
                    background: #dd4b39;
                    color: #fff;
                }
            }
            &.youtube {
                color: #bb0000;
                border-color: #bb0000;
                &:hover {
                    background: #bb0000;
                    color: #fff;
                }
            }
            &.linkedin {
                color: #007bb5;
                border-color: #007bb5;
                &:hover {
                    background: #007bb5;
                    color: #fff;
                }
            }
            .fa {
                vertical-align: middle;
            }
        }
    }
}


.entry-navigation-post {
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    &:before{
        position: absolute;
        content: '';
        width: 1px;
        height: auto;
        top: 25px;
        bottom: 25px;
        left: 50%;
        background: #eee;
    }
    .prev-post,
    .next-post {
        width: 50%;
        float: left;
        padding: 22px 0 25px 30px;
        .heading {
            line-height: 25px;
            margin-bottom: 5px;
        }
        .title {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            line-height: 25px;
        }
    }
    .next-post{
        float: right;
    }
    .prev-post{
        padding-left: 0;
        padding-right: 30px;
    }
}
.page-content{
    .comments-area{
        .comment-list{
            .comment-list-inner{
                .comments-title{
                    margin-top: 30px;
                }
            }
        }

        .form-submit{
            input#submit{
                border: 1px solid !important;
                line-height: 28px !important;
            }
        }
    }
}

.entry-content >ol {
    margin-left: 15px;
}
