ul.thim-social-share{
    overflow: visible;
    >.heading{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        margin-right: 30px;
    }
    li{
        margin-right: 10px;
        >div{
            width: 30px;
            height: 30px;
            border: 1px solid #eee;
            border-radius: 100%;
            text-align: center;
            font-size: 14px;
            a{
                color: #999;
                line-height: 28px;
                display: inline-block;
            }
        }
    }
    li:hover{
        cursor: pointer;
        .facebook-social{
            border-color: #3b5998;
            background-color: #3b5998;
            a{
                color: #fff;
            }
        }
        .googleplus-social{
            border-color: #dd4b39;
            background-color: #dd4b39;
            a{
                color: #fff;
            }
        }
        .twitter-social{
            border-color: #55acee;
            background-color: #55acee;
            a{
                color: #fff;
            }
        }
        .pinterest-social{
            border-color: #cb2027;
            background-color: #cb2027;
            a{
                color: #fff;
            }
        }
    }
}