.user-profile-edit-form h3.title{
	text-transform: uppercase;
}

.hide-if-js{
	display: none !important;
}
//New style from LearnPress
.learn-press-user-profile #lp-user-edit-avatar .moxie-shim {
  display: none;
}
.learn-press-user-profile #lp-user-edit-avatar .lp-form-field-avatar {
  float: left;
}
.learn-press-user-profile #lp-user-edit-avatar #lp-avatar-actions {
  margin: 20px 0 0;
}
.learn-press-user-profile .lp-avatar-preview {
  position: relative;
  float: left;
  background-color: #DDD;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture {
  float: left;
  margin-right: -100%;
  width: 100%;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.learn-press-user-profile .lp-avatar-preview .profile-picture.profile-avatar-hidden {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -14px;
  text-align: center;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions a {
  text-decoration: none;
  font-size: 12px;
  background: #FFF;
  display: inline-block;
  box-shadow: none;
  padding: 5px 10px;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-progress {
  position: absolute;
  height: 10px;
  background: #FFF;
  top: 50%;
  margin-top: -5px;
  left: 10px;
  right: 10px;
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-progress .lp-avatar-upload-progress-value {
  width: 0;
  height: 10px;
  background: @thim_body_primary_color;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-upload-error {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview:hover .lp-avatar-preview-actions {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.uploading .lp-avatar-preview-actions,
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview.uploading .lp-avatar-upload-progress,
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-upload-progress {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.uploading:before,
.learn-press-user-profile .lp-avatar-preview.upload-error:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.4;
  content: '';
}
.learn-press-user-profile .lp-avatar-preview.upload-error .lp-avatar-upload-error {
  display: block;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-preview-actions {
  display: none;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image img {
  max-width: inherit;
  cursor: move;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom {
  position: absolute;
  height: 10px;
  bottom: 10px;
  left: 10px;
  right: 30px;
  background: @thim_body_primary_color;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom .ui-slider {
  position: absolute;
  left: 0;
  right: 10px;
  height: 100%;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-zoom .ui-slider .ui-slider-handle {
  display: inline-block;
  width: 10px;
  height: 14px;
  background: #FFF;
  position: absolute;
  margin-top: -2px;
  border: 1px solid @thim_body_primary_color;
  box-shadow: none;
  outline: none;
  cursor: ew-resize;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls .lp-cancel-upload {
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  box-shadow: none;
}
.learn-press-user-profile .lp-avatar-preview.croping .lp-avatar-crop-image .lp-crop-controls:before {
  position: absolute;
  height: 30px;
  width: 100%;
  content: '';
  background: #FFF;
  opacity: 0.4;
}
.learn-press-user-profile .lp-avatar-preview:after {
  display: block;
  content: '';
  clear: both;
}
.learn-press-user-profile .lp-avatar-preview:after:after {
  content: '';
  display: block;
  clear: both;
}
//#your-profile
#your-profile{
  ul{
	list-style: none;
	margin: 0;
	display: block;
	overflow: hidden;
	li{
	  list-style: none;
	}
	&.learn-press-subtabs{
	  li{
		float: left;
		display: inline-block;
		margin: 0;
		position: relative;
		border-bottom: 1px solid #eee;
		&:after{
		  bottom: -1px;
		  z-index: 10;
		  background: 0 0;
		  left: 0;
		  right: 3px;
		  height: 1px;
		  content: '';
		  position: absolute;
		}
		&.current{
		  &:before{
			content: '';
			position: absolute;
			left: 0;
			right: 3px;
			top: 0;
			height: 3px;
			z-index: 10;
			background: @thim_body_primary_color;
		  }
		  &:after{
			background: #fff;
		  }
		  span,a{
			background: #fff;
		  }
		}
		&:last-child{
		  &.current:before{
			right: 0;
		  }
		  &:after{
			right: 0;
		  }
		  span,a{
			margin-right: 0;
		  }
		}
		span,a{
		  padding: 5px 15px;
		  line-height: 25px;
		  font-size: 12px;
		  min-width: 100px;
		  display: inline-block;
		  border: 1px solid #eee;
		  border-bottom: 0;
		  font-weight: 700;
		  background: #f9f9f9;
		  margin-right: 3px;
		  text-align: center;
		  color: @thim_font_title_color;
		}
	  }
	}
  }
  .learn-press-subtab-content{
	clear: both;
	padding: 30px 30px 40px;
	border: 1px solid #eee;
	margin: 30px 0;
	.lp-form-field{
	  margin-bottom: 20px;
	  .description{
		margin-bottom: 10px;
	  }
	  &:last-child{
		margin-bottom: 0;
	  }
	  .lp-form-field-input {
		input, select {
		  padding: 5px 15px;
		  width: 100%;
		  border: 1px solid #eee;
		}
		textarea {
		  padding: 10px 15px;
		  border: 1px solid #eee;
		}
	  }
	}
  }
  #lp-upload-photo{
	padding: 5px 10px;
	background: #f2f2f2;
	border: 1px solid #a0a0a0;
	color: #333;
	font-weight: 400;
	font-size: 14px;
	border-radius: 3px;
	line-height: 18px;
	text-transform: none;
  }
  #lp-remove-upload-photo{
	background: transparent;
	border: none;
	font-weight: 700;
	font-size: 14px;
	width: 20px;
	height: 25px;
	text-align: center;
	text-transform: none;
	border-radius: 50%;
	color: red;
	padding: 0;
	margin: 0;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
  }
  .title{
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 30px;
  }
  input,select{
	width: 250px;
	max-width: 100%;
  }
  textarea{
	width: 100%;
	max-width: 100%;
  }
  input[type=submit]{
	&[disabled="disabled"]{
	  color: #666;
	  cursor: no-drop;
	  background: #ccc;
	  &:hover{
		color: #666;
		background: #ccc;
	  }
	}
	width: auto;
	border: none;
	padding: 6px 30px;
	border-radius: 20px;
	color: #ffffff;
	background: @thim_body_primary_color;
	&:hover{
	  background: @thim_button_hover_color;
	}
  }
  label{
	display: block;
	color: #333;
	font-weight: 700;
  }
  .info-field{
	display: block;
	overflow: hidden;
	clear: both;
	&.end-box{
	  margin-bottom: 50px;
	}
  }
  .change-password{
	margin-bottom: 0;
	display: block;
	padding-bottom: 0;
  }
  .link-change-password{
	color: @thim_body_primary_color;
	display: inline-block;
	margin-bottom: 0;
	&:hover{
	  text-decoration: underline;
	}
  }
  #user_profile_password_form{
	margin-bottom: 0;
	padding-top: 15px;
	.error{
	  margin: 15px 0 0;
	  border: 0;
	  border-radius: 0;
	  line-height: 20px;
	  padding: 10px 15px;
	  font-size: 13px;
	  color: #a94442;
	  background: #f2dede;
	  display: block;
	}
  }
  .learn-press-message{
	margin: 0 0 20px;
	border: 0;
	border-radius: 0;
	line-height: 20px;
	padding: 10px 15px;
	font-size: 13px;
	display: block;
	&.error{
	  color: #a94442;
	  background: #f2dede;
	}
	&.success{
	  color: #3c763d;
	  background: #dff0d8;
	}
  }
  input#pass2{
	margin-bottom: 0;
  }
}
body{
	#course-curriculum-popup{
		background: rgba(0,0,0,0.75);
		#popup-main{
		}
	}

	#learn-press-block-content {
		position: fixed;
		z-index: 99999999;
		width: auto;
		height: auto;
	  left: 0;
	  top: 90px;
		right: 0;
		bottom: 0;
		background: none;
		&:before,&:after{
			display: none;
		}
		.thim-loading-container{
			width: 900px;
			max-width: 100%;
			background: #fff;
			margin: 0 auto;
		}
	  div#preload {
		width: calc(~"100% - 400px");
		width: -webkit-calc(~"100% - 400px");
		width: -moz-calc(~"100% - 400px");
		right: 0;
	  }
	}
	#popup_container{
		#popup_title{
			background: @thim_body_primary_color;
			color: #ffffff;
		}
	}
	#popup_panel{
		#popup_ok{
			background: @thim_body_primary_color;
			color: #ffffff;
			&:hover{
				background: @thim_button_hover_color;
			}
		}
	}
}
.quiz-buttons{
	overflow: hidden;
	.button-hint,
	.button-next-question,
	.button-check-answer,
	.button-prev-question{
		display: inline-block;
		margin-right: 10px;
		background: @thim_font_title_color;
		color: #fff;
		&:hover{
			background: @thim_body_primary_color;
			color: @thim_font_title_color;
		}
	}
	.finish-quiz{
		overflow: hidden;
		clear: both;
		margin-top: 10px;
	}
	.button-finish-quiz{
		float: left;
		clear: both;

	}
}
.complete-lesson-button{
	margin-top: 15px;
	&.completed {
		background: #54B551;
		color: #fff;
	}
}
.thim-course-megamenu .course-meta{
	margin-bottom: 0;
}
#profile-picture-picture{
	margin-top: 10px;
}
.learn-press #learn-press-course-curriculum .section-content{
	.course-item{
		.completed-button{
			display: none;
		}
		&.item-completed{
			.completed-button{

			}
		}
	}
}
#learn-press-course-curriculum ul.curriculum-sections,
#learn-press-course-curriculum ul.section-content{
	background: none;
}
#learn-press-course-curriculum .course-item.course-quiz .course-item-title:before,
#learn-press-course-curriculum .course-item.course-lesson .course-item-title:before{
	display: none;
}
#learn-press-course-curriculum .section-header{
	background: transparent;
	padding-bottom: 10px;
	&:hover{
		background: transparent;
	}
}
#learn-press-course-curriculum .course-item{
	background: transparent !important;
	border: none;
	&:hover{
		background: transparent !important;
	}
}
.thim-course-landing-button .purchase-course{
	margin: 0 !important;
}
.thim-course-landing-button .course-price .value,
body .learn-press .course-payment .course-price .value{
	color: #2e8ece;
}
body.single #main-content .course-price{
	.value{
		&.has-origin{
			position: relative;
			padding-top: 10px;
			margin-bottom: -10px;
			.course-origin-price{
				color: #666;
				font-size: 16px;
				font-weight: 400;
				text-decoration: line-through;
				position: absolute;
				top: -14px;
				right: 0;
			}
		}
	}
}
body.content-item-only .learn-press-content-item-only{
	padding: 30px;
}

body #course-curriculum-popup{
	#popup-main{
		#popup-footer {
			border-top: 1px dashed #DDD;
			overflow: hidden;
			margin: 0 0 20px;
			padding-top: 10px;
			background: transparent;
			height: 60px;
			left: 30px;
			right: 30px;
		}
	}
}
body #popup-footer{
	.course-content-lesson-nav{
		a{
			font-size: 14px;
			font-weight: 700;
			color: #333;
			display: block;
			&:hover{
				text-decoration: underline;
			}
		}
		span{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 11px;
		}
	}
	.course-item-prev{
		float: left;
		text-align: left;
	}
	.course-item-next{
		float: right;
		text-align: right;
	}
}
#learn-press-course-curriculum .course-item.item-current:before{
	display: none;
}
#learn-press-course-curriculum ul.curriculum-sections li.section, #learn-press-course-curriculum ul.section-content li.section{
	padding-bottom: 20px;
}
.widget-area .thim-course-list-sidebar .thim-course-content .course-meta .course-review .review-stars-rated .review-stars>li{
	padding: 0;
}
.review-stars-rated .review-stars.filled:before{
	display: none;
}
#tab-course-review .course-review .content-review>ul .review-text ul li {
	margin: 0;
	border: 0;
	background: none;
}
#tab-course-review .course-rating .detailed-rating .stars>div.key {
	min-width: 50px;
}
.learn-press form.enroll-course{
	display: inline-block;
}

.course-curriculum {
  .button-retake-course {
	margin-bottom: 30px;
  }
}