article.testimonials{
    padding-top: 20px;
    .image{
        width: 200px;
        margin-right: 30px;
        float: left;
        img{
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    .content{
        float: right;
        width: calc(~"100% - 230px");
        width: -webkit-calc(~"100% - 230px");
        width: -moz-calc(~"100% - 230px");
        .title{
            margin: 0;
            font-size: 20px;
        }
        .regency,
        .author {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            color: #999;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }
}

// Testimonial archive page
.testimonial-item-archive {
    margin-bottom: 60px;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
    .side-left {
        width: 170px;
        margin-right: 30px;
        float: left;
        padding-bottom: 60px;
        padding-left: 0;
        .testimonial-thumbnail {
            margin-bottom: 20px;
            text-align: center;
            img {
                border-radius: 50%;
            }
        }
        .testimonial-info {
            font-size: 15px;
            text-align: center;
            .author {
                font-weight: 700;
                text-transform: uppercase;
                a {
                    color: #000;
                }
            }
            .regency {
                text-transform: none;
                font-size: 12px ;
                line-height: 20px;
            }
        }
    }

    .side-right {
        width: calc(~"100% - 200px");
        width: -webkit-calc(~"100% - 200px");
        width: -moz-calc(~"100% - 200px");
        float: left;
        padding-bottom: 60px;
        padding-right: 0;

        .blockquote {
            border: none;
            position: relative;
            font-weight: 700;
            font-style: italic;
            margin: 0;
            line-height: 30px;
            padding: 8px 0 0 22px;
            margin-bottom: 15px;
            font-size: 15px;
            a {
                line-height: 30px;
                &:hover {
                    text-decoration: underline;
                }
            }
            &:before {
                content: "“";
                position: absolute;
                top: 17px;
                padding-right: 10px;
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                left: -10px;
                line-height: 30px;
            }
        }
        .description {
            padding-right: 50px;
        }
        .share_post {
            .thim-social-share {
                float: none;
                margin-top: 50px;
            }
        }
    }
}

.testimonial-item-archive:last-child,
.testimonial-item-archive:nth-child(10n) {
    margin-bottom: 0;
    border-bottom: none;
    .side-right {
        padding-bottom: 0;
    }
}

// Responsive archive testimonial page
@media (max-width: 991px) {
    .testimonial-item-archive {
        .side-left {
            padding-bottom: 30px;
        }

        .side-right {
            padding-left: 30px;
        }
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .testimonial-item-archive {
        .side-left {
            width: 140px;
            margin-right: 20px;
        }

        .side-right {
            width: calc(~"100% - 160px");
            width: -webkit-calc(~"100% - 160px");
            width: -moz-calc(~"100% - 160px");
        }
    }
}

@media (max-width: 568px) {
    .testimonial-item-archive {
        .side-left {
            margin: 0 auto;
            float: none;
        }

        .side-right {
            width: 100%;
            .description {
                padding-right: 0;
            }
        }
    }
}

// Update style
@media(min-width: 992px) {
   .thim-testimonial-carousel .owl-stage-outer .owl-item {
        .testimonial-item {
            margin-right: 15px;
            .testimonial-content {
                padding-right: 10px;
            }
        }
   }
   .owl-item.active ~ .owl-item.active {
       .testimonial-item {
           margin-left: 15px;
           margin-right: 0;
           .testimonial-thumbnail {
               img {
                   padding-left: 10px;
               }
           }
           .testimonial-content {
               padding-right: 0;
           }
       }
   }
}

@media (max-width: 991px) {
    .thim-widget-testimonials .thim-testimonial-carousel .owl-controls {
        right: -30px;
    }
}