.thim-twitter {
	.tweet-item {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		.content {
			margin-bottom: 10px;
		}
		a {
			color: #55acee;
			&:hover{
				color: #55acee;
				text-decoration: underline;
			}
		}
		.top {
			.fa {
				font-size: 15px;
				color: #55acee;
			}
		}
		.tweet-footer {

			.bottom {
				.username, .ago {
					color: #999;
				}

				.ago {
					&:before {
						content: "\f111";
						font-family: FontAwesome;
						font-size: 2px;
						position: relative;
						top: -4px;
						padding-right: 8px;
						padding-left: 5px;
					}
				}
			}
		}
	}
}