.list-product-cat {
    text-align: center;
    margin-bottom: 60px;
    margin-top: -10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
    border-bottom: none;
}
.product-cat {
    margin: 0 auto;
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
    li {
        list-style: none;
        display: inline-block;
        a {
            display: inline-block;
            border-bottom: 2px solid transparent;
            margin: 0 8px -2px 8px;
            padding: 5px 8px;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
        }
    }
}

.quick-view {
    position: absolute;
    z-index: 999;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-top: -22px;
    .transform(translate(-50%));
    cursor: pointer;
    .opacity(0);
    a.quick-view_text {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 30px;
        //.transition(all 200ms ease-out);
        color: #fff;
        width: 130px;
        font-size: 13px;
        line-height: 28px;
        padding: 5px 25px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        &.loading.dark {
            -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8);
            display: inline-block;
            font: normal normal normal 24px/1 FontAwesome !important;
            width: auto;
            border: none;
            &:before {
                content: "\f110";
            }
            &:hover{
                background-color: transparent;
                color: #fff;
            }
        }

    }

}

.result-count_ordering{
    border-bottom: 1px solid #eee;
    padding: 0 0 10px;
    margin-bottom: 50px;
    p.woocommerce-result-count{
        float: none;
        display: inline-block;
        margin: 0;
        line-height: 30px;
        span{
            font-weight: 700;
        }
    }
    .woocommerce-ordering{
        span{
           line-height: 30px ;
            margin-right: 10px;
        }
    }
    .orderby{
        border: 1px solid #ebebeb;
        padding: 4px 10px;
        outline: none;
    }
}

.product_thumb {
    display: inline-block;
    position: relative;
    -webkit-perspective: 500;
    -webkit-transform-style: preserve-3d;
    //overflow: hidden;
    width: 100%;
    img {
        width: 100%;
    }
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: "";
        background: @thim_body_primary_color;
        .opacity(0);
        .transition(all 0.4s ease-in-out);
    }

    .onsale {
        font-weight: 400 !important;
        margin: 0 !important;
        padding: 0 !important;
        top: 0 !important;
        left: 0 !important;
    }
}

.add_to_wishlist{
    display: inline-block;
    &:hover{
        &:before {
            color: #f62459;
        }
    }
    &:before{
        content: "\f004";
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        font-family: FontAwesome;
        display: table;
        font-size: 18px;
        color: #999;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;

    }
}

.product{
    .entry-summary{
        .add_to_wishlist{
            padding-left: 30px;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 10px;
            &:before{
                left: 0;
                top: 10px;
            }
        }
        .yith-wcwl-wishlistexistsbrowse:before{
            top: 10px;
            left: 0;
        }
        .yith-wcwl-wishlistaddedbrowse:before{
            top: 10px;
            left: 0;
        }
    }
}

.list-sale-flash{
    position: absolute;
    min-width: 40px;
    min-height: 40px;
    right: 0;
    z-index: 99999;
    .special-product{
        .rotation(45deg);
        position: absolute;
        width: 110px;
        height: 110px;
        top: 13px;
        right: 13px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
.yith-wcwl-add-to-wishlist{
    position: absolute;
    margin: 0;
}
.yith-wcwl-wishlistaddedbrowse{
    &:before{
        content: "\f004";
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        font-family: FontAwesome;
        display: table;
        font-size: 18px;
        color: #f62459;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
    }
}
.yith-wcwl-wishlistexistsbrowse{
    &:before{
        content: "\f004";
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        font-family: FontAwesome;
        display: table;
        font-size: 18px;
        color: #f62459;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
    }
}

.product-grid {
    li {
        list-style: none;
        &.col-md-4:nth-child(3n+1) {
            clear: both;
        }
        &.col-md-3:nth-child(4n+1) {
            clear: both;
        }
    }
    .product__title {
        position: relative;
        padding: 15px 15px 10px 20px;
        .star-rating{
            float: left;
        }
        a.title, .price {
            display: block;
            font-weight: 700;
        }
        a.title{
            font-family: @thim_font_title_font_family;
            font-size: 15px;
        }
        .price {
            float: right;
            color: @thim_body_primary_color;
            ins {
                text-decoration: none;
            }
            del {
                font-weight: normal;
                color: #aaa;
                padding-right: 5px;
            }
        }
        .author_product{
            font-size: 12px;
        }
        .description{
            margin-bottom: 5px;
        }

        .added_to_cart {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            height: 40px;
            line-height: 40px;
            padding-right: 15px;
            padding-left: 15px;
            z-index: 9999;
            border-radius: 0;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
            &:hover {
                color: inherit !important;
            }
        }
    }
    .content__product {
        box-shadow: 0px 0px 0px 1px #eee;
        margin-bottom: 30px;
        position: relative;
        .inner_content{
            overflow: hidden;
        }
        .woo_add_to_cart {
            position: relative;
            transform: translateY(40px);
//            top: 40px;
            .transition(all 0.3s ease-in-out);
            a{
                &.button{
                    color: #fff;
                    &.added{
                        display: none;
                    }
                }
                &.added_to_cart{
                    color: #fff;
                    border-radius: 30px;
                    line-height: 30px;
                    padding: 5px 25px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                &.loading{
                    padding-left: 25px;
                    padding-right: 25px;
                }

                border-radius: 30px;
                line-height: 30px;

            }
            clear: both;
            text-align: center;

        }
        .product_sumary{
            position: relative;
            background-color: #fff;
            .transition(all 0.3s ease-in-out);
            overflow: hidden;
            margin-bottom: -30px;
        }
        .related-products & {
            margin-bottom: 0;
            border: 0;
        }
        &:hover {
            box-shadow: 0 0 10px rgba(51,51,51,0.5);
            .product_thumb {
                &:before {
                    .opacity(0.5);
                }
            }
            .product_sumary{
                transform: translateY(-75px);
                overflow: visible;

            }

            .quick-view {
                bottom: 50%;
                margin-bottom: 5px;
                margin-top: auto;
                opacity: 1;
                .transition( all 0.3s ease-in-out);
            }

            .woo_add_to_cart{
                transform: translateY(20px);
//               top: 20px;
            }
        }
    }
}
.svg_image{
    position: absolute;
    top: -6px;
    right: -6px;
}
/*************single product***************/
.woocommerce, .woocommerce-page {
    div.product {
        .images{
            border: 1px solid #eee;
        }
        .product_title {
            font-weight: 700;
            font-size: 23px;
            line-height: 40px;
            margin-top: -8px;
            margin-bottom: 5px;
        }
        .onsale {
            display: none;
            font-weight: 400 !important;
            margin: 0 !important;
            padding: 0 !important;
            top: 15px !important;
            left: 15px !important;
        }
        p.price, span.price {
            font-weight: 700;
            //color: #5a5a5a;
            del {
                font-weight: normal;
                font-size: 14px;
                margin-right: 5px;
            }
            ins {
                text-decoration: none;
                font-size: 20px;
            }
        }
        .product-grid {
            span.price {
                font-size: inherit;
                del {
                    display: inline-block;
                }
            }
        }
        .description {
            float: left;
            margin-bottom: 25px;
            line-height: 27px;
            clear: both;
            .author_product span,.date_product span{
                font-weight: 700;
            }
            #des-readmore-link{
                display: inline-block;
                font-weight: 700;
                cursor: pointer;
                font-size: 13px;
            }
        }
        p.in-stock{
            display: none;
        }
        .woo-share {
            margin-left: 0;
            margin-top: 10px;
            .share_show {
                margin: 0;
            }
            li {
                list-style: none;
                display: inline-block;
                a {
                    width: 24px;
                    height: 24px;
                    margin: 0 3px;
                    text-align: center;
                    color: #fff;
                    line-height: 24px;
                    display: inline-block;
                    &.facebook {
                        background: #3b5999;
                        margin-left: 0;
                    }
                    &.twitter {
                        background: #61cae7
                    }
                    &.pinterest {
                        background: #d4232b
                    }
                    &.googleplus {
                        background: #f35633
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
        .woocommerce-tabs {
            clear: both;
            .tabs.wc-tabs {
                margin: 0;
                border: 0;
                padding: 0;
                border-bottom: 1px solid #eee;
                overflow: visible;
                position: inherit;
                li {
                    background: transparent;
                    border-radius: 0;
                    margin: 0;
                    width: 25%;
                    text-align: center;
                    border: 0;
                    position: relative;
                    padding: 0;
                    display: block;
                    float: left;
                    &:before,&:after{
                        border: 0;
                        box-shadow: none;
                        content: '';
                        border-radius: 0;
                    }
                    a {
                        border-radius: 0;
                        margin-right: 3px;
                        border: 1px solid #eee;
                        border-bottom: 0 !important;
                        font-size: 12px;
                        font-weight: 700;
                        background: #f9f9f9;
                        line-height: 29px;
                        display: block;
                        padding: 10px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        .fa {
                            font-size: 13px;
                            vertical-align: middle;
                            line-height: 29px;
                            margin-right: 8px;
                        }
                    }
                    &:last-child {
                        a {
                            margin-right: 0;
                        }
                        &.active {
                            &:before {
                                right: 0;
                            }
                            &:after {
                                right: 0;
                            }
                        }
                    }
                    &.active {
                        background: #fff;
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: auto;
                            box-shadow: none;
                            border: 0;
                            border-radius: 0;
                            right: 3px;
                            top: 0;
                            height: 4px;
                            z-index: 10;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: auto;
                            border-radius: 0;
                            border: 0;
                            box-shadow: none;
                            right: 3px;
                            bottom: -1px;
                            height: 1px;
                            z-index: 10;
                            background: #fff;
                        }
                        a {
                            background: #fff;
                        }
                    }
                }
            }

            .entry-content {
                border: 1px solid #eee;
                border-top: 0;
                padding: 33px 30px;

            }
        }

        .related-products, .upsells-products {
            > h2 {
                padding-top: 0 !important;
                text-transform: uppercase;
                font-weight: 700;
                margin: 78px 0 60px;
                position: relative;
                font-size: 22px;
                line-height: 30px;
                padding-bottom: 13px !important;
                &:after {
                    content: '';
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 35px;
                }
            }
        }
    }

    .cart {
        .button,
        input.button {
            color: #fff !important;
            border-radius: 30px;
            line-height: 30px;
            padding: 5px 25px !important;
            height: 40px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            &:hover{
                background-color: @thim_button_hover_color !important;
            }
        }
    }
    .wc-proceed-to-checkout {
        a.button {
            border-radius: 0;
            line-height: 30px;
            padding: 5px 25px;
            height: 40px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;

        }
    }
    &.woocommerce-cart {
        table.cart {
            img {
                width: 80px;
            }
            th {
                text-align: center;
            }
            td.actions {
                text-align: center;
                .coupon {
                    float: none;
                    display: inline-block;
                    .input-text {
                        line-height: 30px;
                        padding: 4px 6px;
                        min-width: 130px;
                        height: 40px;
                    }

                }
                input[type='submit'] {
                    margin-left: 10px;
                }
            }
        }
        a.remove {
            margin: auto;
        }
    }
    table.shop_table {
        td {
            padding: 20px 12px;
            text-align: center;
        }
    }
    .woocommerce-shipping-calculator {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .woocommerce-info {
        a {
            &.showcoupon {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    form {
        .form-row {
            input.input-text,
            textarea {
                line-height: 24px;
                padding: 7px 10px;
                min-height: 40px;
                .rounded(3px);
                border-color: #eee;
            }
            label.checkbox {
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
                margin: 7px 0;
                line-height: 24px;
                display: inline-block;
            }
        }
    }
    #payment #place_order {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        height: 40px;
        line-height: 30px;
        padding: 5px 25px;
        border: 0;
    }
}

form.cart {
    margin-bottom: 15px;
    .thim-quantity{
        clear: both;
        margin-right: 30px;
        &>div{
            float: left;
            display: inline-block;
            border: 1px solid #eee;
            line-height: 38px;
            height: 40px ;
            vertical-align: middle;
            min-width: 40px;
            text-align: center;
        }
        .action{
            cursor: pointer;
            &.plus{
                margin-right: 30px;
                border-radius: 0 30px 30px 0;
            }
            &.minus{
                border-radius: 30px 0 0 30px;
            }
        }
        .minus:hover,.plus:hover{
            color: #fff !important;
        }
        .quantity {
            border: none;
            margin: 0 !important;
            padding: 0;
            width: auto;
            display: block;
            height: 40px;
            border-bottom: 1px solid #eee;
            input {
                border: 1px solid #eee;
                border-left: 0;
                border-right: 0;
                margin: 0;
                padding: 0;
                float: left;
                height: 40px;
                line-height: 38px;
                width: 70px;
                text-align: center;
                -moz-appearance: textfield;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }

    .button {
        line-height: 30px;
        color: #fff ;
        box-shadow: none;
        .rounded(30px);
        text-align: center;
        vertical-align: top;
        text-shadow: 0 0 0;
        text-transform: uppercase;
        font-size: 13px;
        &:focus {
            outline: none;
        }
        &:hover{
            color: #fff !important;
        }
    }
}

.quantity {
    input {
        border: 1px solid #eee;
        padding: 4px 10px;
    }
}

.input-text {
    border: 1px solid #eee;
    padding: 4px 10px;
}

#ship-to-different-address {
    position: relative;
    label {
        font-weight: normal;
        padding-left: 30px;
    }
    #ship-to-different-address-checkbox {
        position: absolute;
        top: 20px;
        left: 0;
    }
}

.woocommerce-page {
    .star-rating {
        span::before {
            color: #f1c40f;
        }
        color: #f1c40f;
        &:before {
            color: #f1c40f;
        }
    }
    .button {
        font-size: 15px;
        text-transform: uppercase;
    }
    .product{
        margin-top: 20px;
        .meta-sharing{
            clear: both;
            padding: 20px 0 70px 0;
            .product_meta{
                margin-top: 10px;
                height: 30px;
                float: left;
                .tagged_as{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #333;
                    font-size: 12px;
                    a{
                        text-transform: capitalize;
                        padding: 3px 8px;
                        line-height: 35px;
                        border: 1px solid;
                        margin-right: 5px;
                        font-weight: normal;
                        &:first-child{
                            margin-left: 30px;
                        }
                    }
                }
            }
            .thim-social-share{
                float: right;
            }
        }
    }
}

.link-images-product {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.woocommerce #respond input#submit.loading:after,
.woocommerce a.button.loading:after,
.woocommerce button.button.loading:after,
.woocommerce input.button.loading:after {
    right: 0;
    content: "\f110";
    font-family: FontAwesome;
    left: 0;
    margin: auto;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 5px;
    line-height: 30px;
}

.woocommerce .cart_totals table tr th,
.woocommerce .cart_totals table tr td {
    border-bottom: 0;
}

/** My Account **/
.woocommerce {
    #customer_login {
        > .col-1,
        > .col-2 {
            width: 100%;
            clear: both;
            float: none;
        }
        h2 {
            font-size: 30px;
            font-weight: 700;
            position: relative;
            text-align: center;
            margin: 0;
            padding-bottom: 20px;
            margin-bottom: 62px;
            text-transform: uppercase;
            line-height: 40px;
            &:after {
                content: '';
                width: 40px;
                bottom: 0;
                height: 1px;
                left: 0;
                right: 0;
                margin: auto;
                background: #333;
                position: absolute;
            }
        }
        .register-area {
            h2 {
                margin-top: 50px;
            }
        }
        form {
            &.login,
            &.register {
                border: 0;
                padding: 0;
                max-width: 370px;
                margin: auto;
                clear: both;
                .form-row {
                    margin: 0;
                    padding: 0;
                }
                input[type="email"],
                input[type="password"],
                input[type="text"] {
                    width: 100%;
                    line-height: 30px;
                    padding: 4px 20px;
                    border: 1px solid #e5e5e5;
                    color: #999;
                    margin-bottom: 20px;
                    clear: both;
                    display: block;
                    min-height: 40px;
                    border-radius: 0;
                    &::-webkit-input-placeholder {
                        line-height: 30px;
                        .transition(none);
                    }

                    &:-moz-placeholder { /* Firefox 18- */
                        line-height: 30px;
                        .transition(none);
                    }

                    &::-moz-placeholder { /* Firefox 19+ */
                        line-height: 30px;
                        .transition(none);
                    }

                    &:-ms-input-placeholder {
                        line-height: 30px;
                        .transition(none);
                    }
                }
                input[type="submit"] {
                    border: 0;
                    width: 100%;
                    line-height: 30px;
                    padding: 5px 25px;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 15px !important;
                    border-radius: 0;
                }
                .remember,
                .lost-password {
                    font-weight: 400;
                    margin-top: 7px;
                    margin-bottom: 14px;
                    line-height: 25px;
                    input[type="checkbox"] {
                        border: 1px solid #000;
                    }
                    label {
                        font-weight: 400;
                        margin: 0;
                    }
                }
                .lost-password {
                    text-align: right;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .link-bottom {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 30px;
                    text-align: center;
                    text-transform: none;
                    margin: 0;
                    margin-top: 34px;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .reset_password {
        text-align: center;
        h2 {
            font-size: 30px;
            font-weight: 700;
            position: relative;
            text-align: center;
            margin: 0;
            padding-bottom: 20px;
            margin-bottom: 62px;
            text-transform: uppercase;
            line-height: 40px;
            &:after {
                content: '';
                width: 40px;
                bottom: 0;
                height: 1px;
                left: 0;
                right: 0;
                margin: auto;
                background: #333;
                position: absolute;
            }
        }
        form {
            margin-bottom: 70px;
            .description {
                margin: auto;
                max-width: 450px;
                margin-bottom: 50px;
            }
            .form-row {
                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    display: inline-block;
                    max-width: 350px;
                    line-height: 30px;
                    padding: 4px 20px;
                    border: 1px solid #e5e5e5;
                    border-radius: 0;
                    &::-webkit-input-placeholder {
                        line-height: 30px;
                    }

                    &:-moz-placeholder {
                        line-height: 30px;
                    }

                    &::-moz-placeholder {
                        line-height: 30px;
                    }

                    &:-ms-input-placeholder {
                        line-height: 30px;
                    }
                }
                input[type="submit"] {
                    padding: 5px 25px;
                    border: 0;
                    display: inline-block;
                    line-height: 32px;
                    border-radius: 0;
                    height: 40px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.woocommerce a.button{
    line-height: 30px;
    padding: 5px 25px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    height: 40px;
}

/** Shop review **/
.woocommerce{
    .woocommerce-tabs{
        margin-top: 30px;
        #reviews {
            #comments {
                h2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                }
                .commentlist {
                    text-align: left;
                    li {
                        &:first-child{
                            .comment_container{
                                padding-top: 7px;
                                padding-bottom: 30px;
                                overflow: hidden;
                                background: #fff;
                                border: 0;
                            }
                        }
                        margin: 0;
                        .comment_container{
                            padding: 40px 0 32px 0;
                            overflow: hidden;
                            background: #fff;
                            border-top: 1px solid #eee;
                        }

                        img.avatar{
                            width: 70px;
                            height: 70px;
                            border: 0;
                            padding: 0;
                            background: transparent;
                            border-radius: 50%;
                            margin-right: 30px;
                            float: left;
                            position: relative;
                            top: auto;
                            left: auto;
                            right: auto;
                            bottom: auto;
                        }
                        .comment-text{
                            margin: 0;
                            padding: 0;
                            float: right;
                            border: 0;
                            width: calc(~"100% - 100px");
                            width: -webkit-calc(~"100% - 100px");
                            width: -moz-calc(~"100% - 100px");
                            margin-top: -5px;
                            .meta {
                                display: block;
                                line-height: 26px;
                                .author{
                                    display: inline-block;
                                    font-weight: 700;
                                    font-size: 15px;
                                    margin: 0;
                                    line-height: 26px;
                                    text-transform: capitalize;
                                }
                                .date{
                                    line-height: 26px;
                                    font-size: 12px;
                                    font-style: italic;
                                    font-weight: 400;
                                    margin-left: 30px;
                                    float: right;
                                }
                            }
                            .description{
                                padding: 12px 0 0;
                                margin: 0;
                                clear: both;
                                p{
                                    &:last-child{
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    .star-rating{
                        float: right;
                        width: 94px;
                        font-size: 14px;
                        height: 26px;
                        line-height: 26px;
                        display: inline-block;
                        letter-spacing: 5px;
                        overflow: hidden;
                        &:before{
                            top: 0;
                            left: 0;
                            bottom: 0;
                            line-height: 26px;
                        }
                        span{
                            padding: 0;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            line-height: 26px;
                        }
                    }
                }
            }
            #review_form_wrapper {
                margin-top: 16px;
                h3 {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 22px;
                    margin-bottom: 35px;
                    text-transform: uppercase;
                }
                .logined{
                    .comment-form {
                        .comment-form-comment{
                            float: left;
                            width: 100%;
                            margin-bottom: 12px;
                        }
                    }
                }
                .comment-form {
                    .comment-notes{
                        display: none;
                    }
                    margin-left: -15px;
                    margin-right: -15px;

                    .comment-form-rating,
                    .comment-form-author,
                    .comment-form-email {
                        float: left;
                        width: 50%;
                        padding: 0 15px;
                        input{
                            width: 100%;
                        }
                    }

                    .comment-form-rating{
                        margin-bottom: 15px;
                        margin-top: 5px;
                    }
                    .comment-form-comment{
                        width: 50%;
                        float: right;
                        padding: 0 15px;
                        margin-bottom: 0;
                        textarea{
                            width: 100%;
                            height: 156px;
                            margin-bottom: 0;
                        }
                    }

                    .form-submit{
                        padding: 0 15px;
                        clear: both;
                        margin: 0;
                    }
                    p {
                        text-align: left;
                        margin-bottom: 20px;
                        label {
                            margin-bottom: 10px;
                            display: block;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 24px;
                        }
                        input, textarea {
                            padding: 4px 15px;
                            border: 1px solid #ededed;
                            line-height: 30px;
                            min-height: 40px;
                            font-size: 12px;
                            &:hover, &:focus, &:active {
                                outline: none ;
                            }
                        }
                        textarea {
                            height: 150px;
                            padding: 8px 15px;
                            line-height: 24px;
                        }
                        &.comment-form-rating{
                            label{
                                display: inline-block;
                                line-height: 26px;
                                margin-right: 30px;
                                margin-left: 20px;
                            }
                        }
                    }
                    .form-submit {
                        .submit {
                            .rounded(30px);
                            color: #fff;
                            padding: 5px 25px;
                            line-height: 30px;
                            font-size: 13px;
                            font-weight: 700;
                            text-transform: uppercase;
                            &:hover{
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .star-rating{
        width: 94px;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        display: inline-block;
        letter-spacing: 5px;
        overflow: hidden;
        position: relative;
        &:before{
            top: 0;
            left: 0;
            bottom: 0;
            line-height: 26px;
        }
        span{
            padding: 0;
            top: 0;
            left: 0;
            bottom: 0;
            line-height: 26px;
            color: transparent;

        }
    }
    div.product .woocommerce-product-rating{
        float: left;
        line-height: 26px;
        margin-right: 30px;
        .star-rating{
            float: left;
            margin: 0;
            margin-right: 5px;
        }
    }
    #review_form #respond p.stars{
        font-size: 15px;
        display: inline-block;
        line-height: 15px;
        margin: 0 !important;
        a[class*="star"]{
            border: 0;
            margin-right: 5px;
            color: #f1c40f !important;
        }
    }
}
.woocommerce {
    table, tr, td {
        border-color: #eee;
    }

    .cart_totals {
        table {
            border: 1px solid #eee !important;
            tr {
                border: 0;
                &.order-total,
                &.cart-subtotal {
                    td {
                        border-bottom: 0;
                        padding: 10px 12px !important;
                    }
                }
            }
        }
    }

    table {
        &.cart,
        &.shop_table{
            tr {
                border: 0;
                td {
                    border-top: 1px solid #eee;
                    border-bottom: 0;
                    &:last-child {
                        border-right: 0;
                    }
                }
            }

        }
        &.shop_table {
            border-radius: 0;
            border: 1px solid #eee;
            th {
                border-right: 1px solid #eee;
                border-bottom: 0;
                &:last-child {
                    border-right: 0;
                }
                padding-left: 20px;
                padding-right: 20px;
            }
            td{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    #respond input#submit,
    a.button,
    input.button{
        border-radius: 0;
        line-height: 30px;
        padding: 5px 25px;
        font-size: 13px;
        font-weight: 700;
    }
    form.checkout_coupon{
        border: 1px solid #eee;
        border-radius: 0;
        .form-row{
            display: inline-block;
            width: 50%;
            margin: 0;
            &.form-row-first{
                padding-right: 15px;
            }
        }
    }
    form{
        .form-row{
            margin-bottom: 20px;
            label{
                font-weight: 400;
                font-size: 13px;
            }
            input.input-text,
            textarea{
                border-radius: 0;
                border: 1px solid #eee;
            }
        }
    }
    form.checkout h3,
    h3#order_review_heading{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .select2-container .select2-choice{
        border-radius: 0;
        border: 1px solid #eee;
        line-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    table.shop_table{
        border-radius: 0;
    }
}
.woocommerce-checkout #payment{
    border-radius: 0;
}
.woocommerce .woocommerce-message{
    line-height: 40px;
}
div.pp_woocommerce .pp_gallery ul{
    height: 50px;
    li {
        a{
            width: 50px;
            height: 50px;
            box-shadow: none;
            background: transparent;
            border-radius: 0;
            border: 1px solid #eee;
        }
    }

}

.woocommerce span.onsale{
    line-height: 40px;
    min-width: 40px;
    min-height: 40px;
}


//widget_woocommerce_products
.woocommerce.widget_woocommerce_products{
    .product_list_widget{
        margin: 0 -15px;
        li{
            width: 25%;
            padding: 15px;
            float: left;
            list-style: none;
            .product_thumb img{
                width: 100%;
                float: none;
                margin: 0;
                max-width: 100%;
                height: auto;
            }
            &.col-md-3:nth-child(4n+1) {
                clear: both;
            }
        }
    }
}

.woocommerce form .form-row .input-checkbox{
    display: inline-block;
}
.tax-product_cat .mfp-image-holder .mfp-close,
.tax-product_cat .mfp-inline-holder .mfp-close{
    background: transparent;
}

.woocommerce-MyAccount-navigation{
    li{
        display: inline-block;
        list-style: none;
        background: none;
        border-radius: 0;
        margin: 0;
        text-align: center;
        border: 0;
        padding: 0;
        position: relative;
        white-space: nowrap;
        min-width: 200px;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 3px;
            bottom: -1px;
            height: 1px;
            z-index: 10;
            background: #eee;
        }
        &.is-active{
            text-align: center;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 3px;
                top: 0;
                height: 4px;
                z-index: 10;
                background: @thim_body_primary_color;
            }
            &:after{
                background: #fff;
            }
            a{
                background: #fff;
            }
        }
        a{
            color: #333;
            border-radius: 0;
            margin-right: 3px;
            border: 1px solid #eee;
            border-bottom: 0;
            font-size: 13px;
            font-weight: 700;
            background: #f9f9f9;
            line-height: 29px;
            float: none;
            position: relative;
            padding: 10px 25px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
        }
    }
}

.woocommerce-MyAccount-content{
    margin-top: 50px;
    form .form-row {
        label {
            display: block;
            .required {

            }
        }
        .input-text,textarea{
            min-width: 250px;
        }
    }
    legend{
        padding-top: 20px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        font-family: @thim_font_title_font_family;
        padding-bottom: 5px;
    }
    form > h3,
    .title h3 {
        text-transform: uppercase;
        font-size: 18px;
    }
    .select2-container{
        max-width: 250px;
    }
    form{
        input.button{
            background: @thim_body_primary_color !important;
            color: @thim_font_title_color !important;
            &:hover{
                background: @thim_button_hover_color !important;
                color: @thim_font_title_color !important;
            }
        }
    }

    .woocommerce-info .woocommerce-Button.button{
        display: inline-block;
        margin-right: 10px;
    }
}

.woocommerce input.button{
    border: none;
}

/** Widget shopping cart on sidebar **/
#sidebar .widget_shopping_cart .widget_shopping_cart_content{
    display: block !important;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    box-shadow: none;
    min-width: auto;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget{
    padding: 0;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li a{
    text-transform: none;
    line-height: 20px;
    font-weight: 400;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li .remove{
    right: 0 !important;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .cart_list.product_list_widget li{
    padding-right: 5px;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .buttons a{
    width: 100%;
    margin: 0;
}
#sidebar .widget_shopping_cart .widget_shopping_cart_content .buttons a:first-child{
    margin-bottom: 10px;
}
#sidebar .widget_shopping_cart .minicart_hover .cart-items-number{
    display: none;
}
//cart,checkout shop
.woocommerce{
    table.cart{
        .cart_item{
            .product-price,
            .product-subtotal{
                text-align: center;
            }
            .product-quantity{
                .thim-quantity{
                    display: inline-block;
                    &>div{
                        float: left;
                        display: inline-block;
                        border: 1px solid #eee;
                        line-height: 38px;
                        height: 40px ;
                        vertical-align: middle;
                        min-width: 40px;
                        text-align: center;
                    }
                    .action{
                        cursor: pointer;
                        &.plus{
                            border-radius: 0 30px 30px 0;
                        }
                        &.minus{
                            border-radius: 30px 0 0 30px;
                        }
                    }
                    .minus:hover,.plus:hover{
                        color: #fff !important;
                    }
                    .quantity {
                        border: none;
                        margin: 0;
                        padding: 0;
                        width: auto;
                        display: block;
                        height: 40px;
                        border-bottom: 1px solid #eee;
                        input {
                            border: 1px solid #eee;
                            border-left: 0;
                            border-right: 0;
                            margin: 0;
                            padding: 0;
                            float: left;
                            height: 40px;
                            line-height: 38px;
                            width: 70px;
                            text-align: center;
                        }
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                        }
                    }
                }
            }
        }
    }
    .cart-collaterals{
        .wc-proceed-to-checkout{
            text-align: center;
            a.checkout-button{
                color: #fff !important;
                display: inline-block;
                border-radius: 30px;
            }
        }

    }
    .woocommerce-checkout{
        input.button{
            border-radius: 30px;
            color: #fff !important;
            &:hover{
                background-color: @thim_button_hover_color !important;
            }
        }
    }
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
    border-radius: 30px;
    color: #fff !important;
    &:hover{
        background-color: @thim_button_hover_color !important;
    }
}

.breadcrumbs-wrapper #breadcrumbs a:hover{
    text-decoration: underline;
}

#comments{
    h2.woocommerce-Reviews-title{
        display: none;
    }
}

.wishlist-link{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 70px;
    display: inline-block;
}

#main .woocommerce{
    .wishlist_table{
        font-size: 15px;
        th{
            text-align:center;
            border-color: #eeeeee;
        }
        td.product-add-to-cart{
            border-color: #eeeeee;
            a.add_to_cart_button{
                display: inline-block!important;
            }
        }
        .product-remove{
            a{
                font-size: 1.5em;
                height: 1em;
                width: 1em;
                text-align: center;
                line-height: 1;
                border-radius: 100%;
                color: red!important;
                text-decoration: none;
                font-weight: 700;
                border: 0;
                display: block;
                margin: auto;
                &:hover{
                    color: #fff!important;
                    background: red;
                }
            }
        }
    }  
} 
#order_review table.shop_table {
    th, td {
        text-align: left !important;
    }
}
.single_variation_wrap {
    display: block!important;
}

.woocommerce-cart-form {
    .actions {
        .coupon {
            .button {
                background-color: #333333;
                &:hover {
                    background-color: @thim_button_hover_color;
                }
            }
        }
        p {
            display: inline-block;
        }
        input[name="update_cart"] {
            background-color: @thim_body_primary_color;
            &:hover {
                background-color: @thim_button_hover_color;
            }
        }
    }
}
.woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
    background-color: @thim_body_primary_color;
    &:hover {
        background-color: @thim_button_hover_color;
    }
}