
.health-box-border{
	&:after{
		display: block;
	    content: '';
	    height: 1px;
	    width: calc(~"100% - 30px");
		width: -webkit-calc(~"100% - 30px");
		width: -moz-calc(~"100% - 30px");
	    background-color: #e3e3e3;
	    margin: auto;
	}
}
#health-icon-box{
	.first-icon-element{
		margin-bottom: 86px;
		margin-top: 120px;
	}
	.icon-element{
		margin-bottom: 86px;
	}
}

.giving-issues{
	.thim-carousel-wrapper.gallery-img .owl-item{
		height: 359px;
	} 
}

.health-v3{
    .thim-widget-courses .view-all-courses:hover{
        color: #fff;
    }
    .textwidget #shaon-pricing-table-plus .minimal .highlight.featured h3:before{
    	    -webkit-mask: url(../../images/sale.svg) no-repeat top right;
		    background: none;
		    background-color: #2e8ece;
    }
    .thim-round-slider .scrollable{
    	width: 100% !important;
    	height: 315px !important;
    	li:first-child{
    		width: 100% !important;
    		display: block !important;
    		.slide-content{
    			border-radius: 0;
    			.image{
    				border-radius: 0;
    				height: 315px;
    				img{
    					position: absolute;
    					top:50%;
    					.translate(0,-50%);
    				}
    			}
    		}
    	}
    	li{
    		display: none !important; 
    	}
    }

}


