/* Progress Step */
.thim-progress-steps-white{
    position: relative;
    &:before,
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 1px;
        z-index: 10;
        background: #fff;
    }
    &:after{
        bottom: 0;
        top: auto;
    }
}
.thim-widget-progress-step {
    .thim-progress-step {
        position: relative;
        width: 100%;
        .progress-step-title{
            border: 1px solid #fff;
            border-top: none;
            border-bottom: none;
            border-left: 0;
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }
        .progress-step {
            padding: 80px 30px 75px;
        }
        .owl-stage .owl-item:last-child .panel.panel-default {
            border: none;
        }
        .active{
            &:not(.last-active-item){
                .progress-step{
                    border: 1px solid #fff;
                    border-bottom: none;
                    border-top: none;
                    border-left: 0;
                    border-top-right-radius: 60px;
                    border-bottom-right-radius: 60px;
                }
            }
        }
        .panel-body{
            clear: both;
            margin-top: 23px;
            color: #fff;
        }
    }
    .progress-step-title {
        padding-left: 15px;
        .widget-title {
            font-size: 22px;
            color: #fff;
            position: relative;
            line-height: 40px;
            margin-top: 5px;
            padding-bottom: 9px;
            &:after {
                content: '';
                width: 30px;
                height: 2px;
                left: 0;
                right: 0;
                background: #fff;
                position: absolute;
                bottom: 0;
            }
        }
        .widget-title-description {
            color: #fff;
            margin-top: 31px;
            line-height: 25px;
        }
    }
    .panel-heading {
        overflow: hidden;
        display: block;
        .num-progress.circle {
            margin-left: 0;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: #fff;
            position: relative;
            float: left;
            margin-right: 10px;
            .circle-inner{
                line-height: 40px;
                text-align: center;
                font-size: 26px;
                font-weight: 700;
                font-family: Montserrat;
            }
        }
        .panel-title {
            margin-top: 5px;
            margin-left: 0;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            float: left;
            margin-bottom: 0;
            line-height: 30px;
        }
    }

    .thim-progress-step-carousel-container{
        padding-left: 0;
        padding-right: 0;
    }
}

.thim-progress-step-carousel{
    overflow: visible;
    &:hover{
        .owl-nav{
            visibility: visible;
            .opacity(1);
            .transition(all 0.3s);
        }
    }
    .owl-stage-outer{
        overflow: hidden;
    }
    .owl-nav{
        .transition(all 0.3s 0.5s);
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: -100px;
        .owl-prev,
        .owl-next{
            width: 30px;
            height: 30px;
            line-height: 28px;
            border: 1px solid #fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            color: #fff;
            .fa{
                font-size: 20px;
                display: inline-block;
                line-height: 28px;
            }
        }
        .owl-next{
            margin-left: 10px;
        }
    }
}

@media (max-width: 460px) {
    .thim-widget-progress-step .thim-progress-step .progress-step {
        padding: 50px 30px 75px;
    }
}

@media (max-width: 360px) {
    .thim-widget-progress-step .thim-progress-step .progress-step {
        padding: 25px 30px 75px;
    }
}

@media (max-width: 320px) {
    .thim-widget-progress-step {
        //display: none;
    }
}
