//style slider
.owl-item {
  .overlay_images {
	position:         absolute;
	top:              0;
	bottom:           0;
	left:             0;
	right:            0;
	opacity:          0.6;
  }
  .inner-item {
	position: relative;
	width: 100%;
	display: table;
	.wrapper-content {
	  display: table-cell;
	  vertical-align: middle;
	  .slider-center {
		margin: 0 auto;
		text-align: center;
	  }
	  .slider-right {
		float: right;
		text-align: right;
	  }
	  .delay1 {
		-webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
		animation-delay: 1s;
	  }
	  .delay2 {
		-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
		animation-delay: 2s;
	  }
	  .delay3 {
		-webkit-animation-delay: 3s; /* Safari 4.0 - 8.0 */
		animation-delay: 3s;
	  }
	  .delay4 {
		-webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
		animation-delay: 4s;
	  }
	  .slider_item_content {
		opacity: 0;
		-webkit-animation-fill-mode:forwards;
		-moz-animation-fill-mode:forwards;
		animation-fill-mode:forwards;
		webkit-animation-duration: 1.2s;
		animation-duration:        1.2s;
	  }
	}
  }
  .slider-button {
	background-color: @thim_body_primary_color;
	font-size: 13px;
	line-height: 45px;
	border-radius: 6px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 32px;
	display: inline-block;
	padding: 0 25px;
  }
  .slider-title {
	color:         #fff;
	font-size:     42px;
	line-height:   45px;
	margin-bottom: 25px;
	font-weight:   bold;
  }
  .slider-desc {
	color:         #ffffff;
	font-size:     16px;
	width: 400px;
  }
  &.active {
	.animate_bounceIn {
	  -webkit-animation-name: bounceIn;
	  animation-name: bounceIn;
	}
	.animate_bounceInRight {
	  -webkit-animation-name: bounceInRight;
	  animation-name: bounceInRight;
	}
	.animate_bounceInLeft {
	  -webkit-animation-name: bounceInLeft;
	  animation-name: bounceInLeft;
	}
	.animate_bounceInUp {
	  -webkit-animation-name: bounceInUp;
	  animation-name: bounceInUp;
	}
	.animate_bounceInDown {
	  -webkit-animation-name: bounceInDown;
	  animation-name: bounceInDown;
	}
	.animate_fadeIn {
	  -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;
	}
	.animate_growIn {
	  -webkit-animation-name: growIn;
	  animation-name: growIn;
	}
	.animate_fadeInLeft{
	  -webkit-animation-name: fadeInLeft;
	  animation-name: fadeInLeft;
	}
	.animate_fadeInRight{
	  -webkit-animation-name: fadeInRight;
	  animation-name: fadeInRight;
	}
	.animate_fadeInUp{
	  -webkit-animation-name: fadeInUp;
	  animation-name: fadeInUp;
	}
	.animate_fadeInDown{
	  -webkit-animation-name: fadeInDown;
	  animation-name: fadeInDown;
	}
	.animate_rotateIn {
	  -webkit-animation-name: rotateIn;
	  animation-name: rotateIn;
	}
	.animate_rotateInUpLeft {
	  -webkit-animation-name: rotateInUpLeft;
	  animation-name: rotateInUpLeft;
	}
	.animate_rotateInDownLeft {
	  -webkit-animation-name: rotateInDownLeft;
	  animation-name: rotateInDownLeft;
	}
	.animate_rotateInUpRight {
	  -webkit-animation-name: rotateInUpRight;
	  animation-name: rotateInUpRight;
	}
	.animate_rotateInDownRight {
	  -webkit-animation-name: rotateInDownRight;
	  animation-name: rotateInDownRight;
	}
	.animate_rollIn {
	  -webkit-animation-name: rollIn;
	  animation-name: rollIn;
	}
	.animate_wiggle {
	  -webkit-animation-name: wiggle;
	  animation-name: wiggle;
	  -webkit-animation-timing-function: ease-in;
	  animation-timing-function: ease-in;
	}
	.animate_swing {
	  -webkit-transform-origin: top center;
	  transform-origin: top center;
	  -webkit-animation-name: swing;
	  animation-name: swing;
	}
	.animate_tada {
	  -webkit-animation-name: tada;
	  animation-name: tada;
	}
	.animate_wobble {
	  -webkit-animation-name: wobble;
	  animation-name: wobble;
	}
	.animate_pulse {
	  -webkit-animation-name: pulse;
	  animation-name: pulse;
	}
	.animate_lightSpeedInRight {
	  -webkit-animation-name: lightSpeedInRight;
	  animation-name: lightSpeedInRight;
	  -webkit-animation-timing-function: ease-out;
	  animation-timing-function: ease-out;
	}
	.animate_lightSpeedInLeft {
	  -webkit-animation-name: lightSpeedInLeft;
	  animation-name: lightSpeedInLeft;
	  -webkit-animation-timing-function: ease-out;
	  animation-timing-function: ease-out;
	}
	.animate_flip {
	  -webkit-backface-visibility: visible !important;
	  -webkit-animation-name: flip;
	  backface-visibility: visible !important;
	  animation-name: flip;
	}
	.animate_flipInX {
	  -webkit-backface-visibility: visible !important;
	  -webkit-animation-name: flipInX;
	  backface-visibility: visible !important;
	  animation-name: flipInX;
	}
	.animate_flipInY {
	  -webkit-backface-visibility: visible !important;
	  -webkit-animation-name: flipInY;
	  backface-visibility: visible !important;
	  animation-name: flipInY;
	}
  }
}

#thim-slider {
  &:hover {
	.owl-controls {
	  opacity: 1;
	  visibility: visible;
	}
  }
}

.scroll-down {
	&:visited, &:focus {
		color: @thim_body_primary_color;
	}
	font-size: 50px;
	&:hover {
		color: #fff;
	}
}

.owl-controls {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  .owl-nav {
	> div {
	  position: absolute;
	  top: 50%;
	  margin-top: -25px;
	  width: 50px;
	  height: 50px;
	  background-color: rgba(0,0,0,0.5);
	  text-align: center;
	  border-radius: 50%;
	  i {
		font-size: 30px;
		line-height: 50px;
		color: #fff;
	  }
	}
	.owl-prev {
	  left: 15px;
	}
	.owl-next {
	  right: 15px;
	}
  }
}

@media (max-width: 960px) {
	.slider-left {
		.slider-title, .slider-desc {
			text-align: left;
		}
	}
}
