a.widget-button {
	display: inline-block;
	&.normal {
		&.very-rounded {
			.rounded(50px);
		}
		color: #fff;
		font-weight: bold;
		font-size: 12px;
		padding: 10px 40px;
	}
	&.medium {
		&.very-rounded {
			.rounded(50px);
		}
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		padding: 16px 42px;
	}
	&.large {
		&.very-rounded {
			.rounded(50px);
		}
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		padding: 18px 44px;
	}
	&:hover {
		background: #2e8ece;
		color: #fff;
	}
}

.thim-widget-button {
	.border-button {
		display: block;
		.widget-button {
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 700;
			color: #fff;
			background: transparent;
			padding: 15px 30px;
			height: 40px;
			border: 1px solid #2e8ece;
			vertical-align: middle;
			border-radius: 30px;
			&.very-rounded{
				border-radius: 50%;
				height: 145px;
				width: 145px;
				text-align: center;
				padding: 60px 0;
				line-height: 25px;
			}
			&:hover {
				background: #fff;
				color: #2e8ece;
			}
			&.normal:not(.very-rounded) {
				padding: 5px 30px;
				height: 40px;
				line-height: 28px;
			}
		}
	}
}