/**share networks**/
.thim-social {
    margin: 27px 0 0 40px;
    a {
        font-size: 14px;
        width: 32px;
        height: 32px;
        line-height: 30px;
        border: 1px solid #fff;
        display: block;
        text-align: center;
        border-radius: 50%;
        margin-right: 10px;
        overflow: hidden;
        cursor: pointer;
        &.facebook{
            &:hover{
                color: #fff!important;
                border-color: #3b5998;
                background: #3b5998;
            }
        }
        &.twitter{
            &:hover{
                color: #fff!important;
                border-color: #00aced;
                background: #00aced;
            }
        }
        &.dribbble{
            &:hover{
                color: #fff!important;
                border-color: #ea4c89;
                background: #ea4c89;
            }
        }
        &.pinterest{
            &:hover{
                color: #fff!important;
                border-color: #cb2027;
                background: #cb2027;
            }
        }
        &.google-plus{
            &:hover{
                color: #fff!important;
                border-color: #dd4b39;
                background: #dd4b39;
            }
        }
        &.linkedin {
            &:hover {
                color: #fff!important;
                border-color: #007bb5;
                background: #007bb5;
            }
        }
        &.youtube{
            &:hover{
                color: #fff!important;
                border-color: #bb0000;
                background: #bb0000;
            }
        }
        &.instagram{
            &:hover{
                color: #fff!important;
                border-color: #517fa4;
                background: #517fa4;
            }
        }
        .fa {
            display: block;
            line-height: 30px;
            color: #fff;
        }
    }
    ul.social_link {
        margin: 0;
        li {
            display: inline-table;
            margin: 0;
            list-style: none;
            padding: 0;
            position: relative;

        }
    }

    &.no-border{
        >ul{
            height: 30px;
        }
        a {
            font-size: 14px;
            border: none !important;
            background: none !important;
            color: #fff;
            width: 30px;
            height: 30px;
            overflow: hidden;
            &.facebook{
                &:hover{
                    color: #3b5998 !important;
                }
            }
            &.twitter{
                &:hover{
                    color: #00aced !important;
                }
            }
            &.dribbble{
                &:hover{
                    color: #ea4c89 !important;
                }
            }
            &.pinterest{
                &:hover{
                    color: #cb2027 !important;
                }
            }
            &.google-plus{
                &:hover{
                    color: #dd4b39 !important;
                }
            }
            &.linkedin {
                &:hover {
                    color: #007bb5 !important;
                }
            }
            &.youtube{
                &:hover{
                    color: #bb0000 !important;
                }
            }
            &.instagram{
                &:hover{
                    color: #517fa4 !important;
                }
            }
            .fa {
                display: block;
                line-height: 30px;
                color: inherit;
            }
        }
    }
}


/**share networks**/
.woo-social {
    ul.social_link {
        width: 100%;
        margin: 0;
        li {
            display: inline-block;
            a {
                width: 36px;
                height: 36px;
                .rounded(50%);
                text-align: center;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                i {
                    line-height: 36px;
                }
                &:hover {

                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                }
            }
        }
    }
}