.textwidget{
    #shaon-pricing-table-plus{
        .minimal{
            background-color: transparent;
            .highlight{
                &:hover{
                    .content-highlight{
                        box-shadow: 0 0 20px #eee;
                        margin: -10px 10px 0 10px;
                        a.pt-button{
                            margin-bottom: 35px;
                        }
                        h4{
                            color: #fff;
                        }
                    }
                }
                background-color: transparent;
                margin: 0;
                .content-highlight{
                    margin: 0 15px ;
                    padding: 0;
                    background-color: #fff;
                    transition: all 0.3s ease-out;
                    -webkit-transition: all 0.3s ease-out;
                }

                h3{
                    font-size: 16px;
                    font-weight: bold;
                    padding: 30px 0;
                    border-bottom: none;
                    text-transform: uppercase;
                    border-color: #eee;
                    line-height: 100%;
                    margin: 0;
                    span{
                        display: block;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        font-weight: normal;
                    }
                }
                .price{
                    border-left: 1px solid #eee;
                    border-right: 1px solid #eee;

                    h4{
                        border:1px solid #999;
                        width: 100px;
                        height: 100px;
                        padding: 25px 0;
                        border-radius: 50%;
                        font-weight: normal!important;
                        margin: auto;
                        display: table;
                        > span {
                            display: table-cell;
                            vertical-align: middle;
                        }
                        health-v3 &{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .amount{
                            font-size: 30px;
                            span{
                                vertical-align: baseline;
                                font-size: 30px;
                            }
                        }
                        .interval{
                            font-size: 15px;
                        }
                    }
                }
                .features{
                    ul{
                        border: 1px solid #eee;
                        border-top: none;
                        padding: 30px 30px 0 30px !important;
                        margin-top: 30px;
                        li{
                            line-height: 21px;
                            font-size: 12px;
                            padding: 15px 0;
                            border-bottom: 1px solid #eee;
                            &:first-child{
                                margin-top: 30px;
                                border-top: 1px solid #eee;
                            }
                            &:last-child{
                                border-bottom: none;
                            }
                            a.pt-button{
                                transition: all 0.3s ease-out;
                                -webkit-transition: all 0.3s ease-out;
                                margin-top: 15px;
                                margin-bottom: 15px;
                                line-height: 38px;
                                border-radius: 30px;
                                font-size: 13px;
                                font-weight: bold;
                                background-color: transparent;
                                &:hover{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .highlight.featured{
                margin-top: -10px;
                &:hover{
                    .content-highlight{
                        margin: 0 15px;
                    }
                }
                h3{
                    background-color: #fff;
                    padding-top: 40px;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 110px;
                        height: 110px;
                        top: -6px;
                        right: -6px;
                        background: url('../../images/sale.svg') no-repeat top right;
                    }
                    .featured-text{
                        position: absolute;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        top: 15px;
                        right: 15px;
                        margin: 0;
                        display: block;
                        width: 110px;
                        height: 110px;
                        font-size: 12px;
                    }
                }
                .price{
                    h4{
                        color: #fff;
                    }
                }
                .features{
                    a.pt-button{
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}