.wrapper-title-icon {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.iconbox-left {
    .boxes-icon {
        float: left;
        margin-right: 15px;
    }

    .content-inner {
        float: left;
        padding-top: 0 !important;
        p{
            margin-bottom: 5px !important;
        }
        .smicon-read{
            border: none;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            font-size: 13px;
            i{
                display: none;
            }
        }
        .heading__primary{
            text-transform: uppercase;
        }
    }
}

.iconbox-right {
    .boxes-icon {
        float: right;
        margin-left: 15px;
    }
    .content-inner {
        float: left;
        padding-top: 0 !important;
        p{
            margin-bottom: 5px !important;
        }
        .smicon-read{
            border: none;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            font-size: 13px;
            i{
                display: none;
            }
        }
        .heading__primary{
            text-transform: uppercase;
            margin-bottom: 13px !important;
        }
    }
}


.smicon-read {
    margin-top: 15px;
    padding: 5px 30px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-weight: bold;
    color: #2C3339;
    i {
        font-size: 12px;
        margin-left: 5px;
    }

}

.inner-icon {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.inner-icon .icon {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.circle {
    border-radius: 50%;
}

.text-center {
    .boxes-icon {
        margin: 0 auto;
    }
}

.icon-top {
    .icon-box-title {
        margin-top: 20px;
    }
    .boxes-icon {
        overflow: hidden;
        display: inline-block;
    }
    .content-inner{
        .desc-icon-box{
            p{
                margin-top: 5px;
            }
        }
    }
}

.icon-box-title {
    margin-top: 0;
    margin-bottom: 10px;
}

.boxes-icon {
    color: #333;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.iconbox-hover {
    .thim-widget-icon-box {
        background-color: #fff !important;
        transition: background-color 0.5s ease;
        padding-top: 60px;
        padding-bottom: 100px;
        .content-inner {
            padding-left: 60px;
            padding-right: 60px;
        }

    }
    &:hover { 
        .thim-widget-icon-box {
            transition: background-color 0.5s ease;
            .icon-box-title, .desc-icon-box p {
                color: #fff !important;
            }
            .boxes-icon {
                border-color: #fff !important;
                i {
                    color: #fff !important;
                }
            }
            .smicon-read {
                background-color: #fff;
                border-color: #fff !important;
            }
        }
        .line-bottom {
            background-color: #fff;
        }
    }
}

.icon-box-title {
    position: relative;
    .line-bottom {
        width: 90px;
        background-color: #202020;
        height: 1px;
        display: block;
        margin: 20px auto 30px auto;
    }
}

.text-center {
    .icon-box-title {
        .line-bottom {
            margin: 20px auto 30px auto;
        }
    }
}

.text-left {
    .icon-box-title {
        .line-bottom {
            margin: 20px auto 30px 0;
        }
    }
}

.text-right {
    .icon-box-title {
        .line-bottom {
            margin: 20px 0 30px auto;
        }
    }
}

/** Icon box video **/
.thim-widget-icon-box {
    position: relative;
    overflow: hidden;
    .wrapper-box-icon {
        position: relative;
        z-index: 9;
        &.background-video {
            min-height: 450px;
            .content-inner {
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                .translate(0, -50%);
            }
            .desc-icon-box {
                p {
                    margin: 16px 0 35px;
                }
            }
        }
        &.contact_info {
            .smicon-box {

            }
            .boxes-icon {
                border: 0;
                margin-top: 9px;
            }
            .heading__primary {
                text-transform: none;
                font-size: 16px;
                line-height: 16px;
                font-weight: 700;
                margin: 0 0 10px;
            }
            .desc-icon-box { 
                p {
                    line-height: 25px;
                    margin: 0;
                    color: inherit;
                }
            }
            a{
                color: inherit;
            }
        }
    }
    video {
        position: absolute;
        bottom: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        max-height: 1000%;
        max-width: 1000%;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
    }
    .wrapper-box-icon.background-video{
        .heading__primary {
            text-transform: uppercase;
        }
    }
    .desc-icon-box {
        p {
            color: #666;
            line-height: 26px;
            margin: 16px 0 45px;
        }
    }
    .bg-video-play {
        width: 90px;
        height: 90px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: solid 7px #333;
        display: block;
        margin: 0px auto 0 auto;
        line-height: 90px;
        cursor: pointer;
        background: transparent;
        color: #333;
        text-align: center;
        &:before {
            font: normal normal normal 40px/1 FontAwesome;
            content: "\f04b";
            margin-left: 11px;
        }
        &.bg-pause {
            line-height: 90px;
            &:before {
                content: "\f04c";
                font-size: 36px;
                margin-left: 0
            }
        }
    }

    //default widget icon box
    .heading__primary{
        text-transform: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 4px;
        margin-bottom: 15px;
    }
    .desc-icon-box{
        p{
            color: #666;
            margin: 0;
            margin-bottom: 23px;
        }
    }
    .boxes-icon{
        border: 0;
        &.circle{
            border: 1px solid #eee;
        }
    }
    .wrapper-box-icon{
        &.circle{
            .content-inner{
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 42px;
            }
            .iconbox-top {
                .content-inner{
                    padding-top: 30px;
                }
            }
            .heading__primary{
                margin-top: 0;
                margin-bottom: 6px;
                line-height: 14px;
            }
            .desc-icon-box{
                p{
                    margin-bottom: 17px;
                }
            }
        }
    }
    .wrapper-box-icon.has_custom_image{
        &:not(.overlay){
            .boxes-icon{
                height: auto !important;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .smicon-read{
                border: 0;
                padding: 0;
                font-size: 13px;
                font-weight: 700;
                line-height: 20px;
                margin-top: 0;
                text-transform: uppercase;
                &:hover{
                    text-decoration: underline;
                }
                .fa{
                    display: none;
                }
            }
            .desc-icon-box{
                margin-top: 24px;
            }
            p{
                margin-bottom: 16px;
            }
        }
    }
}

/** Box icon overlay **/
.wrapper-box-icon {
    &.overlay {
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        .transition(all 0.3s);
        &:hover{
            background: #000;
            .icon-images{
                img{
                    .scale(1.1, 1.1);
                }
            }
            .icon.icomoon{
                .scale(1.05, 1.05);
            }
        }
        .icon.icomoon{
            display: inline-block;
            margin-top: 22px;
            .transition(all 0.3s);
        }
        .icon-images{
            display: inline-block;
            img{
                .transition(all 0.3s);
                margin-top: 28px;
            }
        }
        .smicon-box {
            padding: 7px 0;
            overflow: hidden;
            min-height: 150px;
        }
        .heading__primary {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            line-height: 30px;
            margin: 20px 0 10px;
            padding-right: 45px;
        }
        .boxes-icon {
            border: 0;
            overflow: hidden;
        }
        .smicon-read {
            border: 0;
            border-radius: 0;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            padding: 0;
            margin-top: 0px;
            i {
                font-size: 11px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .content-inner {
            padding-bottom: 10px;
        }
    }
    &:not(.background-video):not(.contact_info):not(.overlay){
        .smicon-box:not(.iconbox-push){
            overflow: hidden;
            .icon{
                .fa{
                    .transition(all 0.5s ease-in-out);
                }
                &.flat i:before{
                    .transition(all 0.5s ease-in-out);
                }
            }
          
            &:hover{
                .icon{
                    .fa{
                        .scale(1.33, 1.33);
                    }
                    &.flat i:before{
                        .scale(1.33, 1.33); 
                    }
                }
                
            }
        }
    }
}


.thim-welcome-university{
    >.panel-grid-cell{
        &:first-child{
            padding-right: 30px !important;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 52px;
                bottom: 0;
                right: 0;
                width: 1px;
                height: auto;
                background: #eee;
            }
        }
        &:nth-child(2){
            padding-left: 30px !important;
        }
    }
    .sc_heading{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}

.panel-grid-cell{
    &:first-child{
        .push-box{
            margin: 0 -20px 0 0;
        }
    }
    .push-box{
        margin: 0 -10px;
        border-bottom: 1px solid #ddd;
        .thim-widget-icon-box{
            overflow: visible;
            .iconbox-push{
                overflow: visible !important;
            }
        }
    }
    &:last-child{
        .push-box{
            margin: 0 0 0 -20px;
        }
    }
}

.iconbox-push{
    position: relative;
    .transition-duration(0.4s);
    .transition-delay(0.5s);
    &:hover{
        box-shadow:0 3px 10px 2px rgba(0,0,0,0.2);
        .push_image{
            .translate(0,-395px);
            opacity: 1;
        }
        .wrap_icon{
            .translate(0,20px);
            z-index: 99;
        }
        .content-inner{
            .desc-icon-box{
                top:-155px;
                background-color: #fff;
                opacity: 1;
                padding: 80px 30px 30px;
            }
        }
    }
    .push_image{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 236px;
        overflow: hidden;
        .transition-duration(0.4s);
        .transition-delay(0.5s);
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            .translate(-50%,-50%);
            height: 130%;
            max-width: initial;
        }

    }
    .wrap_icon{
        .translate(0,250px);
        position: relative;
        top: -230px;
        z-index: 10;
        .transition-duration(0.4s);
        .transition-delay(0.5s);
        .line_icon{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 6px;
            z-index: -1; 
        }
        .boxes-icon{
            background-color: #fff;
        }
    }
    .content-inner{
        padding-bottom: 99px;
        .sc-heading{
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 50px;
            .push_box_subtitle{
                margin-bottom: 5px;
            }
            .heading__primary{
                font-size: 16px;
                text-transform: uppercase;
            }
        }
        .desc-icon-box{
            position: absolute;
            opacity: 0;
            z-index: 1;
            top: 0; 
            left: 0;
            padding: 0;
            .transition-duration(0.4s);
            .transition-delay(0.5s);
            p{
                height: 83px;
                overflow: hidden;
            }
            .smicon-read{
                line-height: 28px;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 30px;
                margin-top: 20px;
                i{
                    display: none;
                }
            }
        }
    }
}

.icon.flat i:before{
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: inherit;
    height: inherit;
    font-size: 1em;
    text-align: center;
    text-rendering: optimizelegibility;
}
.icon_bussiness {
    .thim-widget-icon-box {
        max-width: 325px;
        .heading__primary {
            margin-bottom: 0;
            margin-top: 0;
            text-transform: none;
        }
        .wrapper-box-icon {
            &.has_custom_image:not(.overlay) {
                .desc-icon-box {
                    margin-top: 8px;
                }
            }
        }
    }
    .iconbox-left .content-inner {
        padding-left: 3px;
    }
}