.thim-list-posts-slider{
	.thim-list-slide-posts-carousel-container{
		.item-post{
			margin: 0 15px;
			background-color: #fff;
			.article-image{
				height: 250px;
				overflow: hidden;
				position: relative;
				background-color: #000;
				img{
					width: auto;
				    height: 100%;
				    max-width: initial;
				    position: absolute;
				    left: 50%;
				    .translate(-50%,0);
				}
				.entry-category{
					position: absolute;
					bottom: 0;
					left: 0;
					display: inline-block;
					padding: 0 20px;
					a{
						font-size: 12px;
						color: #fff;
						text-transform: uppercase;
						font-weight: 700;
						line-height: 100%;
					}
				}
			}
			.entry-content{
				padding: 0 30px;
				border: 1px solid #eee;
				.main-content{
					padding: 27px 0;
					height: 210px;
					overflow: hidden; 
					border-bottom: 1px solid #eee;
					.entry-header{
						margin-bottom: 23px;
					} 
				}
				.entry-meta{
					list-style: none;
				    margin: 0;
				    padding: 12px 0;
				    font-size: 12px;
				    li{
				    	display: inline-block;
				    	span{
				    		font-weight: 700;
				    	}
				    	&.author:after{
				    		content: '/';
				    		padding: 0 2px; 
				    	}
				    	&.entry-date:after{
				    		content: '/';
				    		padding: 0 2px; 
				    	}

				    }
				}
				
			}
			
		}
		.owl-controls{
			position: absolute;
		    top: -70px;
		    right: 15px;
		    .owl-nav>div{
		    	display: inline-block;
			    width: 30px;
			    border: 1px solid;
			    border-radius: 50%;
			    &.owl-next{
			    	margin-left: 10px;
			    }
			    i{
			    	line-height: 28px;
    				font-size: 20px; 
			    }
		    }
		}
	}
}