.thim-list-posts.health_sticky{
	margin-left: -15px;
	margin-right: -15px;
	.sticky-post{
		float: right;
		padding: 0 15px;
		position: relative;
		.featured-text{
			 position: absolute;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            color: #fff;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            top: 15px;
            right: 25px;
            margin: 0;
            display: block;
            width: 110px;
            height: 110px;
            font-size: 12px;
            z-index: 11;
		}
		&:before{
            content: '';
            position: absolute;
            width: 110px;
            height: 110px;
            top: -5px;
            right: 9px;
            background: url('../../images/sale.svg') no-repeat top right;
            z-index: 10;
        }
		.article-image{
			height: 250px;
			overflow: hidden;
			position: relative;
			background-color: #000;
			img{
				width: auto;
			    height: 100%;
			    max-width: initial;
			    position: absolute;
			    left: 50%;
			    //.translate(-50%,0);
			  transform: translate(-50%,0);
			  -webkit-transform: translate(-50%,0);
			  -moz-transform: translate(-50%,0);
			  -ms-transform: translate(-50%,0);
			  -o-transform: translate(-50%,0);
			  .transition(all .5s ease-in-out);
			}
			.entry-category{
				position: absolute;
				bottom: 0;
				left: 0;
				display: inline-block;
				padding: 0 20px;
				a{
					font-size: 12px;
					color: #fff;
					text-transform: uppercase;
					font-weight: 700;
					line-height: 100%;
				}
			}
		  &:hover {
			img{
			  transform: translate(-50%,0) scale(1.1,1.1);
			  -webkit-transform: translate(-50%,0) scale(1.1,1.1);
			  -moz-transform: translate(-50%,0) scale(1.1,1.1);
			  -ms-transform: translate(-50%,0) scale(1.1,1.1);
			  -o-transform: translate(-50%,0) scale(1.1,1.1);
			}
		  }
		}
		.entry-content{
			padding: 0 30px;
			border: 1px solid #eee;
			.main-content{
				padding: 27px 0;
				height: 250px;
				overflow: hidden; 
				border-bottom: 1px solid #eee;
				.entry-header{
					margin-bottom: 23px;
				} 
			}
			.entry-meta{
				list-style: none;
			    margin: 0;
			    padding: 12px 0;
			    font-size: 12px;
			    li{
			    	display: inline-block;
			    	span{
			    		font-weight: 700;
			    	}
			    	&.author:after{
			    		content: '/';
			    		padding: 0 2px; 
			    	}
			    	&.entry-date:after{
			    		content: '/';
			    		padding: 0 2px; 
			    	}

			    }
			}
		}
	}
	.post-list{
		float: left;
		padding: 0 15px;
		width: 66.7%;
		.item-post{
			margin-bottom: 50px;
			clear: both;
			.entry-content{
				overflow: hidden;
				>.entry-header{
					float: left;
					.date-meta{
						border-right: none;
					}
				}
			}
			
			
			.article-image{
				float: left;
				width: 270px;
				height: 150px;
				overflow: hidden;
				position: relative;
				background-color: #000;
				margin-right: 30px;
				img{
					width: auto;
				    height: 100%;
				    max-width: initial;
				    position: absolute;
				    left: 50%;
				    .translate(-50%,0);
				}
				.entry-category{
					position: absolute;
					top: 0;
					right: 0;
					display: inline-block;
					padding: 0 20px;
					a{
						font-size: 12px;
						color: #fff;
						text-transform: uppercase;
						font-weight: 700;
						line-height: 100%;
					}
				}
			}
			.main-content{
				.entry-header{
					margin-bottom: 15px;
				}
				.entry-title{
					margin: -8px 0 0;
				}
				.thim-excerpt{
					margin-bottom: 3px;
				}
				.learn-more{
					text-transform: uppercase;
					font-size: 13px;
					font-family: Montserrat;
					font-weight: 700;
				}
			}
		}
	}
}