.thim-widget-gallery-images {
    position: relative;
	overflow: hidden;
	.owl-prev, .owl-next {
		position:           absolute;
		top:                50%;
		-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-transition:    all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition:      all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition:         all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.owl-prev {
		left:  -100px;
		right: auto;
	}
	.owl-next {
		right: -100px;
		left:  auto;
	}
	&:hover {
		.owl-prev {
			left: 10px;
		}
		.owl-next {
			right: 10px;
		}
	}
    .owl-controls{
        position: absolute;
        right: 10px;
        top: 50%;
	    .translate(0, -50%);
        .owl-dots{
	        .owl-dot {
		        display: block;
		        width: 12px;
		        height: 12px;
		        position: relative;
		        text-align: center;
		        line-height: 12px;
		        border-radius: 50%;
		        margin: 12px 0;
		        span {
			        position: absolute;
			        width: 8px;
			        height: 8px;
			        border: 1px solid #fff;
			        top: 2px;
			        left: 2px;
			        border-radius: 50%;
			        background: transparent;
			        margin: 0;
		        }
		        &.active {
			        background: #fff;
		        }
	        }

        }
    }
}

.owl-carousel {
	display:          none;
	position:         relative;
	width:            100%;
	-ms-touch-action: pan-y;
	.owl-wrapper {
		display:           none;
		position:          relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
		&:after {
			content:     ".";
			display:     block;
			clear:       both;
			visibility:  hidden;
			line-height: 0;
			height:      0;
		}
	}
	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width:    100%;
		&.autoHeight {
			.transition(height 500ms ease-in-out);
		}
	}
	.owl-item {
		float: left;
	}
	.owl-wrapper, .owl-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform:           translate3d(0, 0, 0);
		-moz-transform:              translate3d(0, 0, 0);
		-ms-transform:               translate3d(0, 0, 0);
	}
}

.thim-gallery-images-default {
	.item {
		float: left;
	}
}
