.home-content,
.site-main {
	.widget-title {
		text-transform: uppercase;
		line-height: 30px;
		font-size: 30px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 7px;
	}
	.panel-grid-cell {
		.widget_text {
			.widget-title:before {
				height: 2px;
			}
			.about-intro {
				.widget-title {
					margin-bottom: 30px;
				}
			}
		}
	}
}

.widget-area {
	select {
		max-width: 100%;
	}
	aside {
		overflow: hidden;
		margin-bottom: 50px;
		position: relative;
		margin-top: 20px;
		&.widget.widget_search {
			margin-top: 0;
		}
		&.widget_categories, &.widget_product_categories {
			margin-bottom: 30px;
			ul {
				margin-bottom: 7px;
			}
		}
		&.widget_list-post {
			margin-bottom: 40px;
		}
		&.shop-image.widget_single-images {
			padding: 5px 0 10px;
		}
		&.woocommerce.widget_products {
			margin-bottom: 15px;
			ul {
				margin-left: 0;
				li {
					list-style-type: none;
					.content__product {
						margin-bottom: 27px;
						box-shadow: none;
						.list-sale-flash {
							display: none;
						}
						.product_thumb {
							img {
								margin: 0;
							}
						}
					}
				}
			}
		}
		&:first-child {
			margin-top: -8px;
		}
		ul {
			li {
				list-style: none;
			}
		}
		&.widget {
			.product_list_widget {
				margin-top: 15px;
			}
		}
		&.widget_price_filter {
			.price_slider {
				margin-top: 27px;
			}
			.price_slider_amount {
				margin-top: 30px;
				.price_label {
					line-height: 40px;
				}
			}
			.price_slider_wrapper {
				.ui-widget-content {
					background-color: #eaeaea;
					font-size: 10px;
				}
				.ui-slider {
					.ui-slider-range {

					}
					.ui-slider-handle {
						border: 1px solid #fff;
						top: -5px;
						width: 7px;
						height: 15px;
					}
				}
				.price_slider_amount {
					.button {
						line-height: 40px;
						width: auto;
						.rounded(20px);
						padding: 0 30px 0 30px;
						color: #fff;
						font-size: 13px;

					}
				}
			}
		}
		.product-grid {
			.product__title {
				margin: 0 0 0 11px;
				padding: 0;
				a.title {
					font-size: 12px;
					text-transform: capitalize;
				}
				.star-rating {
					height: 20px;
					line-height: 20px;
					margin-top: 19px;
				}
				.price {
					margin: 27px 0 0 25px;
				}
			}
			.content__product {
				display: inline-flex;
				line-height: 12px;
				margin-bottom: 15px;
				padding-bottom: 0;
				border: none;
				.product_thumb {
					.list-sale-flash {
						display: none;
					}
					img {
						width: 50px;
						margin-left: 10px;
					}
				}
				&:hover {
					box-shadow: none;
					.product_thumb {
						&:before {
							display: none;
						}
					}
				}

			}
		}
		.widget-title {
			position: relative;
			padding: 0;
			margin-top: 0;
			line-height: 36px;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			&::before {
				content: '';
				width: 20px;
				height: 1px;
				position: absolute;
				margin-top: 32px;
			}
		}
		.product_thumb:hover {
			&:before {
				display: none;
			}
		}

		.item-post {
			display: inline-flex;
			margin-top: 23px;
			&:first-child {
				margin-top: 0;
			}
		}
		.article-image {
			img {
				max-width: 50px;
			}
		}
		.article-title-wrapper {
			margin-left: 10px;
			margin-top: -15px;
			h5 {
				font-size: 12px;
				font-weight: 700;
				a {
					color: #333;
				}
			}
			.article-date {
				font-size: 12px;
				margin-top: -10px;
				font-style: italic;
				color: #666;
				span {
					padding-right: 5px;
				}
			}
		}
		.tagcloud {

			a {
				font-size: 12px !important;
				padding: 3px 8px;
				line-height: 35px;
				border: 1px solid #999;
				margin-right: 5px;
			}
		}
		&.widget_single-images {
			padding: 0;
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		&.widget {
			.widget-title {
				margin-bottom: 25px;
			}
			ul {
				margin-left: 18px;
				margin-top: 0px;
				&.info-event{
					margin-left: 0;
				}
				li {
					margin: 0;
					padding: 5px 0;
					list-style: none;
					line-height: 20px;
					font-weight: 400;
					font-size: 12px;
					list-style-type: disc;
					ul.children{
						margin-bottom: 0;
						padding-top: 5px;
						>li:last-child{
							padding-bottom: 0;
						}
					}
					&.product-grid {
						line-height: 12px;
					}
					a {
						font-weight: 700;
						font-size: 12px;
						text-transform: uppercase;
					}
				}
			}
		}
		select{
			width: 100%;
			border: 1px solid #eee;
			outline: none;
			padding: 4px 10px;
		}
	}

	// Course List Sidebar
	.thim-course-list-sidebar {
		.lpr_course {
			clear: both;
			margin-bottom: 30px;
			overflow: hidden;
			&:last-child {
				margin-bottom: 0;
			}
			&:not(.has-post-thumbnail) {
				.thim-course-content {
					width: 100%;
					float: none;
				}
			}
			&.has-post-thumbnail {
				padding-top: 0 !important;
			}
		}
		.course-thumbnail {
			float: left;
			width: 50px;
			margin-right: 10px;
			height: 50px;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.thim-course-content {
			width: calc(~"100% - 60px");
			width: -webkit-calc(~"100% - 60px");
			width: -moz-calc(~"100% - 60px");
			float: right;
			.course-title {
				font-size: 12px;
				font-weight: 700;
				line-height: 20px;
				margin: -6px 0 0;
				text-transform: none;
				height: 40px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				a {
					display: block;
				}
			}
			.course-meta {
				line-height: 20px;
				.course-review {
					float: left;
					margin-right: 25px;
					.review-stars-rated {
						height: 20px;
						line-height: 20px;
						.review-stars {
							height: 20px;
							line-height: 20px;
							> li {
								line-height: 20px;
								height: 20px;
							}
						}
					}
				}
				.course-price {
					line-height: 20px;
					float: left;
				}
			}
		}
		.course-price {
			font-size: 12px;
			font-weight: 700;
			line-height: 12px;
			label {
				display: none;
			}
			.value {
				color: #2e8ece;
				&.free-course {
					color: #54b551;
				}
			}

		}
	}
}

/* search */
.search-form {
	label {
		width: 100%;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		.screen-reader-text {
			display: none
		}
		.search-field {
			line-height: 40px;
			background: #fff;
			height: 42px;
			padding: 0 60px 0 15px;
			font-size: 13px;
			width: 100%;
			border: 1px solid #eee;
			.rounded(21px);
			.transition(all 0.3s ease-in-out);
		}
		.search-submit {
			margin-left: 0;
			margin-right: 0;
		}
	}
	.search-submit {
		width: 40px;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		z-index: 2;
		background: transparent;
		border-radius: 0;
		line-height: 42px;
		height: 42px;
		color: transparent;
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

/* Blog Search */
.widget.thim_search_widget {
	a.widget-search-form {
		cursor: pointer;
	}
}

.widget_rss {
	.rsswidget {
		font-weight: bold;
	}
	.rss-date {
		display: block;
		font-style: italic;
		font-size: 90%;
	}
	cite {
		color: #000;
		font-weight: bold;
	}
}

#secondary .thim-widget-courses {
	padding-top: 0;
	padding-bottom: 0;
}

/** Countdown box **/
.counter-group {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	.thim-widget-countdown-box .text-center & {
		text-align: center;
	}
	&:after {
		clear: both;
	}
	.counter-block {
		display: inline-block;
		margin-right: 30px;
		border: 1px solid #fff;
		overflow: hidden;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		&:last-child {
			margin-right: 0;
		}
		.color-black & {
			border-color: #000;
		}
		.counter {
			position: relative;
			font-size: 50px;
			font-weight: 700;
			line-height: 50px;
			height: 50px;
			overflow: hidden;
			display: block;
			color: #fff;
			margin: 14px 20px 0;
			.color-black & {
				color: #000;
			}
			.number {
				padding: 1%;
				width: 46%;
				height: 98%;
				position: absolute;
				top: -10000px;
				&.tens {
					left: 0;
				}
				&.units {
					left: 50%;
				}
				&.hundreds {
					display: none;
				}
				&.show {
					top: 0;
					z-index: 2;
					&.hundreds {
						top: -100%;
					}
				}
				&.hidden-down {
					top: 100%;
				}
				&.hidden-up {
					top: -100%;
					z-index: 100;
				}
			}
			&.with-hundreds {
				margin: 14px 6px 0;
				.number {
					width: 30.66%;
					&.tens {
						left: 33.33%;
					}
					&.units {
						left: 66.66%;
					}
					&.hundreds {
						display: block;
						left: 0;
					}
				}
			}
		}
		.counter-caption {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			line-height: 20px;
			display: block;
			color: #fff;
			text-align: center;
			.color-black & {
				color: #000;
			}
		}
	}
}

/** Widget thim-owl-carousel-post **/
.thim-owl-carousel-post {
	margin: 0;
	position: relative;
	&.owl-carousel {
		margin: 0 -15px;
		width: auto;
	}
	.owl-item {
		.item {
			padding: 0 15px;
		}
		.image {
			img {
				width: 100%;
			}
		}
		.content {
			text-align: center;
			margin-top: -15px;
			z-index: 999;
			position: relative;
		}
		.info {
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			background: rgba(0, 0, 0, 0.6);
			.author, .date {
				display: inline-block;
				color: #fff;
				font-size: 11px;
				font-weight: 700;
				line-height: 30px;
				padding: 0 0 0 20px;
				float: left;
				a {
					line-height: 30px;
					color: #fff;
				}
			}
			.date {
				&:before {
					content: '';
					width: 4px;
					height: 4px;
					background: #fff;
					line-height: 30px;
					float: left;
					border-radius: 50%;
					display: inline-block;
					margin: 13px 8px;
				}
				padding: 0 20px 0 0;
			}
		}
		.title {
			font-size: 16px;
			font-weight: 700;
			line-height: 28px;
			margin: 10px 0;
			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.owl-controls {
		position: absolute;
		right: 15px;
		top: -90px;
		.owl-prev,
		.owl-next {
			display: inline-block;
			margin-left: 10px;
			cursor: pointer;
			border: 1px solid #fff;
			width: 30px;
			text-align: center;
			line-height: 28px;
			.fa {
				text-align: center;
				vertical-align: middle;
				line-height: 28px;
				color: #fff;
				font-size: 8px;
				display: block;
			}
		}
	}
}

/**  Widget Thim Heading  **/
.thim-tell-me-what-you .sc_heading .sub-heading{
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}
.sc_heading {
	position: relative;
	margin: 0;
	margin-bottom: 30px;
	padding-top: 42px;
	padding-bottom: 14px;
	.title {
		text-transform: uppercase;
		line-height: 30px;
		font-size: 22px;
		font-weight: 700;
		margin: 0;
		margin-bottom: 2px;
	}
	.sub-heading {
		font-size: 15px;
		font-weight: 400;
		margin: 0;
		line-height: 25px;
		
	}
	.line {
		position: absolute;
		bottom: 0;
		left: 0; 
		height: 2px;
		background-color: #333;
		width: 30px;
	}
	&.text-left {
	  text-align: left;
		.line {
			left: 0;
			right: auto;
		}
	}
	&.text-center {
		.line {
			right: 0;
			margin: auto;
		}
	}
	&.text-right {
		right: 0;
		left: auto;
	  text-align: right;

	}
  &.bussiness {
	padding-top: 0;
	.title {
	  font-size: 26px;
	  font-weight: 300;
	  line-height: 1.61;
	  letter-spacing: 3.1px;
	  color: #999999;
	  font-family: Roboto;
	  margin-bottom: 10px;
	}
	.sub-heading {
	  font-size: 42px;
	  font-weight: bold;
	  color: #333333;
	  font-family: Montserrat;
	}
	.content_heading {
	  max-width: 692px;
	  margin-top: 30px;
	  display: inline-block;
	}
  }
}

/** Widget Thim Accordion **/
.thim-widget-accordion {
	.widget-title {
		font-size: 22px;
		font-weight: 700;
		position: relative;
		color: #333;
		text-transform: uppercase;
		//text-align: center;
		padding-bottom: 22px;
		margin-bottom: 46px;
		&:after {
			content: '';
			width: 30px;
			height: 2px;
			left: 0;
			right: 0;
			//margin: auto;
			position: absolute;
			bottom: 0;
		}
	}
	.panel-title {
		text-transform: uppercase;
		line-height: 30px;
		margin: 0;
		a {
			line-height: 30px;
			display: block;
			font-size: 16px;
			font-weight: 700;
			padding: 9px 10px 9px 30px;
			position: relative;
			&:after {
				content: '\f107';
				font-size: 15px;
				font-family: FontAwesome;
				line-height: 30px;
				height: 30px;
				float: right;
				top: 9px;
				position: absolute;
				right: 18px;
			}
			&.collapsed {
				&:before {

				}
				&:after {
					content: '\f105';
					color: #333;
				}

			}
		}
		a.collapsed {
			color: #666;
			border: 1px solid #ebebeb;
		}
	}
	.panel-collapse {
		border-top: 0 !important;
		padding: 0;
		.panel-body {
			padding: 20px 30px;
		}
		p {
			margin-bottom: 5px;
		}
		&.in {

		}
	}
	.panel-default {
		margin-bottom: 6px;
	}
}

/** Counter box **/
.counter-box {
	text-align: center;
	//border-right: 1px solid rgba(255, 255, 255, 0.3);
	margin: 20px -15px;
	.thim-no-border & {
		border: 0;
	}
	.display-percentage {
		position: relative;

		font-size: 56px;
		font-weight: 700;
		line-height: 60px;
		display: block;
		margin-bottom: 50px;
		padding-top: 12px;
		color: #fff;
		&:before {
			position: absolute;
			bottom: -25px;
			left: calc(~"50% - 15px");
			left: -webkit-calc(~"50% - 15px");
			left: -moz-calc(~"50% - 15px");
			content: '';
			width: 30px;
			height: 2px;
			background-color: #2e8ece;
		}
	}
	.counter-box-content {
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
		display: block;
		color: #fff;
		padding-bottom: 10px;
	}
	&.about-us {
		border-right: 1px solid #eee;
		margin: 0 -15px 10px;
		.thim-no-border & {
			border: 0;
		}
		.display-percentage {
			font-size: 30px;
			font-weight: 700;
			line-height: 40px;
			display: block;
			margin: 0;
			padding-top: 12px;
		}
		.counter-box-content {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 400;
			line-height: 30px;
			display: block;
			color: #666;
			padding-bottom: 10px;
		}
	}
}

/*** testimonial ***/
.thim-widget-testimonials {
	.thim-testimonial-carousel {
		.owl-stage-outer {
			position: relative;
			margin-bottom: 100px;
			.owl-item {
				.testimonial-item {
					.testimonial-thumbnail {
						float: left;
						margin-right: 30px;
						img {
							border-radius: 50%;
							width: auto;
						}
					}
					.testimonial-content {
						color: #fff;
						font-size: 15px;
						.title {
							border: none;
							position: relative;
							font-weight: 700;
							font-style: italic;
							margin: 0;
							padding-left: 25px;
							line-height: 30px;
							padding-top: 7px;
							a {
								color: #fff;
								display: block;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								&:hover {
									color: #fff;
								}
							}
							&:before {
								content: "“";
								position: absolute;
								left: -12px;
								top: 16px;
								font-size: 60px;
								padding-right: 10px;
								font-style: normal;
								font-weight: 700;
							}
						}

						.author {
							font-weight: 700;
							text-transform: uppercase;
							padding-top: 13px;
							padding-bottom: 1px;
							line-height: 20px;
						}
						.description {
							padding-right: 10px;
							margin-top: 10px;
							height: 75px;
							line-height: 25px;
							display: -webkit-box;
							-webkit-line-clamp: 3;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.regency {
							font-size: 12px;
							line-height: 20px;
						}
					}
				}
			}
		}
		.owl-controls {
			text-align: center;
			position: absolute;
			right: -42px;
			top: 50%;
			margin-top: -45px;
			.owl-dots {
				.owl-dot {
					display: block;
					width: 12px;
					height: 12px;
					position: relative;
					text-align: center;
					line-height: 12px;
					border-radius: 50%;
					margin: 12px 0;
					span {
						position: absolute;
						width: 8px;
						height: 8px;
						border: 1px solid #fff;
						top: 2px;
						left: 2px;
						border-radius: 50%;
						background: transparent;
						margin: 0;
					}
					&.active {
						background: #fff;
					}
				}

			}
		}
	  &.layout-1 {
		.owl-stage-outer {
		  margin-bottom: 20px;
		}
	  }
	}
	.thim-testimonial-carousel.layout-1{
		.owl-stage-outer {
			.owl-item {
				padding-left: 215px;
    			padding-right: 160px;
    			.testimonial-item {
    				.testimonial-thumbnail{
	    				margin-right: 40px;
	    				color: #fff;
	    				text-align: center;
	    				.author{
	    					text-transform: uppercase;
	    					font-weight: 700;
	    					line-height: 20px;
	    					margin-top: 25px;
	    				}
	    				.regency{
	    					font-size: 12px;
	    				}
	    			}
	    			.testimonial-content .wrap-box{
	    				padding: 25px 40px 32px;
	    				border-radius: 30px; 
	    				position: relative;
	    				.title {
	    					padding-left: 33px;
	    					&:before{
	    						content: "“";
	    						left: 0;
	    						color: #fff;  
	    					}
	    				}
	    				&:before{
	    					position: absolute;
	    					left: -20px;
	    					top: 50px;
	    					content: '';
	    					border-style: solid;
	    					border-color: transparent ;
	    					border-width: 12px 20px 12px 0;
	    				}
	    			}
    			}
    			
			}

		}
	  &.round_slider {
		max-width: 700px;
		margin: 0 auto;
		padding-left: 170px;
		.owl-stage-outer {
		  .owl-item {
			padding-right: 0;
			padding-left: 0;
			.testimonial-content {
			  .wrap-box {
				padding-left: 0;
				padding-right: 0;
			  }
			}
		  }
		}
	  }

	}
	.thim-testimonial-before-after{
		position: relative;
		.twentytwenty-container{
			margin: auto;
		}
		.twentytwenty-wrapper.twentytwenty-horizontal{
			padding-right: 35px;
   			padding-left: 100px;
   			.twentytwenty-handle{
   				width: 24px;
   				height:24px;
   				margin-left: -15px;
   				margin-top: -15px;
   				background: #fff;
   				&:before,&:after{
   					width: 1px;
   					margin-left: -0.5px;
   				}
   				&:before{
   					margin-bottom: 15px;
   				}
   				&:after{
   					margin-top: 15px;
   				}
   				.twentytwenty-left-arrow{
   					border-right: 5px solid;
   				}
   				.twentytwenty-right-arrow{
   					border-left: 5px solid;
   				}
   			}
		}
		.testimonial-content{
			padding-right: 80px;
			.title{
				padding-left: 30px;
				font-weight: 700;
				font-style: italic;
				position: relative;
				&:before{
				    content: "“";
					position: absolute;
					top: 8px;
					left:0;
					font-size: 60px;
					font-style: normal;
					font-weight: 700;
				}
			}
			.description{
				margin-top: 36px;
			}
			.author{
			    text-transform: uppercase;
    			font-weight: 700;
				margin-top: 26px;
			}
			.regency{
				font-size: 12px;
			}
		}
		.owl-controls{
			position: absolute;
		    top: 50%;
		    right: 0;
		    .translate(0,-50%);
		    .owl-dots{
		    	.owl-dot{
		    		display: inherit;
		    		margin: 10px 0;
		    		span{
		    			width: 8px;
		    			height: 8px;
		    			background-color: #fff;
		    			border: 1px solid #9e9e9e;
		    		}
		    		&.active{
		    			span{
		    				width: 12px;
		    				height: 12px;
		    				border: 1px solid;
		    				position: relative;
		    				left: -2px;
		    			}
		    		}
		    	}
		    }
		}
	}
}
.thim-round-testimonial {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
  padding: 120px 0 100px;
  .thim-content-slider {
	&:after {
	  clear: both;
	  content: "";
	  display: table;
	}
  }
  .slides-wrapper {
	display: inline-block;
	float: left;
	width: 240px;
  }
  .scrollable {
	list-style: none;
	padding: 0;
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	> li {
	  list-style: none;
	  position: absolute;
	  .image {
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		&:before {
		  position: absolute;
		  content: '';
		  background: rgba(46,142,206,.5);
		  border-radius: 50%;
		  display: block;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  top: 0;
		}
	  }
	  &.mid-item {
		z-index: 999;
		.image {
		  &:before {
			background: rgba(0,0,0,0);
		  }
		}
	  }
	}
  }
  .slides-content {
	position: relative;
	float: right;
	width: calc(~"100% - 270px");
	.slide-content {
	  position: absolute;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  color: #ffffff;
	  .title {
		border: 0;
		position: relative;
		font-weight: 700;
		font-style: italic;
		margin: 0;
		padding-left: 25px;
		line-height: 30px;
		padding-top: 7px;
		&:before {
		  content: "“";
		  position: absolute;
		  left: -12px;
		  top: 16px;
		  font-size: 60px;
		  padding-right: 10px;
		  font-style: normal;
		  font-weight: 700;
		  font-family: Montserrat;
		}
	  }
	  .description {
		padding-right: 10px;
		margin-top: 10px;
		line-height: 25px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	  }
	  .author {
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 35px;
		padding-bottom: 1px;
		line-height: 20px;
	  }
	  .regency {
		font-size: 12px;
		line-height: 20px;
	  }
	}
  }
  .slides-nav {
	position: absolute;
	display: none;
	right: -230px;
	top: 50%;
	margin-top: -45px;
	.item_nav {
	  display: block;
	  width: 8px;
	  height: 8px;
	  position: relative;
	  text-align: center;
	  line-height: 12px;
	  border-radius: 50%;
	  margin: 12px 0;
	  border: 1px solid #fff;
	}
  }
}

/** Thim-tab **/
.thim-widget-tab {
	margin-bottom: 100px;
	.nav-tabs {
		margin: 0;
		border: 0;
		border-bottom: 1px solid #eee;
		li {
			background: transparent;
			border-radius: 0;
			margin: 0;
			width: 33.33333333%;
			text-align: center;
			border: 0;
			position: relative;
			a {
				border-radius: 0;
				margin-right: 3px;
				border: 1px solid #eee;
				border-bottom: 0 !important;
				font-size: 13px;
				font-weight: 700;
				background: #f9f9f9;
				line-height: 29px;
				overflow: hidden;
				text-overflow: ellipsis;
				.fa {
					font-size: 13px;
					vertical-align: middle;
					line-height: 29px;
					margin-right: 8px;
				}
			}
			&:last-child {
				a {
					margin-right: 0;
				}
				&.active {
					&:before {
						right: 0;
					}
					&:after {
						right: 0;
					}
				}
			}
			&.active {
				background: #fff;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					right: 3px;
					top: 0;
					height: 4px;
					z-index: 10;
				}
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 3px;
					bottom: -1px;
					height: 1px;
					z-index: 10;
					background: #fff;
				}
				a {
					background: #fff;
				}
			}
		}
	}

	.tab-content {
		border: 1px solid #eee;
		border-top: 0;
		padding: 60px 30px;
		min-height: 354px;
	}
}

.wrapper-lists-our-team {
	text-align: center;
	margin-bottom: 41px;
	a {
		&.join-our-team {
			display: inline-block;
			text-align: center;
			margin: auto;
			text-transform: uppercase;
			font-size: 13px;
			line-height: 30px;
			padding: 5px 25px;
			font-weight: 700;
			margin-bottom: 60px;
		}
	}
	.our-team-item {
		text-align: center;
		margin-bottom: 54px;
		.our-team-image {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				.opacity(0);
				.transition(all 0.3s);
				max-width: 200px;
				margin: auto;
				width: 100%;
			}
			img {
				border-radius: 50%;
			}
			.social-team {
				a {
					color: #fff;
					display: inline-block;
					font-size: 18px;
					background: none;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
				}
				position: absolute;
				left: 0;
				right: 0;
				bottom: 30px;
				text-align: center;
				.opacity(0);
			}
		}
		.title {
			font-size: 15px;
			font-weight: 700;
			margin: 24px 0 0;
			line-height: 25px;
		}
		.regency {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			color: #999;
			line-height: 20px;
		}
		&:hover {
			.our-team-image:before {
				.opacity(1);
			}
			.our-team-image {
				.social-team {
					.opacity(1);
				}
			}
		}
	}
}

.site-main {
	.widget_text {
		.widget-title {
			font-size: 22px;
			font-weight: 700;
			line-height: 36px;
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 12px;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				background-color: #333;
				width: 30px;
			}
		}
	}
}

.nav-tabs > li {
	&:focus {
		outline: none;
	}
}

.thim-carousel-wrapper {
	&.gallery-img {
		.owl-item {
			text-align: center;
		}
	}
}

/* Progress */
.thim-widget-progress {
	.widget-title {
		font-size: 12px;
		font-weight: 700;
	}
	.progress-parent {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 15px;
	}
	.wrap-percent {
		margin: 0 15px;
		.percent {
			position: relative;
			left: -9px;
			font-size: 12px;
			font-weight: 700;
		}
	}
}

.thim-list-text {
	margin-top: -18px;
	ul {
		list-style: none;
		margin-left: 25px;

		li {
			position: relative;
			line-height: 1.7;
			padding: 6px 0;
			text-align: left;
			&:before {
				display: block;
				content: '';
				width: 6px;
				height: 6px;
				position: absolute;
				top: 18px;
				left: -25px;
				.transform(translate(0, -50%));
				.rounded(50%);
			}
		}
	}
}

// Recent posts life Home page
.thim-list-posts.life_homepage {
	.item-post {
		clear: both;
		margin: 0 -15px;
		.article-image {
			padding: 0 15px;
			margin-right: 15px;
			float: left;
			width: 185px;
			height: 145px;
			overflow: hidden;
			margin-bottom: 30px;
			position: relative;
			img {
				position: absolute;
				height: auto;
				width: 100%;
				max-width: initial;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
			}
		}
		article {
			padding: 0 15px;
			float: left;
			width: calc(~"100% - 200px");
			width: -webkit-calc(~"100% - 200px");
			width: -moz-calc(~"100% - 200px");
			.entry-header {
				margin-top: 0;
				margin-bottom: 20px;
				.entry-title {
					margin: -7px 0 0;
					line-height: 30px;
				}
				.entry-meta {
					.author {
						margin-top: 8px;
					}
				}
			}
			.thim-excerpt {
				height: 50px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	} 
	.readmore {
		text-align: center;
		clear: both;
		padding-top: 20px;
		a{
			display: inline-block;
		    line-height: 28px;
		    padding: 5px 30px;
		    border: 1px solid #eee;
		    border-radius: 30px;
		    font-weight: 700;
		    font-size: 13px;
		    text-transform: uppercase;
		    &:hover{
		    	color: #fff;
		    }
		}
	}
}

// Recent posts health Home page
.thim-list-posts.health_homepage{
	margin: 0 -45px;
	article{
		width: 50%;
		float: left;
		padding: 0 45px;
		.entry-header{
			margin-bottom: 25px;
		}
		.article-image{
			img{
				width: 100%;
				height: auto;
			}
		}
		.thim-excerpt{
			margin-top: 25px;
			padding: 0 30px; 
		} 
	}
}

// Thim Gallery Video
.thim-gallery-video {
	.readmore {
		text-align: center;
		clear: both;
		padding-top: 20px;
		display: block;
		a{
			display: inline-block;
			line-height: 28px;
			padding: 5px 30px;
			border: 1px solid #eee;
			border-radius: 30px;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			&:hover{
				color: #fff;
			}
		}
	}
	.video-item {
		float: left;
		width: calc(~"50% - 15px");
		width: -webkit-calc(~"50% - 15px");
		width: -moz-calc(~"50% - 15px");
		margin-right: 15px;
        margin-bottom: 30px;
        position: relative;
		.video-thumbnail {
			width: 100%;
            height: 150px;
			overflow: hidden;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.6);
				opacity: 1;
			}
			img {
				width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                .translate(-50%, -50%);
			}
		}
		.play-button {
			z-index: 2;
			width: 32px;
			height: 32px;
			left: 50%;
			top: 50%;
			position: absolute;
			.translate(-50%, -50%);
			&:hover {
				cursor: pointer;
			}
			.fa {
				font-size: 24px;
				color: #fff;
				border: 2px solid #fff;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				line-height: 28px;
				text-align: center;
				&:before{
					margin-left: 2px;
				}
			}
		}
		.video-content {
			position: absolute;
			bottom: 13px;
			left: 21px;
			.video-title {
				font-size: 14px;
				font-weight: 700;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 25px;
				a {
					color: #fff;
				}
			}
			.video-date,
			.comment {
				font-size: 12px;
				display: inline-block;
				color: #fff;
				span {
					font-weight: 700;
				}
			}
			.comment {
				display: inline-block;
				&:before {
					content: '/';
					display: inline-block;
					padding-right: 5px;
					padding-left: 5px;
					color: #fff;
				}
			}
		}

		&.feature-item {
			margin-right: 0 ;
			margin-left: 0 ;
			width: 100%;
			float: none;
			.video-thumbnail {
				width: 100%;
                height: 315px;
                overflow: hidden;
			}
			.play-button {
				width: 52px;
				height: 52px;
				&:hover {
					cursor: pointer;
				}
				.fa {
					font-size: 40px;
					border: 4px solid #fff;
					line-height: 44px;
					width: 52px;
					height: 52px;
					&:before{
						margin-left: 3px;
					}
				}
			}
			.video-content {
				.video-title {
					font-size: 20px;
					font-weight: 700;
					margin-bottom: 5px;
					line-height: 30px;
					margin-top: 0;
				}
			}
		}
		&:not(.feature-item){
			&:nth-child(odd) {
				margin-left: 15px;
				margin-right: 0;
			}
		}
	}
  .video-item.feature-item .play-button .spinner-video {
	margin: 0;
	height: 32px;
	width: 32px;
	animation: rotate 0.8s infinite linear;
	border: 2px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
  }
  @keyframes rotate {
	0%    { transform: rotate(0deg); }
	100%  { transform: rotate(360deg); }
  }

}

#bg-opacity {
  position: fixed;
  background-color: black;
  height: 100%;
  width: 0;
  margin: 0;
  padding:0;
  opacity: 0.8;
  z-index: 1000;
  .sk-fading-circle {
	margin: 0;
	display: none;
	width: 52px;
	height: 52px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -26px;
	margin-right: 26px;
  }

  .sk-fading-circle .sk-circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
  }

  .sk-fading-circle .sk-circle:before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 15%;
	height: 15%;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
	animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
  }
  .sk-fading-circle .sk-circle12 {
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
  }
  .sk-fading-circle .sk-circle2:before {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
  }
  .sk-fading-circle .sk-circle3:before {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
  }
  .sk-fading-circle .sk-circle4:before {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  .sk-fading-circle .sk-circle5:before {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
  }
  .sk-fading-circle .sk-circle6:before {
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
  }
  .sk-fading-circle .sk-circle7:before {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
  }
  .sk-fading-circle .sk-circle8:before {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
  }
  .sk-fading-circle .sk-circle9:before {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
	-webkit-animation-delay: -0.1s;
	animation-delay: -0.1s;
  }

  @-webkit-keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
  }

  @keyframes sk-circleFadeDelay {
	0%, 39%, 100% { opacity: 0; }
	40% { opacity: 1; }
  }
}



.thim-gallery-video-content {
	text-align: center;
	iframe {
		width: 100%;
	  	border: none;
	}
  	button {
	  	display: none;
	}
}

//about page button link widget text
.textwidget {
	.wrap-circle {
		text-align: center;
		.border-circle {
			width: 199px;
			height: 199px;
			border-radius: 50%;
			border: 1px solid #fff;
			padding: 9px;
			margin: auto;
			transition: all 0.3s ease-out;
			-webkit-transition: all 0.3s ease-out;
			&:hover {
				border-color: transparent;
			}
			a.circle {
				&:hover {
					&:before {
						width: 199px;
						height: 199px;
						top: -11px;
						left: -11px;
						opacity: 1;
					}
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 180px;
					height: 180px;
					border-radius: 50%;
					z-index: -1;
					opacity: 0.6;
					transition: all 0.3s ease-out;
					-webkit-transition: all 0.3s ease-out;
				}
				z-index: 10;
				position: relative;
				width: 180px;
				height: 180px;
				display: table-cell;
				vertical-align: middle;
				p {
					color: #fff;
					margin: 0;
				}
				.special {
					font-size: 16px;
					font-weight: bold;
					color: #fff;
					text-transform: uppercase;
					margin-top: 10px;
					margin-bottom: 0;
				}

			}
		}
	}
}

//contact lifecoaching
.contact-lifecoaching {
	.panel-grid-cell {
		&:first-child {
			border-right: 1px solid #fff;
			.textwidget {
				text-align: right;
				margin-right: 85px;
			}
		}
		.textwidget {
			color: #fff;
			line-height: 80px;
			margin-left: 85px;
			i {
				font-size: 40px;
				position: relative;
				top: 10px;
				margin-right: 6px;
			}
		  	a {
			  	color: #fff;
			  	&:hover {
				  	color: #337ab7;
				}
			}
		}
	}
}

#sidebar .product_thumb {
	border: 1px solid #eee;
	width: auto;
}

// Program Widget
.thim-widget-program {
  .thim_program_container{
	  .thim_program {
			.item-program {
			  	margin-bottom: 30px;
			  	.image-program {

			  		&:hover{
			  			img{
			  				.scale(1.1,1.1); 
			  			}
			  			.title-program {
		  					padding-top: 30px;
		  					background: black;
		  					opacity: 0.8;

		  				}
			  		}
				  	position: relative;
				  	overflow: hidden;
				  	img {
				  		.transition(all .5s ease-in-out);
					  	width: 100%;
					}
				  	.title-program {
				  		.transition(all .5s ease-in-out);
						position: absolute;
					  	width: 100%;
						bottom: 0;
						background: white;
						background: -webkit-linear-gradient(transparent, black);
						background: -o-linear-gradient(transparent, black);
						background: -moz-linear-gradient(transparent, black);
						background: linear-gradient(transparent, black);
						padding-bottom: 30px;
					  padding-left: 30px;
					  padding-right: 30px;
					  	a {
						  	font-size: 20px;
						  	font-weight: 700;
						  	color: #fff;
						}
					}
				}
			}
		.thim-program-slider {
		  .owl-controls {
			.owl-nav {
			  position: absolute;
			  right: 15px;
			  top: -70px;
			  .owl-next, .owl-prev {
				width: 30px;
				height: 30px;
				margin-left: 10px;
				line-height: 28px;
				border: 1px solid;
				border-radius: 50%;
				display: inline-block;
				text-align: center;
			  }
			}
		  }
		}
	  }
  }
}
.brand-logos{
	.gallery-img.owl-carousel{
	.owl-stage-outer{
		.owl-item{
			padding: 15px 25px;
			img{
				-webkit-filter: grayscale(100%);
			    -moz-filter: grayscale(100%);
			    -ms-filter: grayscale(100%);
			    -o-filter: grayscale(100%);
			    filter: grayscale(100%);
			    //filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			    //filter: gray;
			    .transition(all .4s ease-in-out);
			    &:hover{
			    	-webkit-filter: grayscale(0%);
				    -moz-filter: grayscale(0%);
				    -ms-filter: grayscale(0%);
				    -o-filter: grayscale(0%);
				    filter: initial;
				  	//.transform(scale(1.05, 1.05));
			    }
			}
		} 
	}
} 
}
.thim_daily_support {
  position: relative;
  padding-bottom: 115px;
  .thim_item_support {
	margin-bottom: 30px;
	display: inline-block;
	width: 100%;
	&.left {
	  img {
		border-radius: 50%;
		float: left;
		width: 50px;
	  }
	  .thim_content_support {
		background-color: #fff;
		max-width: 364px;
		padding: 10px 15px;
		color: #000000;
		border-radius: 15px;
		margin-left: 20px;
		position: relative;
		float: left;
		width: -moz-calc(~"100% - 75px");
		width: -webkit-calc(~"100% - 75px");
		width: calc(~"100% - 75px");
		&:before {
		  content: "";
		  position: absolute;
		  top: 15px;
		  left: -8px;
		  width: 0;
		  height: 0;
		  border-top: 10px solid transparent;
		  border-bottom: 10px solid transparent;
		  border-right: 10px solid #fff;
		}
	  }
	}
	&.right {
	  img {
		border-radius: 50%;
		float: right;
		width: 50px;
	  }
	  .thim_content_support {
		background-color: #56c7db;
		max-width: 364px;
		padding: 10px 15px;
		color: #000000;
		border-radius: 15px;
		position: relative;
		float: right;
		width: -moz-calc(~"100% - 75px");
		width: -webkit-calc(~"100% - 75px");
		width: calc(~"100% - 75px");
		&:before {
		  content: "";
		  position: absolute;
		  top: 15px;
		  right: -8px;
		  width: 0;
		  height: 0;
		  border-top: 10px solid transparent;
		  border-bottom: 10px solid transparent;
		  border-left: 10px solid #56c7db;
		}
	  }
	}
	&:after {
	  clear: both;
	  content: "";
	  display: table;
	}
  }
  &:after {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 2px;
	height: 80px;
	content: "";
	background-color: #ffffff;
  }
}
.thim-list-posts {
  &.health_2 {
	.item-post {
	  margin-bottom: 50px;
	  position: relative;
	  padding-left: 70px;
	  .date-meta {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 34px;
		font-weight: 700;
		height: 51px;
		border-right: 1px solid #eee;
		width: 71px;
		float: left;
		line-height: 26px;
		i {
		  font-size: 14px;
		  text-transform: uppercase;
		  font-style: normal;
		  font-weight: 700;
		  display: block;
		  line-height: 40px;
		}
	  }
	  .article-image {
		float: left;
		position: relative;
		width: 270px;
		.entry-category{
		  position: absolute;
		  top: 0;
		  right: 0;
		  display: inline-block;
		  padding: 0 20px;
		  a{
			font-size: 12px;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 100%;
		  }
		}
	  }
	  .entry-content {
		width: -moz-calc(~"100% - 300px");
		width: -webkit-calc(~"100% - 300px");
		width: calc(~"100% - 300px");
		float: right;
		.entry-header {
		  margin-top: 0;
		  margin-bottom: 15px;
		}
		.main-content {
		  .learn-more {
			text-transform: uppercase;
			font-size: 13px;
			font-family: Montserrat;
			font-weight: 700;
		  }
		}
	  }
	  &:after {
		clear: both;
		display: table;
		content: "";
	  }
	}
  }
  .item-post {
	.article-image {
	  overflow: hidden;
	  img {
		.transition(all .5s ease-in-out);
		width: 100%;
	  }
	  &:hover {
		img{
		  //.scale(1.1,1.1);

		}
	  }
	}
  }
}
.become_health {
  .widget_text {
	ul {
	  margin-left: 0;
	  margin-top: 20px;
	  li {
		padding: 10px 0;
		list-style: none;
		font-weight: bold;
		i {
		  font-size: 20px;
		  width: 25px;
		  margin-right: 15px;
		}
	  }
	}
  }
}
.new_heading {
  .sc_heading {
	.sub-heading {
	  font-size: 18px!important;
	  margin-top: 15px!important;
	}
  }
}
.about_program {
  .video_popup {
	position: relative;
	i {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-left: -25px;
	  margin-top: -25px;
	  background-color: #ffffff;
	  .transition(all 0.3s ease-in-out);
	  &:hover {
		color: #ffffff;
	  }
	}
  }
}
.dark_control {
  div {
	&.thim-course-carousel {
	  .owl-controls {
		top: -70px;
		.owl-nav {
		  .owl-prev, .owl-next {
			border-color: #666666;
			i {
			  color: #666666;
			}
		  }
		}
	  }
	}
  }
}
.thim-course-grid {
  &.bussiness {
	.course-item {
	  overflow: hidden;
	  position: relative;
	  .course-thumbnail {
		position: relative;
		.course-price {
		  position: absolute;
		  top: 10px;
		  right: 10px;
		  z-index: 10;
		  .value {
			background-color: #f0ba18;
			font-size: 16px;
			color: #ffffff;
			line-height: 26px;
			font-weight: 900;
			padding: 0 10px;
			&.free-course {
			  background-color: #55b823;
			}
		  }
		}
		&:before {
		  display: none;
		}
	  }
	  .thim-bussiness-content {
		position: absolute;
		bottom: -105px;
		left: 0;
		width: 100%;
		text-align: center;
		color: #ffffff;
		padding: 0 24px;
		padding-top: 150px;
		z-index: 10;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		.transition(all .4s ease-in-out);
		.course-title {
		  margin: 0;
		  margin-bottom: 15px;
		  a {
			color: #ffffff;
			font-size: 20px;
			display: block;
			line-height: 1.4;
		  }
		}
		.course-review {
		  .review-stars-rated {
			float: none;
		  }
		}
		.course-author {
		  text-align: left;
		  padding: 20px 0;
		  img {
			display: inline-block;
			vertical-align: middle;
			border-radius: 50%;
			margin-right: 10px;
		  }
		  .author-contain {
			display: inline-block;
			vertical-align: middle;
			label {
			  display: none;
			}
			a {
			  color: #ffffff;
			}
		  }
		}
		.course-wishlist-box {
		  position: absolute;
		  right: 25px;
		  bottom: 26px;
		  .text {
			display: none;
		  }
		}
	  }
	  &:hover {
		.thim-bussiness-content {
		  bottom: 0;
		}
	  }
	}
  }
}
.thim-widget-courses {
  .view_all.bussiness {
	margin-top: 20px;
	.view-all-courses {
	  border-radius: 0;
	  color: #333333;
	  line-height: 40px;
	  padding: 0 40px;
	  font-size: 14px;
	  border: solid 1px #000000;
	  &:hover {
		color: #ffffff;
	  }
	}
  }
}
.thim_ovelay_color {
  position: relative;
  &:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	background-color: rgba(0,0,0,0.6);
  }
}
.thim-list-event-business {
  .item-event {
	color: #ffffff;
	padding-bottom: 38px;
	margin-bottom: 38px;
	border-bottom: 1px solid #eeeeee;
	.date_event {
	  font-family: Roboto;
	  font-size: 16px;
	  font-weight: 900;
	}
	.title_event {
	  h2 {
		margin: 0;
		line-height: 25px;
		a {
		  font-family: Montserrat;
		  font-size: 20px;
		  font-weight: bold;
		  color: #999999;
		  &:hover {
			color: #ffffff;
		  }
		}
	  }
	}
	&:last-child {
	  padding-bottom: 0;
	  border-bottom: none;
	  margin-bottom: 0;
	}
	&.feature-item {
	  padding-right: 70px;
	  .info_event {
		.date_event {
		  width: 110px;
		  text-align: center;
		  float: left;
		  padding-right: 40px;
		  font-size: 20px;
		  font-weight: 300;
		  box-sizing: content-box;
		  text-transform: uppercase;
		  h4 {
			font-size: 100px;
			line-height: 70px;
			display: inline-block;
			font-weight: 300;
			margin-bottom: 22px;
			font-family: Roboto;
		  }
		}
		.title_event {
		  float: left;
		  width: calc(~"100% - 150px");
		  width: -webkit-calc(~"100% - 150px");
		  width: -moz-calc(~"100% - 150px");
		  h2 {
			border-bottom: 1px solid rgba(238,238,238,0.5);
			padding-bottom: 24px;
			line-height: 30px;
			a {
			  color: #FFFFFF;
			  font-size: 26px;
			}
		  }
		  .meta_event {
			margin-top: 10px;
			span {
			  display: block;
			  line-height: 32px;
			  color: #999999;
			  i {
				width: 25px;
			  }
			}
		  }
		}
		&:after {
		  clear: both;
		  content: "";
		  display: table;
		}
	  }
	  .content_event {
		margin-top: 28px;
		line-height: 26px;
		text-align: justify;
		margin-bottom: 55px;
	  }
	  .view_detail {
		a {
		  font-size: 14px;
		  font-weight: bold;
		  color: #ffffff;
		  display: inline-block;
		  text-transform: uppercase;
		  line-height: 40px;
		  padding: 0 40px;
		  border: 1px solid;
		}
	  }
	}
  }
}