.thim-timeline-slider {
	.owl-nav > div {
		position: absolute;
		top: 50%;
	}

	.owl-item {
		padding: 0 20px;
	}

	.item {
		position: relative;
		margin-bottom: 100px;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -26px;
			left: 50%;
			.transform(translate(-50%,0));
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 26px 9px 0 9px;
			border-color: #ffffff transparent transparent transparent;
		}

		.top {
			background-color: #fff;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 30px;
		}

		.bottom {
			position: absolute;
			bottom: -104px;
			left: 50%;
			.transform(translate(-50%,0));
			color: #fff;
			text-align: center;

			.dot {
				width: 10px;
				height: 10px;
				.rounded(50%);
				background-color: #fff;
				display: inline-block;
			}

			.time {
				text-transform: uppercase;
				font-size: 12px;
				line-height: 30px;
				font-family: @thim_font_title_font_family;
			}
		}
	}

	.title {
		font-size: 20px;
		font-weight: 700;
		position: relative;
		padding-top: 20px;
        margin-bottom: 15px;
        padding-bottom: 2px;
		&:after {
			content: '';
			width: 30px;
			height: 2px;
			display: table;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	.description {
		padding-bottom: 30px;
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: #fff;
		margin-bottom: 50px;
		position: relative;
		top: -40px;
	}

	.owl-controls {
		.opacity(0);
		.transition(all 0.4s ease-in-out 0s);
	}

	&:hover {
		.owl-controls {
			.opacity(1);
		}
	}

	.owl-nav {
		color: #fff;

		.owl-prev {
			left: -50px;
		}

		.owl-next {
			right: -50px;

		}

		i {
			font-size: 18px;
			border: 2px solid #fff;
			padding: 5px 0;
			border-radius: 50%;
			width: 30px;
            line-height: 16px;
            font-weight: 700;
            text-align: center;
		}
	}
}

