#toolbar {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
	border-bottom: 1px solid rgba(102, 102, 102, 0.35);
	.widget_login-popup,
	.widget_login-menu {
		float: right;
		.thim-widget-login-menu {
			line-height: 30px;
			a {
				padding: 0 12px;
				line-height: 20px;
				display: inline-block;
				&:last-child {
					padding-right: 0;
				}
				&:first-child {
					padding-left: 0;
				}
			}
			.thim-link-login {
				a {
					&:first-child { 
						border-right: 1px solid #212121;
					}
				}
			}
		}
	}
	.widget_login-popup{
	  .acc {
		display: inline-block;
		margin-right: 0;
		margin-left: 15px;
	  }
		a{
			border-radius: 0;
		  line-height: 16px;
		  &.logout {
			border-left: none;
			padding-left: 5px;
			margin-left: 0;
		  }
		  &.login {
			border-left: none;
			padding-left: 5px;
		  }
		  &.profile, &.register_link {
			border-left: none;
			margin-left: 0;
			padding-left: 0;
			border-right: 1px solid rgba(255,255,255,.35);
			padding-right: 10px;
		  }
		}
		.thim-login{
			a{
				margin-left: 0;
				padding-left: 0;
			}
		}
		
	}
	.thim-language {
		float: right;
		margin-right: 10px;
	}

	.thim-social {
		float: right;
		margin: 0;

		a {
			&:hover {
				text-decoration: none;
			}
		}
		.social_link {
			> li {
				> span {
					display: none;
				}
			}
		}
	}
	a{
		&:hover{
			text-decoration: underline;
		}
	}
}

.thim-language {
	line-height: 30px;
	position: relative;
	ul {
		margin: 0;
		min-width: 130px;
		position: absolute;
		padding: 5px 20px;
		left: -20px;
		z-index: 99;
		background: #2B2B2B;
		display: none;
		li {
			list-style: none;
		}
	}
	.lang-item {
		line-height: 20px;
		display: inline-block;
		&.active {
			padding-right: 12px;
			border-right: 1px solid #212121;
			&:after {
				content: "\f107";
				display: inline-block;
				padding-left: 5px;
				line-height: 18px;
				font-family: FontAwesome;
				vertical-align: bottom;
			}
		}
		img {
			max-height: 10px;
			width: auto;
			margin-right: 7px;
		}
	}
	.list-lang {
		.lang-item {
			display: block;
			line-height: 24px;
		}
	}
}

.thim-have-any-question {
	float: left;
	line-height: 30px;
	.mobile,
	.email {
		display: inline-block;
		margin-left: 30px;
		line-height: 30px;
		.fa {
			margin-right: 10px;
		  font-size: 14px;
		}
	}
	.mobile{
		margin-left: 0;
	}
}

.thim-login-popup{
  .acc {
	display: inline-block;
	margin-right: 5px;
  }
	a{
		line-height: 25px;
		display: inline-block;
		padding: 0;
		border-radius: 15px;
		color: #fff;
		font-weight: 700;
		&:hover{
			text-decoration: underline;
		}
	  &.logout {
		display: inline-block;
		float: none;
	  }
	}
}

.header_v2 {
  #toolbar {
	padding-bottom: 3px;
	padding-top: 3px;
	border-bottom: 1px solid #e3e3e3;
	text-align: right;
	aside {
	  float: none;
	  margin-left: 15px;
	  display: inline-block!important;
	  vertical-align: top;
	  .thim-have-any-question {
		.email, .mobile {
		  margin-left: 0;
		  margin-right: 0;
		  font-weight: bold;
		  font-size: 12px;
		  color: #666666;
		  a {
			font-size: 15px;
			color: @thim_body_primary_color;
		  }
		}
	  }
	}
	.widget_login-popup {
	  a {
		padding-left: 0;
		margin-left: 0;
	  }
	}
  }
  .width-logo {
	padding-bottom: 15px;
	padding-top: 15px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	img {
	  -webkit-transition: all .3s ease-in-out;
	  -moz-transition: all .3s ease-in-out;
	  -o-transition: all .3s ease-in-out;
	  -ms-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out;
	}
  }
  &.affix {
	&.menu-scroll-v2 {
	  .width-logo {
		padding-bottom: 10px;
		padding-top: 10px;
		img {
		  margin-top: 38px;

		}
	  }
	}
  }
}